<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Создание пользователя</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link th:href="@{/app/css/vendors/flatpickr.min.css}" rel="stylesheet">
    <link th:href="@{/app/style.css}" rel="stylesheet">
  <link type="image/x-icon" th:href="@{/images/favicon.ico}" rel="shortcut icon">
</head>

<body class="font-inter antialiased bg-slate-100 text-slate-600"
      :class="{ 'sidebar-expanded': sidebarExpanded }"
      x-data="{ sidebarOpen: false, sidebarExpanded: localStorage.getItem('sidebar-expanded') == 'true' }"
      x-init="$watch('sidebarExpanded', value => localStorage.setItem('sidebar-expanded', value))">

    <script>
        if (localStorage.getItem('sidebar-expanded') == 'true') {
            document.querySelector('body').classList.add('sidebar-expanded');
        } else {
            document.querySelector('body').classList.remove('sidebar-expanded');
        }
    </script>

    <!-- Page wrapper -->
    <div class="flex h-screen overflow-hidden">

      <!-- Sidebar -->
      <div th:insert="~{/app/_fragments.html :: sidebar}">

      </div>

        <!-- Content area -->
        <div class="relative flex flex-col flex-1 overflow-y-auto overflow-x-hidden">

          <!-- Header -->
          <header class="sticky top-0 bg-white border-b border-slate-200 z-30" th:insert="~{/app/_fragments.html :: header}">

          </header>


            <main>

              <div class="px-4 sm:px-6 lg:px-8">
                <div class="flex items-center justify-end h-16 -mb-px">


                  <a class="block rounded-full bg-slate-100 text-slate-500 hover:text-slate-600" th:href="@{/adminuserslist/1}">
                    <span class="sr-only">Back</span>
                    <svg width="32" height="32" viewBox="0 0 32 32">
                      <path class="fill-current" d="M15.95 14.536l4.242-4.243a1 1 0 111.415 1.414l-4.243 4.243 4.243 4.242a1 1 0 11-1.415 1.415l-4.242-4.243-4.243 4.243a1 1 0 01-1.414-1.415l4.243-4.242-4.243-4.243a1 1 0 011.414-1.414l4.243 4.243z"></path>
                    </svg>
                  </a>

                </div>
              </div>

                <div class="relative pt-8">
                    <div class="absolute inset-0 bg-slate-800 overflow-hidden" aria-hidden="true">
                        <img class="object-cover h-full w-full filter blur opacity-10" th:src="@{/image/adminrooms.jpg}" width="460" height="180" alt="Room" />
                    </div>
                    <div class="relative px-4 sm:px-6 lg:px-8 max-w-lg mx-auto">
                        <img class="rounded-t shadow-lg" th:src="@{/image/adminrooms.jpg}" width="460" height="180" alt="Room" />
                    </div>
                </div>

                <div class="relative px-4 sm:px-6 lg:px-8 pb-8 max-w-lg mx-auto" x-data="{ card: true }">
                    <div class="bg-white px-8 pb-6 rounded-b shadow-lg">

                        <!-- Card header -->
                        <div class="text-center mb-6">
                            <h1 class="text-xl leading-snug text-slate-800 font-semibold mb-2" style="padding-top: 1em"
                                >Создание пользователя</h1>
                        </div>
                        <!-- Card form -->
                      <div x-show="card">

                         <form th:action="@{/adminusercreateprocess}" th:object="${user}" method="post">
                            <div class="space-y-4">
                              <div>
                                <label class="block text-sm font-medium mb-1" for="username">Почта <span class="text-rose-500">*</span></label>
                                <input id="username" th:if='${errors.get("username") == "incorrect"}' class="form-input w-full border-rose-300" type="email" name="username" th:value="*{username}"/>
                                <input id="username" th:if='${errors.get("username") == "correct"}' class="form-input w-full border-emerald-300" type="email" name="username" th:value="*{username}"/>
                                <input id="username" th:if='${!errors.containsKey("username")}' class="form-input w-full" type="email" name="username" th:value="*{username}"/>
                                <div class="text-xs mt-1 text-rose-500"
                                     th:if='${errors.get("username") == "incorrect"}'>Неверный email адрес</div>
                              </div>
                              <div>
                                <label class="block text-sm font-medium mb-1" for="password">Password <span class="text-rose-500">*</span></label>
                                <input id="password" th:if='${errors.get("password") == "incorrect"}' class="form-input w-full border-rose-300" type="password" name="password" th:value="*{password}"/>
                                <input id="password" th:if='${errors.get("password") == "correct"}' class="form-input w-full border-emerald-300" type="password" name="password" th:value="*{password}"/>
                                <input id="password" th:if='${!errors.containsKey("password")}' class="form-input w-full" type="password" name="password" th:value="*{password}"/>
                                <div class="text-xs mt-1 text-rose-500"
                                     th:if='${errors.get("password") == "incorrect"}'>Пароль должен иметь не менее 6 символов</div>
                              </div>
                              <div>
                                <label class="block text-sm font-medium mb-1" for="firstname">Имя <span class="text-rose-500">*</span></label>
                                <input id="firstname" th:if='${errors.get("firstname") == "incorrect"}' class="form-input w-full border-rose-300" type="text" name="firstname" th:value="*{firstname}"/>
                                <input id="firstname" th:if='${errors.get("firstname") == "correct"}' class="form-input w-full border-emerald-300" type="text" name="firstname" th:value="*{firstname}"/>
                                <input id="firstname" th:if='${!errors.containsKey("firstname")}' class="form-input w-full" type="text" name="firstname" th:value="*{firstname}"/>
                                <div class="text-xs mt-1 text-rose-500"
                                     th:if='${errors.get("firstname") == "incorrect"}'>Имя должно иметь не менее 2 букв</div>
                              </div>
                              <div>
                                <label class="block text-sm font-medium mb-1" for="lastname">Фамилия <span class="text-rose-500">*</span></label>
                                <input id="lastname" th:if='${errors.get("lastname") == "incorrect"}' class="form-input w-full border-rose-300" type="text" name="lastname" th:value="*{lastname}"/>
                                <input id="lastname" th:if='${errors.get("lastname") == "correct"}' class="form-input w-full border-emerald-300" type="text" name="lastname" th:value="*{lastname}"/>
                                <input id="lastname" th:if='${!errors.containsKey("lastname")}' class="form-input w-full" type="text" name="lastname" th:value="*{lastname}"/>
                                <div class="text-xs mt-1 text-rose-500"
                                     th:if='${errors.get("lastname") == "incorrect"}'>Фамилия должно иметь не менее 2 букв</div>
                              </div>
                              <div>
                                <label class="block text-sm font-medium mb-1" for="phoneNumber">Номер телефона <span class="text-rose-500">*</span></label>
                                <input id="phoneNumber" th:if='${errors.get("phoneNumber") == "incorrect"}' class="form-input w-full border-rose-300" type="number" name="phoneNumber" th:value="*{phoneNumber}" pattern="[0-9+-]+"/>
                                <input id="phoneNumber" th:if='${errors.get("phoneNumber") == "correct"}' class="form-input w-full border-emerald-300" type="number" name="phoneNumber" th:value="*{phoneNumber}" pattern="[0-9+-]+"/>
                                <input id="phoneNumber" th:if='${!errors.containsKey("phoneNumber")}' class="form-input w-full" type="number" name="phoneNumber" th:value="*{phoneNumber}" pattern="[0-9+-]+"/>
                                <div class="text-xs mt-1 text-rose-500"
                                     th:if='${errors.get("phoneNumber") == "incorrect"}'>Неверный номер телефона</div>
                              </div>
                              <div>
                                <label class="block text-sm font-medium mb-1" for="birthDate">Дата рождения <span class="text-rose-500">*</span></label>
                                <input id="birthDate" th:if='${errors.get("birthDate") == "incorrect"}' class="form-input w-full border-rose-300" type="date" name="birthDate" th:value="*{birthDate}"/>
                                <input id="birthDate" th:if='${errors.get("birthDate") == "correct"}' class="form-input w-full border-emerald-300" type="date" name="birthDate" th:value="*{birthDate}"/>
                                <input id="birthDate" th:if='${!errors.containsKey("birthDate")}' class="form-input w-full" type="date" name="birthDate" th:value="*{birthDate}"/>
                                <div class="text-xs mt-1 text-rose-500"
                                     th:if='${errors.get("birthDate") == "incorrect"}'>Неверная дата рождения</div>
                              </div>
                            </div>
                            <div class="flex items-center justify-between mt-6">
                              <div class="mr-1">
                                <label class="flex items-center">
                                  <input type="checkbox" class="form-checkbox" />
                                  <span class="text-sm ml-2">Уведомления по почте</span>
                                </label>
                              </div>
                              <button class="btn bg-indigo-500 hover:bg-indigo-600 text-white ml-3 whitespace-nowrap" type="submit">Зарегистрироваться</button>
                            </div>
                          </form>
                    </div>
                </div>
            </main>

        </div>

    </div>

    <script th:src="@{/app/js/vendors/alpinejs.min.js}" defer></script>

    <script th:src="@{'https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js'}" type="text/javascript"></script>

    <script th:src="@{'https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js'}" type="text/javascript"></script>



</body>

</html>
