<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Новости</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link th:href="@{/app/css/vendors/flatpickr.min.css}" rel="stylesheet">
    <link th:href="@{/app/style.css}" rel="stylesheet">
  <link type="image/x-icon" th:href="@{/images/favicon.ico}" rel="shortcut icon">
</head>

<body
    class="font-inter antialiased bg-slate-100 text-slate-600"
    :class="{ 'sidebar-expanded': sidebarExpanded }"
    x-data="{ sidebarOpen: false, sidebarExpanded: localStorage.getItem('sidebar-expanded') == 'true' }"
    x-init="$watch('sidebarExpanded', value => localStorage.setItem('sidebar-expanded', value))"
>

    <script>
        if (localStorage.getItem('sidebar-expanded') == 'true') {
            document.querySelector('body').classList.add('sidebar-expanded');
        } else {
            document.querySelector('body').classList.remove('sidebar-expanded');
        }
    </script>

    <!-- Page wrapper -->
    <div class="flex h-screen overflow-hidden">

      <!-- Sidebar -->
      <div th:insert="~{/app/_fragments.html :: sidebar}">

      </div>

        <!-- Content area -->
        <div class="relative flex flex-col flex-1 overflow-y-auto overflow-x-hidden">

          <!-- Header -->
          <header class="sticky top-0 bg-white border-b border-slate-200 z-30" th:insert="~{/app/_fragments.html :: header}">

          </header>

            <main>
                <div class="px-4 sm:px-6 lg:px-8 py-8 w-full max-w-9xl mx-auto">

                    <!-- Page header -->
                    <div class="sm:flex sm:justify-between sm:items-center mb-8">


                        <!-- Left: Title -->
                        <div class="mb-4 sm:mb-0">
                            <h1 class="text-2xl md:text-3xl text-slate-800 font-bold">Управление новостями</h1>
                        </div>

                        <!-- Right: Actions -->
                        <div class="grid grid-flow-col sm:auto-cols-max justify-start sm:justify-end gap-2">
                           <!-- Add customer button -->
                          <form th:action="@{/adminnewscreate}" type="get">
                            <button class="btn bg-indigo-500 hover:bg-indigo-600 text-white" type="submit">
                              <svg class="w-4 h-4 fill-current opacity-50 shrink-0" viewBox="0 0 16 16">
                                <path d="M15 7H9V1c0-.6-.4-1-1-1S7 .4 7 1v6H1c-.6 0-1 .4-1 1s.4 1 1 1h6v6c0 .6.4 1 1 1s1-.4 1-1V9h6c.6 0 1-.4 1-1s-.4-1-1-1z"></path>
                              </svg>
                              <span class="ml-2">Создать новость</span>
                            </button>
                          </form>

                        </div>

                      <a class="btn-sm px-3 bg-white border-slate-200 hover:border-slate-300 text-slate-600" href="/adminpanel">
                        <svg class="fill-current text-slate-400 mr-2" width="7" height="12" viewBox="0 0 7 12">
                          <path d="M5.4.6 6.8 2l-4 4 4 4-1.4 1.4L0 6z"></path>
                        </svg>
                        <span>Вернуться назад</span>
                      </a>

                    </div>

                    <!--Оповещение об успешном создании номеров-->
                  <div x-data="{ modalOpen: true }" th:if="${createdNews}">
                    <!-- Modal backdrop -->
                    <div class="fixed inset-0 bg-slate-900 bg-opacity-30 z-50 transition-opacity" x-show="modalOpen" x-transition:enter="transition ease-out duration-200" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="transition ease-out duration-100" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" aria-hidden="true" style="display: none;"></div>
                    <!-- Modal dialog -->
                    <div id="success-modal" class="fixed inset-0 z-50 overflow-hidden flex items-center my-4 justify-center" role="dialog" aria-modal="true" x-show="modalOpen" x-transition:enter="transition ease-in-out duration-200" x-transition:enter-start="opacity-0 translate-y-4" x-transition:enter-end="opacity-100 translate-y-0" x-transition:leave="transition ease-in-out duration-200" x-transition:leave-start="opacity-100 translate-y-0" x-transition:leave-end="opacity-0 translate-y-4" style="display: none;">
                      <div class="bg-white rounded shadow-lg overflow-auto max-w-lg w-full max-h-full" @click.outside="modalOpen = false" @keydown.escape.window="modalOpen = false">
                        <div class="p-5 flex space-x-4">
                          <!-- Icon -->
                          <div class="w-10 h-10 rounded-full flex items-center justify-center shrink-0 bg-emerald-100">
                            <svg class="w-4 h-4 shrink-0 fill-current text-emerald-500" viewBox="0 0 16 16">
                              <path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zM7 11.4L3.6 8 5 6.6l2 2 4-4L12.4 6 7 11.4z"></path>
                            </svg>
                          </div>
                          <!-- Content -->
                          <div>
                            <!-- Modal header -->
                            <div class="mb-2">
                              <div class="text-lg font-semibold text-slate-800">Успешное создание</div>
                            </div>
                            <!-- Modal content -->
                            <div class="text-sm mb-10">
                              <div class="space-y-2">
                                <p th:text="|Вы создали ${createdNews.getNewsName().getRuName()}|">Описание процесса</p>
                              </div>
                            </div>
                            <!-- Modal footer -->
                            <div class="flex flex-wrap justify-end space-x-2">
                              <button class="btn-sm border-slate-200 hover:border-slate-300 text-slate-600" @click="modalOpen = false">Закрыть</button></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                  <!--Оповещение об успешном создании номеров-->
                  <div x-data="{ modalOpen: true }" th:if="${updateNews}">
                    <!-- Modal backdrop -->
                    <div class="fixed inset-0 bg-slate-900 bg-opacity-30 z-50 transition-opacity" x-show="modalOpen" x-transition:enter="transition ease-out duration-200" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="transition ease-out duration-100" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" aria-hidden="true" style="display: none;"></div>
                    <!-- Modal dialog -->
                    <div id="success-modal3" class="fixed inset-0 z-50 overflow-hidden flex items-center my-4 justify-center" role="dialog" aria-modal="true" x-show="modalOpen" x-transition:enter="transition ease-in-out duration-200" x-transition:enter-start="opacity-0 translate-y-4" x-transition:enter-end="opacity-100 translate-y-0" x-transition:leave="transition ease-in-out duration-200" x-transition:leave-start="opacity-100 translate-y-0" x-transition:leave-end="opacity-0 translate-y-4" style="display: none;">
                      <div class="bg-white rounded shadow-lg overflow-auto max-w-lg w-full max-h-full" @click.outside="modalOpen = false" @keydown.escape.window="modalOpen = false">
                        <div class="p-5 flex space-x-4">
                          <!-- Icon -->
                          <div class="w-10 h-10 rounded-full flex items-center justify-center shrink-0 bg-emerald-100">
                            <svg class="w-4 h-4 shrink-0 fill-current text-emerald-500" viewBox="0 0 16 16">
                              <path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zM7 11.4L3.6 8 5 6.6l2 2 4-4L12.4 6 7 11.4z"></path>
                            </svg>
                          </div>
                          <!-- Content -->
                          <div>
                            <!-- Modal header -->
                            <div class="mb-2">
                              <div class="text-lg font-semibold text-slate-800">Успешное изменение</div>
                            </div>
                            <!-- Modal content -->
                            <div class="text-sm mb-10">
                              <div class="space-y-2">
                                <p th:text="|Вы обновили данные новости - ${updateNews.getRuName()}|">Описание процесса</p>
                              </div>
                            </div>
                            <!-- Modal footer -->
                            <div class="flex flex-wrap justify-end space-x-2">
                              <button class="btn-sm border-slate-200 hover:border-slate-300 text-slate-600" @click="modalOpen = false">Закрыть</button></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!--Оповещение об успешном создании номеров-->
                  <div x-data="{ modalOpen: true }" th:if="${removeNews}">
                    <!-- Modal backdrop -->
                    <div class="fixed inset-0 bg-slate-900 bg-opacity-30 z-50 transition-opacity" x-show="modalOpen" x-transition:enter="transition ease-out duration-200" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="transition ease-out duration-100" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" aria-hidden="true" style="display: none;"></div>
                    <!-- Modal dialog -->
                    <div id="success-modal4" class="fixed inset-0 z-50 overflow-hidden flex items-center my-4 justify-center" role="dialog" aria-modal="true" x-show="modalOpen" x-transition:enter="transition ease-in-out duration-200" x-transition:enter-start="opacity-0 translate-y-4" x-transition:enter-end="opacity-100 translate-y-0" x-transition:leave="transition ease-in-out duration-200" x-transition:leave-start="opacity-100 translate-y-0" x-transition:leave-end="opacity-0 translate-y-4" style="display: none;">
                      <div class="bg-white rounded shadow-lg overflow-auto max-w-lg w-full max-h-full" @click.outside="modalOpen = false" @keydown.escape.window="modalOpen = false">
                        <div class="p-5 flex space-x-4">
                          <!-- Icon -->
                          <div class="w-10 h-10 rounded-full flex items-center justify-center shrink-0 bg-emerald-100">
                            <svg class="w-4 h-4 shrink-0 fill-current text-emerald-500" viewBox="0 0 16 16">
                              <path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zM7 11.4L3.6 8 5 6.6l2 2 4-4L12.4 6 7 11.4z"></path>
                            </svg>
                          </div>
                          <!-- Content -->
                          <div>
                            <!-- Modal header -->
                            <div class="mb-2">
                              <div class="text-lg font-semibold text-slate-800">Успешное удаление</div>
                            </div>
                            <!-- Modal content -->
                            <div class="text-sm mb-10">
                              <div class="space-y-2">
                                <p th:text="|Вы удалили новость - ${removeNews.getNewsName().getRuName()}|">Описание процесса</p>
                              </div>
                            </div>
                            <!-- Modal footer -->
                            <div class="flex flex-wrap justify-end space-x-2">
                              <button class="btn-sm border-slate-200 hover:border-slate-300 text-slate-600" @click="modalOpen = false">Закрыть</button></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                    <!-- Table -->
                    <div class="bg-white shadow-lg rounded-sm border border-slate-200 mb-8">
                        <div x-data="handleSelect">

                            <!-- Table -->
                            <div class="overflow-x-auto">
                              <ul>
                                <!-- Cart item -->
                                <li class="sm:flex items-center py-6 border-b border-slate-200 p-2" th:each="newss : ${news}">
                                  <a class="block mb-4 sm:mb-0 mr-5 md:w-32 xl:w-auto shrink-0" href="#0">
                                    <img class="rounded-sm" th:src="|@{/image/news/}${newss.getImageLink()}|" width="200" height="142" alt="News image">
                                  </a>
                                  <div class="grow">
                                    <a href="#0">
                                      <h3 class="text-lg font-semibold text-slate-800 mb-1" th:text="|${newss.getNewsName().getRuName()}|">Название</h3>
                                    </a>
                                    <div class="text-sm mb-2" th:text="${newss.getNewsDescription().getRuName()}">Описание</div>
                                    <!-- Product meta -->
                                    <div class="flex flex-wrap items-center justify-between">
                                      <form th:action="@{/adminnews/updatepage/{id}(id=${newss.getId()})}" method="get">
                                        <button class="btn border-slate-200 hover:border-slate-300 text-slate-600" type="submit">
                                          <svg class="w-4 h-4 fill-current text-slate-500 shrink-0" viewBox="0 0 16 16">
                                            <path d="M11.7.3c-.4-.4-1-.4-1.4 0l-10 10c-.2.2-.3.4-.3.7v4c0 .6.4 1 1 1h4c.3 0 .5-.1.7-.3l10-10c.4-.4.4-1 0-1.4l-4-4zM4.6 14H2v-2.6l6-6L10.6 8l-6 6zM12 6.6L9.4 4 11 2.4 13.6 5 12 6.6z"></path>
                                          </svg>
                                          <span class="ml-2">Изменить</span>
                                        </button>
                                      </form>

                                      <form th:action="@{/adminnews/delete/{id}(id=${newss.getId()})}" method="post">
                                        <button class="btn border-slate-200 hover:border-slate-300 text-rose-500" type="submit">
                                          <svg class="w-4 h-4 fill-current shrink-0" viewBox="0 0 16 16">
                                            <path d="M5 7h2v6H5V7zm4 0h2v6H9V7zm3-6v2h4v2h-1v10c0 .6-.4 1-1 1H2c-.6 0-1-.4-1-1V5H0V3h4V1c0-.6.4-1 1-1h6c.6 0 1 .4 1 1zM6 2v1h4V2H6zm7 3H3v9h10V5z"></path>
                                          </svg>
                                          <span class="ml-2">Удалить</span>
                                        </button>
                                      </form>
                                    </div>
                                  </div>
                                </li>
                              </ul>

                            </div>
                        </div>
                    </div>

                </div>
            </main>

        </div>

    </div>

    <script th:src="@{/app/js/vendors/alpinejs.min.js}" defer></script>



</body>

</html>
