<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Админская панель</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link th:href="@{/app/css/vendors/flatpickr.min.css}" rel="stylesheet">
    <link th:href="@{/app/style.css}" rel="stylesheet">
  <link type="image/x-icon" th:href="@{/images/favicon.ico}" rel="shortcut icon">
</head>

<body
    class="font-inter antialiased bg-slate-100 text-slate-600"
    :class="{ 'sidebar-expanded': sidebarExpanded }"
    x-data="{ sidebarOpen: false, sidebarExpanded: localStorage.getItem('sidebar-expanded') == 'true' }"
    x-init="$watch('sidebarExpanded', value => localStorage.setItem('sidebar-expanded', value))"
>

    <script>
        if (localStorage.getItem('sidebar-expanded') == 'true') {
            document.querySelector('body').classList.add('sidebar-expanded');
        } else {
            document.querySelector('body').classList.remove('sidebar-expanded');
        }
    </script>

    <!-- Page wrapper -->
    <div class="flex h-screen overflow-hidden">

      <!-- Sidebar -->
      <div th:insert="~{/app/_fragments.html :: sidebar}">

      </div>

        <!-- Content area -->
        <div class="relative flex flex-col flex-1 overflow-y-auto overflow-x-hidden">

          <!-- Header -->
          <header class="sticky top-0 bg-white border-b border-slate-200 z-30" th:insert="~{/app/_fragments.html :: header}">

          </header>

            <main>
                <div class="px-4 sm:px-6 lg:px-8 py-8 w-full max-w-9xl mx-auto">

                    <!-- Page header -->
                    <div class="mb-8">

                        <!-- Title -->
                        <h1 class="text-2xl md:text-3xl text-slate-800 font-bold">Профиль гостя ✨</h1>

                    </div>

                    <div class="bg-white shadow-lg rounded-sm mb-8">
                        <div class="flex flex-col md:flex-row md:-mr-px">

                            <!-- Sidebar -->
                            <div class="flex flex-nowrap overflow-x-scroll no-scrollbar md:block md:overflow-auto px-3 py-6 border-b md:border-b-0 md:border-r border-slate-200 min-w-60 md:space-y-3">
                              <!-- Group 1 -->
                              <div>
                                <div class="text-xs font-semibold text-slate-400 uppercase mb-3">Настройки</div>
                                <ul class="flex flex-nowrap md:block mr-3 md:mr-0">
                                  <li class="mr-0.5 md:mr-0 md:mb-0.5">
                                    <a class="flex items-center px-2.5 py-2 rounded whitespace-nowrap" th:href="@{/profile}">
                                      <svg class="w-4 h-4 shrink-0 fill-current text-slate-400 mr-2" viewBox="0 0 16 16">
                                        <path d="M12.311 9.527c-1.161-.393-1.85-.825-2.143-1.175A3.991 3.991 0 0012 5V4c0-2.206-1.794-4-4-4S4 1.794 4 4v1c0 1.406.732 2.639 1.832 3.352-.292.35-.981.782-2.142 1.175A3.942 3.942 0 001 13.26V16h14v-2.74c0-1.69-1.081-3.19-2.689-3.733zM6 4c0-1.103.897-2 2-2s2 .897 2 2v1c0 1.103-.897 2-2 2s-2-.897-2-2V4zm7 10H3v-.74c0-.831.534-1.569 1.33-1.838 1.845-.624 3-1.436 3.452-2.422h.436c.452.986 1.607 1.798 3.453 2.422A1.943 1.943 0 0113 13.26V14z" />
                                      </svg>
                                      <span class="text-sm font-medium text-slate-600 hover:text-slate-700">Мой аккаунт</span>
                                    </a>
                                  </li>
                                  <li class="mr-0.5 md:mr-0 md:mb-0.5">
                                    <a class="flex items-center px-2.5 py-2 rounded whitespace-nowrap"  th:href="@{/loyalty}">
                                      <svg class="w-4 h-4 shrink-0 fill-current text-slate-400 mr-2" viewBox="0 0 16 16">
                                        <path d="M14.3.3c.4-.4 1-.4 1.4 0 .4.4.4 1 0 1.4l-8 8c-.2.2-.4.3-.7.3-.3 0-.5-.1-.7-.3-.4-.4-.4-1 0-1.4l8-8zM15 7c.6 0 1 .4 1 1 0 4.4-3.6 8-8 8s-8-3.6-8-8 3.6-8 8-8c.6 0 1 .4 1 1s-.4 1-1 1C4.7 2 2 4.7 2 8s2.7 6 6 6 6-2.7 6-6c0-.6.4-1 1-1z" />
                                      </svg>
                                      <span class="text-sm font-medium text-slate-600 hover:text-slate-700">Программа лояльности</span>
                                    </a>
                                  </li>
                                  <li class="mr-0.5 md:mr-0 md:mb-0.5" th:if="${currentUser.getRole().getAuthority().equals('ADMIN')}">
                                    <a class="flex items-center px-2.5 py-2 rounded whitespace-nowrap bg-indigo-50" th:href="@{/adminpanel}">
                                      <svg class="w-4 h-4 shrink-0 fill-current text-indigo-400 mr-2" viewBox="0 0 16 16">
                                        <path d="M5 9h11v2H5V9zM0 9h3v2H0V9zm5 4h6v2H5v-2zm-5 0h3v2H0v-2zm5-8h7v2H5V5zM0 5h3v2H0V5zm5-4h11v2H5V1zM0 1h3v2H0V1z"></path>
                                      </svg>
                                      <span class="text-sm font-medium text-indigo-500">Админская панель</span>
                                    </a>
                                  </li>
                                </ul>
                              </div>
                            </div>

                            <!-- Panel -->
                            <div class="grow">

                                <!-- Panel body -->
                                <div class="p-6 space-y-6">

                                    <!-- Plans -->
                                    <section>
                                        <div class="mb-8">
                                            <h2 class="text-2xl text-slate-800 font-bold mb-4">Админская панель</h2>
                                        </div>

                                        <div class="px-5 py-6">

                                          <div>
                                            <!-- Grid -->
                                            <div class="grid sm:grid-cols-2 lg:grid-cols-4 lg:sidebar-expanded:grid-cols-2 xl:sidebar-expanded:grid-cols-4 gap-6">


                                              <!-- Item -->
                                              <div class="bg-slate-100 rounded-sm text-center p-5">
                                                <div class="flex flex-col h-full">
                                                  <div class="grow mb-2">
                                                    <!-- Icon -->
                                                    <div class="inline-flex w-12 h-12 rounded-full bg-indigo-400">
                                                      <svg class="w-12 h-12" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                                                        <defs>
                                                          <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="icon2-a">
                                                            <stop stop-color="#FFF" offset="0%"></stop>
                                                            <stop stop-color="#A5B4FC" offset="100%"></stop>
                                                          </linearGradient>
                                                        </defs>
                                                        <g fill-rule="nonzero" fill="none">
                                                          <path d="M26.5 19c4.695 0 8.5 3.184 8.5 7.111 0 1.597-.638 3.067-1.7 4.253V35l-4.108-2.148a10 10 0 0 1-2.692.37c-4.695 0-8.5-3.184-8.5-7.11C18 22.183 21.805 19 26.5 19Z" fill="#4F46E5" opacity=".88"></path>
                                                          <path d="M23 13c-5.523 0-10 3.582-10 8 0 1.797.75 3.45 2 4.785V31l4.833-2.416c.996.266 2.059.416 3.167.416 5.523 0 10-3.582 10-8s-4.477-8-10-8Z" fill="url(#icon2-a)"></path>
                                                        </g>
                                                      </svg>
                                                    </div>
                                                    <!-- Content -->
                                                    <h3 class="text-lg font-semibold text-slate-800 mb-1">Управление номерами</h3>
                                                    <div class="text-sm">Создание, редактирование и удаление новых номеров, их типов и удобств</div>
                                                  </div>
                                                  <!-- Link -->
                                                  <div>
                                                    <a class="text-sm font-medium text-indigo-500 hover:text-indigo-600" th:href="@{/adminroomslist}">Перейти -&gt;</a>
                                                  </div>
                                                </div>
                                              </div>

                                              <!-- Item -->
                                              <div class="bg-slate-100 rounded-sm text-center p-5">
                                                <div class="flex flex-col h-full">
                                                  <div class="grow mb-2">
                                                    <!-- Icon -->
                                                    <div class="inline-flex w-12 h-12 rounded-full bg-indigo-400">
                                                      <svg class="w-12 h-12" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                                                        <defs>
                                                          <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="icon3-a">
                                                            <stop stop-color="#FFF" offset="0%"></stop>
                                                            <stop stop-color="#A5B4FC" offset="100%"></stop>
                                                          </linearGradient>
                                                        </defs>
                                                        <g fill-rule="nonzero" fill="none">
                                                          <circle fill="url(#icon3-a)" cx="30.5" cy="17.5" r="4.5"></circle>
                                                          <circle fill="#4F46E5" opacity=".88" cx="17.5" cy="17.5" r="4.5"></circle>
                                                          <circle fill="#4F46E5" opacity=".88" cx="30.5" cy="30.5" r="4.5"></circle>
                                                          <circle fill="url(#icon3-a)" cx="17.5" cy="30.5" r="4.5"></circle>
                                                        </g>
                                                      </svg>
                                                    </div>
                                                    <!-- Content -->
                                                    <h3 class="text-lg font-semibold text-slate-800 mb-1">Управление пользователями</h3>
                                                    <div class="text-sm">Создание, удаление и редактирование пользователей</div>
                                                  </div>
                                                  <!-- Link -->
                                                  <div>
                                                    <a class="text-sm font-medium text-indigo-500 hover:text-indigo-600" th:href="@{/adminuserslist/1}">Перейти -&gt;</a>
                                                  </div>
                                                </div>
                                              </div>

                                              <!-- Item -->
                                              <div class="bg-slate-100 rounded-sm text-center p-5">
                                                <div class="flex flex-col h-full">
                                                  <div class="grow mb-2">
                                                    <!-- Icon -->
                                                    <div class="inline-flex w-12 h-12 rounded-full bg-indigo-400">
                                                      <svg class="w-12 h-12" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                                                        <defs>
                                                          <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="icon4-a">
                                                            <stop stop-color="#FFF" offset="0%"></stop>
                                                            <stop stop-color="#A5B4FC" offset="100%"></stop>
                                                          </linearGradient>
                                                        </defs>
                                                        <g fill-rule="nonzero" fill="none">
                                                          <path d="M34.327 18.194H10.12c-.495 0-.897.358-.897.798v14.404c0 .44.402.798.897.798h24.207c.495 0 .896-.357.896-.798V18.992c0-.44-.401-.798-.896-.798Z" fill="#4F46E5" opacity=".88"></path>
                                                          <path d="M29.09 0H4.883c-.494 0-.896.357-.896.798v14.404c0 .44.402.798.896.798H29.09c.495 0 .897-.357.897-.798V.798c0-.44-.402-.798-.897-.798Z" fill="url(#icon4-a)" transform="rotate(-8 126.748 -40.297)"></path>
                                                          <path d="M25.194 25.777a3 3 0 1 1-.835-5.942 3 3 0 0 1 .835 5.942Z" fill="#6366F1" opacity=".72"></path>
                                                        </g>
                                                      </svg>
                                                    </div>
                                                    <!-- Content -->
                                                    <h3 class="text-lg font-semibold text-slate-800 mb-1">Управление едой</h3>
                                                    <div class="text-sm">Создание, удаление и редактирование блюд и напитков</div>
                                                  </div>
                                                  <!-- Link -->
                                                  <div>
                                                    <a class="text-sm font-medium text-indigo-500 hover:text-indigo-600" th:href="@{/adminfoodlist}">Перейти -&gt;</a>
                                                  </div>
                                                </div>
                                              </div>

                                              <!-- Item -->
                                              <div class="bg-slate-100 rounded-sm text-center p-5">
                                                <div class="flex flex-col h-full">
                                                  <div class="grow mb-2">
                                                    <!-- Icon -->
                                                    <div class="inline-flex w-12 h-12 rounded-full bg-indigo-400">
                                                      <svg class="w-12 h-12" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                                                        <defs>
                                                          <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="icon5-a">
                                                            <stop stop-color="#FFF" offset="0%"></stop>
                                                            <stop stop-color="#A5B4FC" offset="100%"></stop>
                                                          </linearGradient>
                                                        </defs>
                                                        <g fill-rule="nonzero" fill="none">
                                                          <path d="M31.074 20.692a5.516 5.516 0 0 0-7.878-1.107c-.172.133-.311.293-.463.44-.106-.184-.196-.375-.324-.55a5.516 5.516 0 0 0-7.878-1.108c-2.49 1.932-3 5.56-1.14 8.103l7.142 9.207 9.402-6.882c2.49-1.931 3-5.56 1.139-8.103Z" fill="#4F46E5" opacity=".88"></path>
                                                          <path d="M20.353 2.998a5.516 5.516 0 0 0-7.955 0c-.152.156-.268.333-.398.5-.13-.167-.246-.344-.398-.5a5.516 5.516 0 0 0-7.955 0c-2.196 2.26-2.196 5.924 0 8.183L12 19.304l8.353-8.123c2.196-2.26 2.196-5.924 0-8.183Z" fill="url(#icon5-a)" transform="rotate(16 -34.482 60.533)"></path>
                                                        </g>
                                                      </svg>
                                                    </div>
                                                    <!-- Content -->
                                                    <h3 class="text-lg font-semibold text-slate-800 mb-1">Управление услугами</h3>
                                                    <div class="text-sm">Создание, удаление и редактирование услуг</div>
                                                  </div>
                                                  <!-- Link -->
                                                  <div>
                                                    <a class="text-sm font-medium text-indigo-500 hover:text-indigo-600" th:href="@{/adminserviceslist}">Перейти -&gt;</a>
                                                  </div>
                                                </div>
                                              </div>

                                              <!-- Item -->
                                              <div class="bg-slate-100 rounded-sm text-center p-5">
                                                <div class="flex flex-col h-full">
                                                  <div class="grow mb-2">
                                                    <!-- Icon -->
                                                    <div class="inline-flex w-12 h-12 rounded-full bg-indigo-400">
                                                      <svg class="w-12 h-12" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                                                        <defs>
                                                          <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="icon6-a">
                                                            <stop stop-color="#FFF" offset="0%"></stop>
                                                            <stop stop-color="#A5B4FC" offset="100%"></stop>
                                                          </linearGradient>
                                                        </defs>
                                                        <g fill-rule="nonzero" fill="none">
                                                          <path d="M33.83 16.57 9.803 19.52c-.491.06-.846.464-.793.901l1.756 14.297c.054.437.496.743.987.683l24.026-2.95c.492-.06.847-.464.793-.901l-1.755-14.297c-.054-.438-.496-.743-.987-.683Z" fill="#4F46E5" opacity=".88"></path>
                                                          <path d="M28.712 0H4.505c-.495 0-.897.357-.897.798v14.404c0 .44.402.798.897.798h24.207c.494 0 .896-.357.896-.798V.798c0-.44-.402-.798-.896-.798Z" fill="url(#icon6-a)" transform="rotate(8 -86.45 77.005)"></path>
                                                          <path fill="#6366F1" opacity=".72" d="m23.646 19.765 4.533 3.667-5.368 2.275z"></path>
                                                        </g>
                                                      </svg>
                                                    </div>
                                                    <!-- Content -->
                                                    <h3 class="text-lg font-semibold text-slate-800 mb-1">Управление новостями</h3>
                                                    <div class="text-sm">Создание, удаление и редактирование новостей</div>
                                                  </div>
                                                  <!-- Link -->
                                                  <div>
                                                    <a class="text-sm font-medium text-indigo-500 hover:text-indigo-600" th:href="@{/adminnewslist}">Перейти -&gt;</a>
                                                  </div>
                                                </div>
                                              </div>

                                              <!-- Item -->
                                              <div class="bg-slate-100 rounded-sm text-center p-5">
                                                <div class="flex flex-col h-full">
                                                  <div class="grow mb-2">
                                                    <!-- Icon -->
                                                    <div class="inline-flex w-12 h-12 rounded-full bg-indigo-400">
                                                      <svg class="w-12 h-12" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                                                        <defs>
                                                          <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="icon7-a">
                                                            <stop stop-color="#FFF" offset="0%"></stop>
                                                            <stop stop-color="#A5B4FC" offset="100%"></stop>
                                                          </linearGradient>
                                                        </defs>
                                                        <g transform="translate(-.186 -.042)" fill-rule="nonzero" fill="none">
                                                          <circle fill="#554FE8" cx="20" cy="26.993" r="10"></circle>
                                                          <circle fill="url(#icon7-a)" cx="25.122" cy="24" r="11"></circle>
                                                          <path fill="#6366F1" opacity=".72" d="m26.255 22.605-1.569-3.586-.922 3.804-3.735.327 3.26 2.195-.864 3.91 2.927-2.626 3.339 2.078-1.53-3.7 2.83-2.729z"></path>
                                                        </g>
                                                      </svg>
                                                    </div>
                                                    <!-- Content -->
                                                    <h3 class="text-lg font-semibold text-slate-800 mb-1">Чаты</h3>
                                                    <div class="text-sm">Создание и изменение чатов с сотрудниками</div>
                                                  </div>
                                                  <!-- Link -->
                                                  <div>
                                                    <a class="text-sm font-medium text-indigo-500 hover:text-indigo-600" th:href="@{/adminchatslist}">Перейти -&gt;</a>
                                                  </div>
                                                </div>
                                              </div>

                                            </div>
                                          </div>

                                        </div>
                                    </section>




                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </main>

        </div>

    </div>

    <script th:src="@{/app/js/vendors/alpinejs.min.js}" defer></script>

</body>

</html>
