<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>Пользователи</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link th:href="@{/app/css/vendors/flatpickr.min.css}" rel="stylesheet">
  <link th:href="@{/app/style.css}" rel="stylesheet">
  <link type="image/x-icon" th:href="@{/images/favicon.ico}" rel="shortcut icon">
</head>

<body
  class="font-inter antialiased bg-slate-100 text-slate-600"
  :class="{ 'sidebar-expanded': sidebarExpanded }"
  x-data="{ sidebarOpen: false, sidebarExpanded: localStorage.getItem('sidebar-expanded') == 'true' }"
  x-init="$watch('sidebarExpanded', value => localStorage.setItem('sidebar-expanded', value))"
>

<script>
  if (localStorage.getItem('sidebar-expanded') == 'true') {
    document.querySelector('body').classList.add('sidebar-expanded');
  } else {
    document.querySelector('body').classList.remove('sidebar-expanded');
  }
</script>

<!-- Page wrapper -->
<div class="flex h-screen overflow-hidden">

  <!-- Sidebar -->
  <div th:insert="~{/app/_fragments.html :: sidebar}">

  </div>

  <!-- Content area -->
  <div class="relative flex flex-col flex-1 overflow-y-auto overflow-x-hidden">

    <!-- Header -->
    <header class="sticky top-0 bg-white border-b border-slate-200 z-30" th:insert="~{/app/_fragments.html :: header}">

    </header>

    <main>
      <div class="px-4 sm:px-6 lg:px-8 py-8 w-full max-w-9xl mx-auto">

        <!-- Page header -->
        <div class="sm:flex sm:justify-between sm:items-center mb-8">


          <!-- Left: Title -->
          <div class="mb-4 sm:mb-0">
            <h1 class="text-2xl md:text-3xl text-slate-800 font-bold">Управление пользователями</h1>
          </div>

          <!-- Right: Actions -->
          <div class="grid grid-flow-col sm:auto-cols-max justify-start sm:justify-end gap-2">
            <!-- Add customer button -->
            <form th:action="@{/adminusercreate}" type="get">
              <button class="btn bg-indigo-500 hover:bg-indigo-600 text-white" type="submit">
                <svg class="w-4 h-4 fill-current opacity-50 shrink-0" viewBox="0 0 16 16">
                  <path
                    d="M15 7H9V1c0-.6-.4-1-1-1S7 .4 7 1v6H1c-.6 0-1 .4-1 1s.4 1 1 1h6v6c0 .6.4 1 1 1s1-.4 1-1V9h6c.6 0 1-.4 1-1s-.4-1-1-1z"></path>
                </svg>
                <span class="ml-2">Создать пользователя</span>
              </button>
            </form>

            <a class="btn-sm px-3 bg-white border-slate-200 hover:border-slate-300 text-slate-600" href="/adminpanel">
              <svg class="fill-current text-slate-400 mr-2" width="7" height="12" viewBox="0 0 7 12">
                <path d="M5.4.6 6.8 2l-4 4 4 4-1.4 1.4L0 6z"></path>
              </svg>
              <span>Вернуться назад</span>
            </a>
          </div>

        </div>

        <!--Оповещение об успешном создании номеров-->
        <div x-data="{ modalOpen: true }" th:if="${removeUser}">
          <!-- Modal backdrop -->
          <div class="fixed inset-0 bg-slate-900 bg-opacity-30 z-50 transition-opacity" x-show="modalOpen"
               x-transition:enter="transition ease-out duration-200" x-transition:enter-start="opacity-0"
               x-transition:enter-end="opacity-100" x-transition:leave="transition ease-out duration-100"
               x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" aria-hidden="true"
               style="display: none;"></div>
          <!-- Modal dialog -->
          <div id="success-modal2" class="fixed inset-0 z-50 overflow-hidden flex items-center my-4 justify-center"
               role="dialog" aria-modal="true" x-show="modalOpen"
               x-transition:enter="transition ease-in-out duration-200"
               x-transition:enter-start="opacity-0 translate-y-4" x-transition:enter-end="opacity-100 translate-y-0"
               x-transition:leave="transition ease-in-out duration-200"
               x-transition:leave-start="opacity-100 translate-y-0" x-transition:leave-end="opacity-0 translate-y-4"
               style="display: none;">
            <div class="bg-white rounded shadow-lg overflow-auto max-w-lg w-full max-h-full"
                 @click.outside="modalOpen = false" @keydown.escape.window="modalOpen = false">
              <div class="p-5 flex space-x-4">
                <!-- Icon -->
                <div class="w-10 h-10 rounded-full flex items-center justify-center shrink-0 bg-emerald-100">
                  <svg class="w-4 h-4 shrink-0 fill-current text-emerald-500" viewBox="0 0 16 16">
                    <path
                      d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zM7 11.4L3.6 8 5 6.6l2 2 4-4L12.4 6 7 11.4z"></path>
                  </svg>
                </div>
                <!-- Content -->
                <div>
                  <!-- Modal header -->
                  <div class="mb-2">
                    <div class="text-lg font-semibold text-slate-800">Успешное удаление</div>
                  </div>
                  <!-- Modal content -->
                  <div class="text-sm mb-10">
                    <div class="space-y-2">
                      <p th:text="|Вы удалили пользователя с id - ${removeUser}|">Описание процесса</p>
                    </div>
                  </div>
                  <!-- Modal footer -->
                  <div class="flex flex-wrap justify-end space-x-2">
                    <button class="btn-sm border-slate-200 hover:border-slate-300 text-slate-600"
                            @click="modalOpen = false">Закрыть
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Оповещение об успешном создании номеров-->
        <div x-data="{ modalOpen: true }" th:if="${createdUser}">
          <!-- Modal backdrop -->
          <div class="fixed inset-0 bg-slate-900 bg-opacity-30 z-50 transition-opacity" x-show="modalOpen"
               x-transition:enter="transition ease-out duration-200" x-transition:enter-start="opacity-0"
               x-transition:enter-end="opacity-100" x-transition:leave="transition ease-out duration-100"
               x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" aria-hidden="true"
               style="display: none;"></div>
          <!-- Modal dialog -->
          <div id="success-modal3" class="fixed inset-0 z-50 overflow-hidden flex items-center my-4 justify-center"
               role="dialog" aria-modal="true" x-show="modalOpen"
               x-transition:enter="transition ease-in-out duration-200"
               x-transition:enter-start="opacity-0 translate-y-4" x-transition:enter-end="opacity-100 translate-y-0"
               x-transition:leave="transition ease-in-out duration-200"
               x-transition:leave-start="opacity-100 translate-y-0" x-transition:leave-end="opacity-0 translate-y-4"
               style="display: none;">
            <div class="bg-white rounded shadow-lg overflow-auto max-w-lg w-full max-h-full"
                 @click.outside="modalOpen = false" @keydown.escape.window="modalOpen = false">
              <div class="p-5 flex space-x-4">
                <!-- Icon -->
                <div class="w-10 h-10 rounded-full flex items-center justify-center shrink-0 bg-emerald-100">
                  <svg class="w-4 h-4 shrink-0 fill-current text-emerald-500" viewBox="0 0 16 16">
                    <path
                      d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zM7 11.4L3.6 8 5 6.6l2 2 4-4L12.4 6 7 11.4z"></path>
                  </svg>
                </div>
                <!-- Content -->
                <div>
                  <!-- Modal header -->
                  <div class="mb-2">
                    <div class="text-lg font-semibold text-slate-800">Успешное создание</div>
                  </div>
                  <!-- Modal content -->
                  <div class="text-sm mb-10">
                    <div class="space-y-2">
                      <p th:text="|Вы создали пользователя ${createdUser.getUsername()}|">Описание процесса</p>
                    </div>
                  </div>
                  <!-- Modal footer -->
                  <div class="flex flex-wrap justify-end space-x-2">
                    <button class="btn-sm border-slate-200 hover:border-slate-300 text-slate-600"
                            @click="modalOpen = false">Закрыть
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--Оповещение об успешном создании номеров-->
        <div x-data="{ modalOpen: true }" th:if="${updatedRole}">
          <!-- Modal backdrop -->
          <div class="fixed inset-0 bg-slate-900 bg-opacity-30 z-50 transition-opacity" x-show="modalOpen"
               x-transition:enter="transition ease-out duration-200" x-transition:enter-start="opacity-0"
               x-transition:enter-end="opacity-100" x-transition:leave="transition ease-out duration-100"
               x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" aria-hidden="true"
               style="display: none;"></div>
          <!-- Modal dialog -->
          <div id="success-modal4" class="fixed inset-0 z-50 overflow-hidden flex items-center my-4 justify-center"
               role="dialog" aria-modal="true" x-show="modalOpen"
               x-transition:enter="transition ease-in-out duration-200"
               x-transition:enter-start="opacity-0 translate-y-4" x-transition:enter-end="opacity-100 translate-y-0"
               x-transition:leave="transition ease-in-out duration-200"
               x-transition:leave-start="opacity-100 translate-y-0" x-transition:leave-end="opacity-0 translate-y-4"
               style="display: none;">
            <div class="bg-white rounded shadow-lg overflow-auto max-w-lg w-full max-h-full"
                 @click.outside="modalOpen = false" @keydown.escape.window="modalOpen = false">
              <div class="p-5 flex space-x-4">
                <!-- Icon -->
                <div class="w-10 h-10 rounded-full flex items-center justify-center shrink-0 bg-emerald-100">
                  <svg class="w-4 h-4 shrink-0 fill-current text-emerald-500" viewBox="0 0 16 16">
                    <path
                      d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zM7 11.4L3.6 8 5 6.6l2 2 4-4L12.4 6 7 11.4z"></path>
                  </svg>
                </div>
                <!-- Content -->
                <div>
                  <!-- Modal header -->
                  <div class="mb-2">
                    <div class="text-lg font-semibold text-slate-800">Успешное изменение</div>
                  </div>
                  <!-- Modal content -->
                  <div class="text-sm mb-10">
                    <div class="space-y-2">
                      <p
                        th:text="|Вы изменили роль пользователя ${updatedRole.getUsername()} на ${updatedRole.getRole().toString()}|">
                        Описание процесса</p>
                    </div>
                  </div>
                  <!-- Modal footer -->
                  <div class="flex flex-wrap justify-end space-x-2">
                    <button class="btn-sm border-slate-200 hover:border-slate-300 text-slate-600"
                            @click="modalOpen = false">Закрыть
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <!-- Table -->
        <div class="bg-white shadow-lg rounded-sm border border-slate-200 mb-8">
          <div x-data="handleSelect">

            <!-- Table -->
            <div class="overflow-x-auto">
              <table class="table-auto w-full divide-y divide-slate-200">
                <!-- Table header -->
                <thead class="text-xs uppercase text-slate-500 bg-slate-50 border-t border-slate-200">
                <tr>
                  <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                    <div class="font-semibold text-left">Номер</div>
                  </th>
                  <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                    <div class="font-semibold text-left">Почта</div>
                  </th>
                  <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                    <div class="font-semibold text-left">Имя</div>
                  </th>
                  <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                    <div class="font-semibold text-left">Фамилия</div>
                  </th>
                  <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                    <div class="font-semibold text-left">Номер телефона</div>
                  </th>
                  <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                    <div class="font-semibold text-left">Потрачено, руб.</div>
                  </th>
                  <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                    <div class="font-semibold text-left">Роль</div>
                  </th>
                  <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                    <div class="font-semibold text-left"></div>
                  </th>
                </tr>
                </thead>
                <!-- Table body -->
                <tbody class="text-sm" x-data="{ open: false }">
                <!-- Row -->
                <tr th:each="user : ${users.getContent()}">
                  <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                    <div class="flex items-center text-slate-800">
                      <div class="font-medium text-sky-500" th:text="${user.getId()}">#143567</div>
                    </div>
                  </td>
                  <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                    <div th:text="${user.getUsername()}">Username</div>
                  </td>
                  <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                    <div th:text="${user.getFirstname()}">Firstname</div>
                  </td>
                  <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                    <div th:text="${user.getLastname()}">Lastname</div>
                  </td>
                  <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                    <div th:text="${user.getPhoneNumber()}">Phone number</div>
                  </td>
                  <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                    <div class="text-left font-medium text-emerald-500" th:text="|${user.getSpent()} руб.|">Spent</div>
                  </td>
                  <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                    <!-- Start -->
                    <div x-data="{ modalOpen: false }">
                      <button
                        class="btn border-slate-200 shadow-sm text-indigo-500"
                        @click.prevent="modalOpen = true"
                        aria-controls="newsletter-modal"
                        th:text="${user.getRole()}"
                      >Role
                      </button>
                      <!-- Modal backdrop -->
                      <div
                        class="fixed inset-0 bg-slate-900 bg-opacity-30 z-50 transition-opacity"
                        x-show="modalOpen"
                        x-transition:enter="transition ease-out duration-200"
                        x-transition:enter-start="opacity-0"
                        x-transition:enter-end="opacity-100"
                        x-transition:leave="transition ease-out duration-100"
                        x-transition:leave-start="opacity-100"
                        x-transition:leave-end="opacity-0"
                        aria-hidden="true"
                        x-cloak
                      ></div>
                      <!-- Modal dialog -->
                      <div
                        id="newsletter-modal"
                        class="fixed inset-0 z-50 overflow-hidden flex items-center my-4 justify-center sm:px-6"
                        role="dialog"
                        aria-modal="true"
                        x-show="modalOpen"
                        x-transition:enter="transition ease-in-out duration-200"
                        x-transition:enter-start="opacity-0 translate-y-4"
                        x-transition:enter-end="opacity-100 translate-y-0"
                        x-transition:leave="transition ease-in-out duration-200"
                        x-transition:leave-start="opacity-100 translate-y-0"
                        x-transition:leave-end="opacity-0 translate-y-4"
                        x-cloak
                      >
                        <div class="bg-white rounded shadow-lg overflow-auto max-w-lg w-full max-h-full"
                             @click.outside="modalOpen = false" @keydown.escape.window="modalOpen = false">
                          <div class="p-6">
                            <div class="relative">
                              <!-- Close button -->
                              <button class="absolute top-0 right-0 text-slate-400 hover:text-slate-500"
                                      @click="modalOpen = false">
                                <div class="sr-only">Close</div>
                                <svg class="w-4 h-4 fill-current">
                                  <path
                                    d="M7.95 6.536l4.242-4.243a1 1 0 111.415 1.414L9.364 7.95l4.243 4.242a1 1 0 11-1.415 1.415L7.95 9.364l-4.243 4.243a1 1 0 01-1.414-1.415L6.536 7.95 2.293 3.707a1 1 0 011.414-1.414L7.95 6.536z"/>
                                </svg>
                              </button>
                              <!-- Modal header -->
                              <div class="mb-2 text-center">
                                <!-- Icon -->
                                <div class="mb-3">
                                  <svg class="inline-flex w-12 h-12 rounded-full shrink-0 fill-current"
                                       viewBox="0 0 48 48">
                                    <rect class="text-indigo-100" width="48" height="48" rx="24"/>
                                    <path class="text-indigo-300" d="M19 16h7a8 8 0 110 16h-7V16z"/>
                                    <path class="text-indigo-500" d="M26 24l-7-6v5h-8v2h8v5z"/>
                                  </svg>
                                </div>
                                <div class="text-lg font-semibold text-slate-800">Изменение роли</div>
                              </div>
                              <!-- Modal content -->
                              <div class="text-center">
                                <!-- Submit form -->
                                <form th:action="@{/adminchangerole/{id}(id=${user.getId()})}"
                                      class="flex max-w-sm m-auto" method="post">
                                  <div class="grow">
                                    <label class="block text-sm font-medium" for="role"></label>
                                    <select id="role" name="role" class="form-select">
                                      <option th:each="role : ${roles}" th:text="${role.getAuthority()}"
                                              th:selected="${role} == ${user.getRole()}"></option>
                                    </select>
                                  </div>
                                  <button type="submit"
                                          class="btn-sm bg-indigo-500 hover:bg-indigo-600 text-white whitespace-nowrap"
                                          style="height: 2.356rem">Изменить
                                  </button>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">

                    <div class="flex items-center text-slate-800">
                      <div x-data="{ modalOpen: false }">
                        <button class="btn border-slate-200 hover:border-slate-300" @click.prevent="modalOpen = true"
                                aria-controls="success-modal">
                          <svg class="w-4 h-4 fill-current text-rose-500 shrink-0" viewBox="0 0 16 16">
                            <path
                              d="M5 7h2v6H5V7zm4 0h2v6H9V7zm3-6v2h4v2h-1v10c0 .6-.4 1-1 1H2c-.6 0-1-.4-1-1V5H0V3h4V1c0-.6.4-1 1-1h6c.6 0 1 .4 1 1zM6 2v1h4V2H6zm7 3H3v9h10V5z"></path>
                          </svg>
                        </button>
                        <!-- Modal backdrop -->
                        <div class="fixed inset-0 bg-slate-900 bg-opacity-30 z-50 transition-opacity" x-show="modalOpen"
                             x-transition:enter="transition ease-out duration-200" x-transition:enter-start="opacity-0"
                             x-transition:enter-end="opacity-100" x-transition:leave="transition ease-out duration-100"
                             x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0"
                             aria-hidden="true" style="display: none;"></div>
                        <!-- Modal dialog -->
                        <div id="success-modal"
                             class="fixed inset-0 z-50 overflow-hidden flex items-center my-4 justify-center sm:px-6"
                             role="dialog" aria-modal="true" x-show="modalOpen"
                             x-transition:enter="transition ease-in-out duration-200"
                             x-transition:enter-start="opacity-0 translate-y-4"
                             x-transition:enter-end="opacity-100 translate-y-0"
                             x-transition:leave="transition ease-in-out duration-200"
                             x-transition:leave-start="opacity-100 translate-y-0"
                             x-transition:leave-end="opacity-0 translate-y-4" style="display: none;">
                          <div class="bg-white rounded shadow-lg overflow-auto max-w-lg w-full max-h-full"
                               @click.outside="modalOpen = false" @keydown.escape.window="modalOpen = false">
                            <div class="p-5 flex space-x-4">
                              <!-- Icon -->
                              <div
                                class="w-10 h-10 rounded-full flex items-center justify-center shrink-0 bg-emerald-100">
                                <svg class="w-4 h-4 shrink-0 fill-current text-emerald-500" viewBox="0 0 16 16">
                                  <path
                                    d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zM7 11.4L3.6 8 5 6.6l2 2 4-4L12.4 6 7 11.4z"></path>
                                </svg>
                              </div>
                              <!-- Content -->
                              <div>
                                <!-- Modal header -->
                                <div class="mb-2 flex flex-wrap justify-center">
                                  <div class="text-lg font-semibold text-slate-800">Вы желаете удалить пользователя?
                                  </div>
                                </div>
                                <!-- Modal footer -->
                                <div class="flex flex-wrap justify-center space-x-2">
                                  <button class="btn-sm border-slate-200 hover:border-slate-300 text-slate-600"
                                          @click="modalOpen = false">Нет
                                  </button>
                                  <form th:action="@{/adminusers/delete/{id}(id=${user.getId()})}" method="post">
                                    <button type="submit" class="btn-sm bg-indigo-500 hover:bg-indigo-600 text-white">
                                      Да, удалить
                                    </button>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </td>
                </tr>
                </tbody>

              </table>

            </div>

          </div>

        </div>

        <div class="px-6 py-8 bg-slate-50 border border-slate-200 rounded-sm">
          <!-- Start -->
          <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between">
            <nav class="mb-4 sm:mb-0 sm:order-1" role="navigation" aria-label="Navigation">
              <ul class="flex justify-center">
                <li class="ml-3 first:ml-0" th:if="${users.getMetadata().getPage() == 0}">
                  <a class="btn bg-white border-slate-200 text-slate-300 cursor-not-allowed" disabled="">&lt;-
                    Предыдущая</a>
                </li>
                <li class="ml-3 first:ml-0" th:unless="${users.getMetadata().getPage() == 0}">
                  <a class="btn bg-white border-slate-200 hover:border-slate-300 text-indigo-500" th:href="|@{/adminuserslist/}${users.getMetadata().getPage()}|">&lt;-
                    Предыдущая</a>
                </li>
                <li class="ml-3 first:ml-0" th:if="${users.getMetadata().getPage() == users.getMetadata().getTotalPages() - 1}">
                  <a class="btn bg-white border-slate-200 text-slate-300 cursor-not-allowed" disabled="">
                    Следующая -&gt;</a>
                </li>
                <li class="ml-3 first:ml-0" th:unless="${users.getMetadata().getPage() == users.getMetadata().getTotalPages() - 1}">
                  <a class="btn bg-white border-slate-200 hover:border-slate-300 text-indigo-500" th:href="|@{/adminuserslist/}${users.getMetadata().getPage() + 2}|">
                    Следующая -&gt;</a>
                </li>
              </ul>
            </nav>
            <div class="text-sm text-slate-500 text-center sm:text-left">
              Показаны <span class="font-medium text-slate-600" th:text="${users.getContent().size()}"></span> из
              <span class="font-medium text-slate-600" th:text="${users.getMetadata().getTotalElements()}"></span>
              элементов
            </div>
          </div>
          <!-- End -->
        </div>

      </div>

    </main>

  </div>

</div>

<script th:src="@{/app/js/vendors/alpinejs.min.js}" defer></script>

</body>

</html>
