<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Бронирования</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link th:href="@{/app/css/vendors/flatpickr.min.css}" rel="stylesheet">
    <link th:href="@{/app/style.css}" rel="stylesheet">
  <link type="image/x-icon" th:href="@{/images/favicon.ico}" rel="shortcut icon">
</head>

<body
    class="font-inter antialiased bg-slate-100 text-slate-600"
    :class="{ 'sidebar-expanded': sidebarExpanded }"
    x-data="{ sidebarOpen: false, sidebarExpanded: localStorage.getItem('sidebar-expanded') == 'true' }"
    x-init="$watch('sidebarExpanded', value => localStorage.setItem('sidebar-expanded', value))"
>

    <script>
        if (localStorage.getItem('sidebar-expanded') == 'true') {
            document.querySelector('body').classList.add('sidebar-expanded');
        } else {
            document.querySelector('body').classList.remove('sidebar-expanded');
        }
    </script>

    <!-- Page wrapper -->
    <div class="flex h-screen overflow-hidden">

      <!-- Sidebar -->
      <div th:insert="~{/app/_fragments.html :: sidebar}">

      </div>

        <!-- Content area -->
        <div class="relative flex flex-col flex-1 overflow-y-auto overflow-x-hidden">

          <!-- Header -->
          <header class="sticky top-0 bg-white border-b border-slate-200 z-30" th:insert="~{/app/_fragments.html :: header}">

          </header>

            <main>
                <div class="px-4 sm:px-6 lg:px-8 py-8 w-full max-w-9xl mx-auto">

                    <!-- Page header -->
                    <div class="sm:flex sm:justify-between sm:items-center mb-8">


                        <!-- Left: Title -->
                        <div class="mb-4 sm:mb-0">
                            <h1 class="text-2xl md:text-3xl text-slate-800 font-bold">Бронирования</h1>
                        </div>

                        <!-- Right: Actions -->
                        <div class="grid grid-flow-col sm:auto-cols-max justify-start sm:justify-end gap-2">
                           <!-- Add customer button -->
                          <form th:action="@{/rooms}" type="get">
                            <button class="btn bg-indigo-500 hover:bg-indigo-600 text-white">
                                <svg class="w-6 h-4 fill-current opacity-50 shrink-0" viewBox="0 0 16 16">
                                  <path d="M15 7H9V1c0-.6-.4-1-1-1S7 .4 7 1v6H1c-.6 0-1 .4-1 1s.4 1 1 1h6v6c0 .6.4 1 1 1s1-.4 1-1V9h6c.6 0 1-.4 1-1s-.4-1-1-1z" />
                                </svg>
                                <span class="hidden xs:block ml-1">Забронировать</span>
                            </button>
                          </form>

                        </div>

                    </div>

                  <div x-data="{ modalOpen: true }" th:if="${bookedRoom}">
                    <!-- Modal backdrop -->
                    <div class="fixed inset-0 bg-slate-900 bg-opacity-30 z-50 transition-opacity" x-show="modalOpen" x-transition:enter="transition ease-out duration-200" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="transition ease-out duration-100" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" aria-hidden="true" style="display: none;"></div>
                    <!-- Modal dialog -->
                    <div id="success-modal" class="fixed inset-0 z-50 overflow-hidden flex items-center my-4 justify-center" role="dialog" aria-modal="true" x-show="modalOpen" x-transition:enter="transition ease-in-out duration-200" x-transition:enter-start="opacity-0 translate-y-4" x-transition:enter-end="opacity-100 translate-y-0" x-transition:leave="transition ease-in-out duration-200" x-transition:leave-start="opacity-100 translate-y-0" x-transition:leave-end="opacity-0 translate-y-4" style="display: none;">
                      <div class="bg-white rounded shadow-lg overflow-auto max-w-lg w-full max-h-full" @click.outside="modalOpen = false" @keydown.escape.window="modalOpen = false">
                        <div class="p-5 flex space-x-4">
                          <!-- Icon -->
                          <div class="w-10 h-10 rounded-full flex items-center justify-center shrink-0 bg-emerald-100">
                            <svg class="w-4 h-4 shrink-0 fill-current text-emerald-500" viewBox="0 0 16 16">
                              <path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zM7 11.4L3.6 8 5 6.6l2 2 4-4L12.4 6 7 11.4z"></path>
                            </svg>
                          </div>
                          <!-- Content -->
                          <div>
                            <!-- Modal header -->
                            <div class="mb-2">
                              <div class="text-lg font-semibold text-slate-800">Успешное бронирование</div>
                            </div>
                            <!-- Modal content -->
                            <div class="text-sm mb-10">
                              <div class="space-y-2">
                                <p th:text="|Вы забронировали ${bookedRoom.getRoomTypeNameDto().getRuName()}|">Описание процесса</p>
                              </div>
                            </div>
                            <!-- Modal footer -->
                            <div class="flex flex-wrap justify-end space-x-2">
                              <button class="btn-sm border-slate-200 hover:border-slate-300 text-slate-600" @click="modalOpen = false">Закрыть</button></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div x-data="{ modalOpen: true }" th:if="${paidRoom}">
                    <!-- Modal backdrop -->
                    <div class="fixed inset-0 bg-slate-900 bg-opacity-30 z-50 transition-opacity" x-show="modalOpen" x-transition:enter="transition ease-out duration-200" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="transition ease-out duration-100" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" aria-hidden="true" style="display: none;"></div>
                    <!-- Modal dialog -->
                    <div id="success-modal2" class="fixed inset-0 z-50 overflow-hidden flex items-center my-4 justify-center" role="dialog" aria-modal="true" x-show="modalOpen" x-transition:enter="transition ease-in-out duration-200" x-transition:enter-start="opacity-0 translate-y-4" x-transition:enter-end="opacity-100 translate-y-0" x-transition:leave="transition ease-in-out duration-200" x-transition:leave-start="opacity-100 translate-y-0" x-transition:leave-end="opacity-0 translate-y-4" style="display: none;">
                      <div class="bg-white rounded shadow-lg overflow-auto max-w-lg w-full max-h-full" @click.outside="modalOpen = false" @keydown.escape.window="modalOpen = false">
                        <div class="p-5 flex space-x-4">
                          <!-- Icon -->
                          <div class="w-10 h-10 rounded-full flex items-center justify-center shrink-0 bg-emerald-100">
                            <svg class="w-4 h-4 shrink-0 fill-current text-emerald-500" viewBox="0 0 16 16">
                              <path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zM7 11.4L3.6 8 5 6.6l2 2 4-4L12.4 6 7 11.4z"></path>
                            </svg>
                          </div>
                          <!-- Content -->
                          <div>
                            <!-- Modal header -->
                            <div class="mb-2">
                              <div class="text-lg font-semibold text-slate-800">Успешная оплата</div>
                            </div>
                            <!-- Modal content -->
                            <div class="text-sm mb-10">
                              <div class="space-y-2">
                                <p th:text="|Вы оплатили ${paidRoom.getRoomTypeNameDto().getRuName()}|">Описание процесса</p>
                              </div>
                            </div>
                            <!-- Modal footer -->
                            <div class="flex flex-wrap justify-end space-x-2">
                              <button class="btn-sm border-slate-200 hover:border-slate-300 text-slate-600" @click="modalOpen = false">Закрыть</button></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div x-data="{ modalOpen: true }" th:if="${cancelRoom}">
                    <!-- Modal backdrop -->
                    <div class="fixed inset-0 bg-slate-900 bg-opacity-30 z-50 transition-opacity" x-show="modalOpen" x-transition:enter="transition ease-out duration-200" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="transition ease-out duration-100" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" aria-hidden="true" style="display: none;"></div>
                    <!-- Modal dialog -->
                    <div id="success-modal3" class="fixed inset-0 z-50 overflow-hidden flex items-center my-4 justify-center" role="dialog" aria-modal="true" x-show="modalOpen" x-transition:enter="transition ease-in-out duration-200" x-transition:enter-start="opacity-0 translate-y-4" x-transition:enter-end="opacity-100 translate-y-0" x-transition:leave="transition ease-in-out duration-200" x-transition:leave-start="opacity-100 translate-y-0" x-transition:leave-end="opacity-0 translate-y-4" style="display: none;">
                      <div class="bg-white rounded shadow-lg overflow-auto max-w-lg w-full max-h-full" @click.outside="modalOpen = false" @keydown.escape.window="modalOpen = false">
                        <div class="p-5 flex space-x-4">
                          <!-- Icon -->
                          <div class="w-10 h-10 rounded-full flex items-center justify-center shrink-0 bg-emerald-100">
                            <svg class="w-4 h-4 shrink-0 fill-current text-emerald-500" viewBox="0 0 16 16">
                              <path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zM7 11.4L3.6 8 5 6.6l2 2 4-4L12.4 6 7 11.4z"></path>
                            </svg>
                          </div>
                          <!-- Content -->
                          <div>
                            <!-- Modal header -->
                            <div class="mb-2">
                              <div class="text-lg font-semibold text-slate-800">Успешная отмена</div>
                            </div>
                            <!-- Modal content -->
                            <div class="text-sm mb-10">
                              <div class="space-y-2">
                                <p th:text="|Вы отменили бронирование номера ${cancelRoom.getRoomTypeNameDto().getRuName()}|">Описание процесса</p>
                              </div>
                            </div>
                            <!-- Modal footer -->
                            <div class="flex flex-wrap justify-end space-x-2">
                              <button class="btn-sm border-slate-200 hover:border-slate-300 text-slate-600" @click="modalOpen = false">Закрыть</button></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                    <!-- Table -->
                    <div class="bg-white shadow-lg rounded-sm border border-slate-200 mb-8">
                        <div x-data="handleSelect">

                            <!-- Table -->
                            <div class="overflow-x-auto">
                                <table class="table-auto w-full divide-y divide-slate-200">
                                    <!-- Table header -->
                                    <thead class="text-xs uppercase text-slate-500 bg-slate-50 border-t border-slate-200">
                                        <tr>
                                            <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                                                <div class="font-semibold text-left">Номер заказа</div>
                                            </th>
                                            <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                                                <div class="font-semibold text-left">Дата бронирования</div>
                                            </th>
                                            <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                                                <div class="font-semibold text-left">Статус бронирования</div>
                                            </th>
                                            <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                                                <div class="font-semibold text-left">Дата въезда</div>
                                            </th>
                                            <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                                                <div class="font-semibold text-left">Дата выезда</div>
                                            </th>
                                            <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                                                <div class="font-semibold text-left">Общая стоимость</div>
                                            </th>
                                            <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                                                <div class="font-semibold text-left">Номер комнаты</div>
                                            </th>
                                          <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                                            <div class="font-semibold text-left"></div>
                                          </th>
                                        </tr>
                                    </thead>
                                    <!-- Table body -->
                                    <tbody class="text-sm" x-data="{ open: false }">
                                        <!-- Row -->
                                        <tr th:each="booking : ${bookings}">
                                          <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                                            <div class="flex items-center text-slate-800">
                                              <div class="font-medium text-sky-500" th:text="${booking.getId()}">#143567</div>
                                            </div>
                                          </td>
                                            <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                                                <div th:text="${booking.getBookingDate()}">Date</div>
                                            </td>
                                          <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap"
                                              th:if="${booking.getBookingStatus() == booking.getBookingStatus().PAID}">
                                            <div class="text-left btn bg-emerald-500 text-white"
                                            th:text="Оплачено" th:if="${booking.getBookingStatus() == booking.getBookingStatus().PAID}">
                                            </div>
                                          </td>
                                          <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap"
                                              th:if="${booking.getBookingStatus() == booking.getBookingStatus().CANCELED}">
                                            <div class="text-left btn bg-rose-500 text-white"
                                                 th:text="Отменено">
                                            </div>
                                          </td>
                                          <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap"
                                              th:if="${booking.getBookingStatus() == booking.getBookingStatus().RESERVED}">
                                            <div class="text-left btn bg-indigo-500 hover:bg-indigo-600 text-white">
                                              <a th:href="@{/rooms/pay/{id}(id=${booking.getId()})}">
                                                Оплатить
                                              </a>
                                            </div>
                                          </td>
                                          <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                                            <div th:text="${booking.getCheckIn()}">Check In</div>
                                          </td>
                                          <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                                            <div th:text="${booking.getCheckOut()}">Check Out</div>
                                          </td>
                                          <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                                              <div class="text-left font-medium text-emerald-500" th:text="|${booking.getTotalPrice()} руб.|">Total Price</div>
                                          </td>
                                          <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
                                              <div class="text-left" th:text="${booking.getRoomReadDto().getId()}">Room Number</div>
                                          </td>
                                          <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">

                                            <div class="flex items-center text-slate-800" th:if="${booking.getBookingStatus() != booking.getBookingStatus().CANCELED}">
                                              <div x-data="{ modalOpen: false }">
                                                <button class="btn border-slate-200 hover:border-slate-300" @click.prevent="modalOpen = true" aria-controls="success-modal">
                                                  <svg class="w-4 h-4 fill-current text-rose-500 shrink-0" viewBox="0 0 16 16" >
                                                    <path d="M5 7h2v6H5V7zm4 0h2v6H9V7zm3-6v2h4v2h-1v10c0 .6-.4 1-1 1H2c-.6 0-1-.4-1-1V5H0V3h4V1c0-.6.4-1 1-1h6c.6 0 1 .4 1 1zM6 2v1h4V2H6zm7 3H3v9h10V5z"></path>
                                                  </svg>
                                                </button>
                                                <!-- Modal backdrop -->
                                                <div class="fixed inset-0 bg-slate-900 bg-opacity-30 z-50 transition-opacity" x-show="modalOpen" x-transition:enter="transition ease-out duration-200" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="transition ease-out duration-100" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" aria-hidden="true" style="display: none;"></div>
                                                <!-- Modal dialog -->
                                                <div id="success-modal" class="fixed inset-0 z-50 overflow-hidden flex items-center my-4 justify-center px-4 sm:px-6" role="dialog" aria-modal="true" x-show="modalOpen" x-transition:enter="transition ease-in-out duration-200" x-transition:enter-start="opacity-0 translate-y-4" x-transition:enter-end="opacity-100 translate-y-0" x-transition:leave="transition ease-in-out duration-200" x-transition:leave-start="opacity-100 translate-y-0" x-transition:leave-end="opacity-0 translate-y-4" style="display: none;">
                                                  <div class="bg-white rounded shadow-lg overflow-auto max-w-lg w-full max-h-full" @click.outside="modalOpen = false" @keydown.escape.window="modalOpen = false">
                                                    <div class="p-5 flex space-x-4">
                                                      <!-- Icon -->
                                                      <div class="w-10 h-10 rounded-full flex items-center justify-center shrink-0 bg-emerald-100">
                                                        <svg class="w-4 h-4 shrink-0 fill-current text-emerald-500" viewBox="0 0 16 16">
                                                          <path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zM7 11.4L3.6 8 5 6.6l2 2 4-4L12.4 6 7 11.4z"></path>
                                                        </svg>
                                                      </div>
                                                      <!-- Content -->
                                                      <div>
                                                        <!-- Modal header -->
                                                        <div class="mb-2 flex flex-wrap justify-center">
                                                          <div class="text-lg font-semibold text-slate-800">Вы желаете отменить бронирование?</div>
                                                        </div>
                                                        <!-- Modal footer -->
                                                        <div class="flex flex-wrap justify-center space-x-2">
                                                          <button class="btn-sm border-slate-200 hover:border-slate-300 text-slate-600" @click="modalOpen = false">Нет</button>
                                                          <form th:action="@{/rooms/cancel/{id}(id=${booking.getId()})}" method="post">
                                                            <button type="submit" class="btn-sm bg-indigo-500 hover:bg-indigo-600 text-white">Да, отменить</button>
                                                          </form>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>

                                            </div>
                                            <div class="text-left"
                                                 th:unless="${booking.getBookingStatus() != booking.getBookingStatus().CANCELED}"></div>
                                          </td>
                                        </tr>
                                  </tbody>

                                </table>

                            </div>
                        </div>
                    </div>

                </div>
            </main>

        </div>

    </div>

    <script th:src="@{/app/js/vendors/alpinejs.min.js}" defer></script>

</body>

</html>
