<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Корзина</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  <link th:href="@{/app/css/vendors/flatpickr.min.css}" rel="stylesheet">
  <link th:href="@{/app/style.css}" rel="stylesheet">
  <link type="image/x-icon" th:href="@{/images/favicon.ico}" rel="shortcut icon">
</head>

<body
    class="font-inter antialiased bg-slate-100 text-slate-600"
    :class="{ 'sidebar-expanded': sidebarExpanded }"
    x-data="{ sidebarOpen: false, sidebarExpanded: localStorage.getItem('sidebar-expanded') == 'true' }"
    x-init="$watch('sidebarExpanded', value => localStorage.setItem('sidebar-expanded', value))"
>

    <script>
        if (localStorage.getItem('sidebar-expanded') == 'true') {
            document.querySelector('body').classList.add('sidebar-expanded');
        } else {
            document.querySelector('body').classList.remove('sidebar-expanded');
        }
    </script>

    <!-- Page wrapper -->
    <div class="flex h-screen overflow-hidden">

      <!-- Sidebar -->
      <div th:insert="~{/app/_fragments.html :: sidebar}">

      </div>

        <!-- Content area -->
        <div class="relative flex flex-col flex-1 overflow-y-auto overflow-x-hidden">

          <!-- Header -->
          <header class="sticky top-0 bg-white border-b border-slate-200 z-30" th:insert="~{/app/_fragments.html :: header}">

          </header>

            <main>
                <div class="px-4 sm:px-6 lg:px-8 py-8 w-full">

                    <!-- Page content -->
                    <div class="max-w-5xl mx-auto flex flex-col lg:flex-row lg:space-x-8 xl:space-x-16">

                        <!-- Cart items -->
                        <div class="mb-6 lg:mb-0">
                            <header class="mb-2">
                                <!-- Title -->
                                <h1 class="text-2xl md:text-3xl text-slate-800 font-bold">Корзина ✨</h1>
                            </header>

                            <ul>
                                <!-- Cart item -->
                              <li class="sm:flex items-center py-6 border-b border-slate-200"
                                  th:unless="${userServices}">

                                <div class="grow">
                                  <h3 class="text-lg font-semibold text-slate-800 mb-1">В корзине ничего нет</h3>
                                  <div class="mb-4">
                                    <form th:action="@{/services}" method="get">
                                      <button class="btn w-full bg-indigo-500 hover:bg-indigo-600 text-white"
                                              >Заказать услугу</button>
                                    </form>
                                  </div>
                                </div>
                              </li>

                                <li class="sm:flex items-center py-6 border-b border-slate-200" th:each="service : ${userServices}">
                                    <a class="block mb-4 sm:mb-0 mr-5 md:w-32 xl:w-auto shrink-0">
                                        <img class="rounded-sm" width="200" height="142" alt="Product 01" th:src="|@{image/services/}${allServices.get(service.getServiceReadDto().getId()).getImageLink()}|" />
                                    </a>
                                    <div class="grow">
                                      <h3 class="text-lg font-semibold text-slate-800 mb-1" th:text="${allServices.get(service.getServiceReadDto().getId()).getServiceName().getRuName()}">Food name</h3>

                                        <div class="text-sm mb-2" th:text="${allServices.get(service.getServiceReadDto().getId()).getServiceDescription().getRuName()}">Description</div>
                                        <!-- Product meta -->
                                        <div class="flex flex-wrap justify-between items-center">
                                            <!-- Rating and price -->
                                            <div class="flex flex-wrap items-center space-x-2 mr-2">
                                                <!-- Price -->
                                                <div>
                                                    <div class="inline-flex text-sm font-medium bg-emerald-100 text-emerald-600 rounded-full text-center px-2 py-0.5" th:text="|${allServices.get(service.getServiceReadDto().getId()).getPrice()} руб.|">Цена</div>
                                                </div>
                                            </div>
                                          <form th:action="@{/services/delete/{id}(id=${service.getId()})}" method="post">
                                            <button type="submit" class="text-sm underline hover:no-underline">Удалить</button>
                                          </form>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                            <div class="mt-6 text-center lg:text-left">
                                <a class="text-sm font-medium text-indigo-500 hover:text-indigo-600" th:href="@{/services}">&lt;- Назад</a>
                            </div>

                        </div>

                        <!-- Sidebar -->
                        <div class="max-w-sm mx-auto lg:max-w-none" th:if="${userServices}">
                            <div class="bg-white p-5 shadow-lg rounded-sm border border-slate-200 lg:w-72 xl:w-80">
                              <div x-show="open" x-data="{ open: true }" th:if="${errors}">
                                <div class="px-4 py-2 rounded-sm text-sm bg-rose-500 text-white">
                                  <div class="flex w-full justify-between items-start">
                                    <div class="flex">
                                      <svg class="w-4 h-4 shrink-0 fill-current opacity-80 mt-[3px] mr-3" viewBox="0 0 16 16">
                                        <path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zm3.5 10.1l-1.4 1.4L8 9.4l-2.1 2.1-1.4-1.4L6.6 8 4.5 5.9l1.4-1.4L8 6.6l2.1-2.1 1.4 1.4L9.4 8l2.1 2.1z"></path>
                                      </svg>
                                      <div class="font-medium">Неверные данные</div>
                                    </div>
                                    <button class="opacity-70 hover:opacity-80 ml-3 mt-[3px]" @click="open = false">
                                      <div class="sr-only">Close</div>
                                      <svg class="w-4 h-4 fill-current">
                                        <path d="M7.95 6.536l4.242-4.243a1 1 0 111.415 1.414L9.364 7.95l4.243 4.242a1 1 0 11-1.415 1.415L7.95 9.364l-4.243 4.243a1 1 0 01-1.414-1.415L6.536 7.95 2.293 3.707a1 1 0 011.414-1.414L7.95 6.536z"></path>
                                      </svg>
                                    </button>
                                  </div>
                                </div>
                              </div>
                              <form th:action="@{/payServices}" method="get">
                                <div class="text-slate-800 font-semibold mb-2">Текущий заказ</div>
                                <!-- Order details -->
                                <ul class="mb-4">
                                  <li class="text-sm w-full flex justify-between py-3 border-b border-slate-200">
                                    <div>Общая сумма</div>
                                    <div class="font-medium text-emerald-600" th:text="|${cart.getSum()} руб.|">$205</div>
                                  </li>
                                </ul>
                                <div class="mb-4">
                                  <button class="btn w-full bg-indigo-500 hover:bg-indigo-600 text-white" type="submit">Оплатить</button>
                                </div>

                              </form>
                            </div>
                        </div>

                    </div>

                </div>
            </main>

        </div>

    </div>

    <script th:src="@{/app/js/vendors/alpinejs.min.js}" defer></script>

</body>

</html>
