<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Уборка</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link th:href="@{/app/css/vendors/flatpickr.min.css}" rel="stylesheet">
    <link th:href="@{/app/style.css}" rel="stylesheet">
  <link type="image/x-icon" th:href="@{/images/favicon.ico}" rel="shortcut icon">
</head>

<body class="font-inter antialiased bg-slate-100 text-slate-600"
      :class="{ 'sidebar-expanded': sidebarExpanded }"
      x-data="{ sidebarOpen: false, sidebarExpanded: localStorage.getItem('sidebar-expanded') == 'true' }"
      x-init="$watch('sidebarExpanded', value => localStorage.setItem('sidebar-expanded', value))">

    <script>
        if (localStorage.getItem('sidebar-expanded') == 'true') {
            document.querySelector('body').classList.add('sidebar-expanded');
        } else {
            document.querySelector('body').classList.remove('sidebar-expanded');
        }
    </script>

    <!-- Page wrapper -->
    <div class="flex h-screen overflow-hidden">

      <!-- Sidebar -->
      <div th:insert="~{/app/_fragments.html :: sidebar}">

      </div>

        <!-- Content area -->
        <div class="relative flex flex-col flex-1 overflow-y-auto overflow-x-hidden">

          <!-- Header -->
          <header class="sticky top-0 bg-white border-b border-slate-200 z-30" th:insert="~{/app/_fragments.html :: header}">

          </header>


            <main>

                <div class="relative pt-8">
                    <div class="absolute inset-0 bg-slate-800 overflow-hidden" aria-hidden="true">
                        <img class="object-cover h-full w-full filter blur opacity-10" th:src="@{/image/cleaning.webp}" width="460" height="180" alt="Room" />
                    </div>
                    <div class="relative px-4 sm:px-6 lg:px-8 max-w-lg mx-auto">
                        <img class="rounded-t shadow-lg" th:src="@{/image/cleaning.webp}" width="460" height="180" alt="Room" />
                    </div>
                </div>

                <div class="relative px-4 sm:px-6 lg:px-8 pb-8 max-w-lg mx-auto" x-data="{ card: true }">
                    <div class="bg-white px-8 pb-6 rounded-b shadow-lg">

                        <!-- Card header -->
                        <div class="text-center mb-6">
                            <h1 class="text-xl leading-snug text-slate-800 font-semibold mb-2" style="padding-top: 1em"
                                >Уборка номера</h1>
                        </div>
                        <!-- Card form -->
                      <div x-show="card">
                        <div x-show="open" x-data="{ open: true }" th:if="${errors}">
                          <div class="px-4 py-2 rounded-sm text-sm bg-rose-500 text-white">
                            <div class="flex w-full justify-between items-start">
                              <div class="flex">
                                <svg class="w-4 h-4 shrink-0 fill-current opacity-80 mt-[3px] mr-3" viewBox="0 0 16 16">
                                  <path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zm3.5 10.1l-1.4 1.4L8 9.4l-2.1 2.1-1.4-1.4L6.6 8 4.5 5.9l1.4-1.4L8 6.6l2.1-2.1 1.4 1.4L9.4 8l2.1 2.1z"></path>
                                </svg>
                                <div class="font-medium">Неверные данные</div>
                              </div>
                              <button class="opacity-70 hover:opacity-80 ml-3 mt-[3px]" @click="open = false">
                                <div class="sr-only">Close</div>
                                <svg class="w-4 h-4 fill-current">
                                  <path d="M7.95 6.536l4.242-4.243a1 1 0 111.415 1.414L9.364 7.95l4.243 4.242a1 1 0 11-1.415 1.415L7.95 9.364l-4.243 4.243a1 1 0 01-1.414-1.415L6.536 7.95 2.293 3.707a1 1 0 011.414-1.414L7.95 6.536z"></path>
                                </svg>
                              </button>
                            </div>
                          </div>
                        </div>

                        <div x-show="card">
                              <form th:action="@{/cleaningProcess}" method="post">
                                <div class="space-y-4">
                                  <!-- Card Number -->

                                  <div>
                                    <h3 class="text-lg text-slate-800 mb-6">Выберите нужные опции:</h3>
                                    <div class="m-3" th:each="option, stat : ${options}">
                                      <!-- Start -->
                                      <label class="flex items-center" th:for="|options[${stat.index}]|">
                                        <input th:id="|options[${stat.index}]|"
                                               th:name="|options[${stat.index}]|" th:value="${option.getId()}" type="checkbox" class="form-checkbox">
                                        <span class="text-sm ml-2" th:text="${option.getRuName()}"></span>
                                      </label>
                                      <!-- End -->
                                    </div>
                                  </div>


                                  <div>
                                    <label class="block text-sm font-medium mb-1" for="time">Время уборки <span class="text-rose-500">*</span></label>
                                    <select id="time" name="time" class="form-select">
                                      <option th:each="timing : ${time}" th:text="${timing}"></option>
                                    </select>
                                  </div>

                                  <div>
                                    <label class="block text-sm font-medium mb-1" for="room">Номер комнаты <span class="text-rose-500">*</span>
                                      <input id="room" name="room" class="form-input w-full" type="text" placeholder="Ваш номер комнаты"
                                             pattern="[0-9]+" required/>
                                    </label>
                                  </div>

                                  <div>
                                    <label class="block text-sm font-medium mb-1" for="comment">Комментарий
                                      <input id="comment" name="comment" class="form-input w-full" type="text" placeholder="Ваш комментарий"/></label>
                                  </div>
                                </div>
                                <!-- Form footer -->
                                <div class="mt-6">
                                  <div class="mb-4">
                                    <button type="submit" class="btn w-full bg-indigo-500 hover:bg-indigo-600 text-white"
                                    th:text="Заказать">

                                    </button>
                                  </div>
                                </div>
                              </div>
                            </form>
                        </div>

                    </div>
                </div>
            </main>

        </div>

    </div>

    <script th:src="@{/app/js/vendors/alpinejs.min.js}" defer></script>

    <script th:src="@{'https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js'}" type="text/javascript"></script>

    <script th:src="@{'https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js'}" type="text/javascript"></script>

<script>
  $(function () {
    jQuery("#cardNumber").inputmask({"mask": "9999 9999 9999 9999"});
    jQuery("#expiryDate").inputmask({"mask": "99/99"});
  });
</script>

</body>

</html>
