<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Новости</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link th:href="@{/app/css/vendors/flatpickr.min.css}" rel="stylesheet">
    <link th:href="@{/app/style.css}" rel="stylesheet">
  <link
    rel="stylesheet"
    th:href="@{/app/fancybox.css}"
  />
  <link type="image/x-icon" th:href="@{/images/favicon.ico}" rel="shortcut icon">
</head>

<body
    class="font-inter antialiased bg-slate-100 text-slate-600"
    :class="{ 'sidebar-expanded': sidebarExpanded }"
    x-data="{ sidebarOpen: false, sidebarExpanded: localStorage.getItem('sidebar-expanded') == 'true' }"
    x-init="$watch('sidebarExpanded', value => localStorage.setItem('sidebar-expanded', value))"
>

    <script>
        if (localStorage.getItem('sidebar-expanded') == 'true') {
            document.querySelector('body').classList.add('sidebar-expanded');
        } else {
            document.querySelector('body').classList.remove('sidebar-expanded');
        }
    </script>

    <!-- Page wrapper -->
    <div class="flex h-screen overflow-hidden">

      <!-- Sidebar -->
      <div th:insert="~{/app/_fragments.html :: sidebar}">

      </div>

        <!-- Content area -->
        <div class="relative flex flex-col flex-1 overflow-y-auto overflow-x-hidden">

          <!-- Header -->
          <header class="sticky top-0 bg-white border-b border-slate-200 z-30" th:insert="~{/app/_fragments.html :: header}">

          </header>

            <main>
                <div class="px-4 sm:px-6 lg:px-8 py-8 md:py-0 w-full max-w-9xl mx-auto">

                    <div class="xl:flex">

                        <!-- Left + Middle content -->
                        <div class="md:flex flex-1">

                            <div style="width: 50%; margin: 0 auto;">

                                <div class="md:py-8">

                                    <!-- Blocks -->
                                    <div class="space-y-4">

                                        <!-- Post -->
                                        <div class="bg-white shadow-md rounded border border-slate-200 p-5" th:each="news1 : ${news}">
                                            <!-- Header -->
                                            <header class="flex justify-between items-start space-x-3 mb-3">
                                                <!-- User -->
                                                <div class="flex items-start space-x-3">
                                                    <img class="rounded-full shrink-0" th:src="@{/image/stanart-logo.jpg}" width="40" height="40" alt="User 06" />
                                                    <div>
                                                        <div class="leading-tight">
                                                            <a class="text-sm font-semibold text-slate-800" href="#0">StandArt Hotel</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </header>
                                            <!-- Body -->
                                            <div class="text-sm text-slate-800 space-y-2 mb-5" >
                                                <p th:text="${news1.getNewsDescription().getRuName()}">Text</p>
                                                <div class="relative !my-4">
                                                  <a data-fancybox="" th:href="|@{/image/news/}${news1.getImageLink()}|" class="mb-6">
                                                    <img class="block w-full" th:src="|@{/image/news/}${news1.getImageLink()}|" alt="Новость" />
                                                  </a>
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </main>

        </div>

    </div>

    <script th:src="@{/app/js/vendors/alpinejs.min.js}" defer></script>

    <script th:src="@{/app/fancybox.umd.js}"></script>

    <script>
      Fancybox.bind('[data-fancybox]', {
        Toolbar: {
          display: {
            left: ["infobar"],
            middle: [
              "zoomIn",
              "zoomOut",
              "toggle1to1",
              "rotateCCW",
              "rotateCW",
              "flipX",
              "flipY",
            ],
            right: ["slideshow", "thumbs", "close"],
          },
        },
      });
    </script>

</body>

</html>
