<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Меню</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link th:href="@{/app/css/vendors/flatpickr.min.css}" rel="stylesheet">
    <link th:href="@{/app/style.css}" rel="stylesheet">
  <link
    rel="stylesheet"
    th:href="@{/app/fancybox.css}"
  />
  <link type="image/x-icon" th:href="@{/images/favicon.ico}" rel="shortcut icon">
</head>

<body
    class="font-inter antialiased bg-slate-100 text-slate-600"
    :class="{ 'sidebar-expanded': sidebarExpanded }"
    x-data="{ sidebarOpen: false, sidebarExpanded: localStorage.getItem('sidebar-expanded') == 'true' }"
    x-init="$watch('sidebarExpanded', value => localStorage.setItem('sidebar-expanded', value))"
>

    <script>
        if (localStorage.getItem('sidebar-expanded') == 'true') {
            document.querySelector('body').classList.add('sidebar-expanded');
        } else {
            document.querySelector('body').classList.remove('sidebar-expanded');
        }
    </script>

    <!-- Page wrapper -->
    <div class="flex h-screen overflow-hidden">

      <!-- Sidebar -->
      <div th:insert="~{/app/_fragments.html :: sidebar}">

      </div>

        <!-- Content area -->
        <div class="relative flex flex-col flex-1 overflow-y-auto overflow-x-hidden">

          <!-- Header -->
          <header class="sticky top-0 bg-white border-b border-slate-200 z-30" th:insert="~{/app/_fragments.html :: header}">

          </header>

            <main>
                <div class="px-4 sm:px-6 lg:px-8 py-8 w-full max-w-9xl mx-auto">

                    <!-- Page header -->
                    <div class="mb-5">

                        <!-- Title -->
                        <h1 class="text-2xl md:text-3xl text-slate-800 font-bold">Вкусная еда в ваш номер ✨</h1>

                    </div>

                  <!--Оповещение об успешном создании номеров-->
                  <div x-data="{ modalOpen: true }" th:if="${createdOrder}">
                    <!-- Modal backdrop -->
                    <div class="fixed inset-0 bg-slate-900 bg-opacity-30 z-50 transition-opacity" x-show="modalOpen" x-transition:enter="transition ease-out duration-200" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="transition ease-out duration-100" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" aria-hidden="true" style="display: none;"></div>
                    <!-- Modal dialog -->
                    <div id="success-modal" class="fixed inset-0 z-50 overflow-hidden flex items-center my-4 justify-center" role="dialog" aria-modal="true" x-show="modalOpen" x-transition:enter="transition ease-in-out duration-200" x-transition:enter-start="opacity-0 translate-y-4" x-transition:enter-end="opacity-100 translate-y-0" x-transition:leave="transition ease-in-out duration-200" x-transition:leave-start="opacity-100 translate-y-0" x-transition:leave-end="opacity-0 translate-y-4" style="display: none;">
                      <div class="bg-white rounded shadow-lg overflow-auto max-w-lg w-full max-h-full" @click.outside="modalOpen = false" @keydown.escape.window="modalOpen = false">
                        <div class="p-5 flex space-x-4">
                          <!-- Icon -->
                          <div class="w-10 h-10 rounded-full flex items-center justify-center shrink-0 bg-emerald-100">
                            <svg class="w-4 h-4 shrink-0 fill-current text-emerald-500" viewBox="0 0 16 16">
                              <path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zM7 11.4L3.6 8 5 6.6l2 2 4-4L12.4 6 7 11.4z"></path>
                            </svg>
                          </div>
                          <!-- Content -->
                          <div>
                            <!-- Modal header -->
                            <div class="mb-2">
                              <div class="text-lg font-semibold text-slate-800">Успешная оплата</div>
                            </div>
                            <!-- Modal content -->
                            <div class="text-sm mb-10">
                              <div class="space-y-2">
                                <p th:text="|Вы оплатили заказ еды в номер|">Описание процесса</p>
                              </div>
                            </div>
                            <!-- Modal footer -->
                            <div class="flex flex-wrap justify-end space-x-2">
                              <button class="btn-sm border-slate-200 hover:border-slate-300 text-slate-600" @click="modalOpen = false">Закрыть</button></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                    <!-- Page content -->
                    <div class="flex flex-col space-y-10 sm:flex-row sm:space-x-6 sm:space-y-0 md:flex-col md:space-x-0 md:space-y-10 xl:flex-row xl:space-x-6 xl:space-y-0 mt-9">

                        <!-- Sidebar -->
                        <div>
                             <div class="bg-white shadow-lg rounded-sm border border-slate-200 p-5 min-w-60">
                                <div class="grid md:grid-cols-2 xl:grid-cols-1 gap-6">
                                    <!-- Group 1 -->
                                    <div>
                                        <div class="text-sm text-slate-800 font-semibold mb-3">Меню</div>
                                        <ul class="text-sm font-medium space-y-2">
                                          <li>
                                            <a class="text-slate-600 hover:text-slate-700" th:href="|@{/food}|" th:if="${currentFoodType}">Показать все</a>
                                            <a class="text-indigo-500" th:href="|@{/food}|" th:unless="${currentFoodType}">Показать все</a>
                                          </li>
                                            <li th:each="foodType : ${foodTypes}">
                                                <a class="text-indigo-500" th:href="|@{/food/{type}(type=${foodType.getEnName().toLowerCase()})}|" th:text="${foodType.getRuName()}"
                                                   th:if="${currentFoodType == foodType.getEnName().toLowerCase()}">Type</a>
                                                <a class="text-slate-600 hover:text-slate-700" th:href="|@{/food/{type}(type=${foodType.getEnName().toLowerCase()})}|" th:text="${foodType.getRuName()}"
                                                   th:unless="${currentFoodType == foodType.getEnName().toLowerCase()}">Type</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Content -->
                        <div>

                            <div class="text-sm text-slate-500 italic mb-4" th:text="|${food.size()} доступно|"></div>

                            <!-- Cards 1 (Video Courses) -->
                            <div>
                                <div class="grid grid-cols-12 gap-6">
                                    <!-- Card 1 -->
                                    <div class="col-span-full md:col-span-6 xl:col-span-4 bg-white shadow-lg rounded-sm border border-slate-200 overflow-hidden" th:each="foods : ${food}">
                                        <div class="flex flex-col h-full">
                                            <!-- Image -->
                                            <div class="relative">
                                              <a data-fancybox="" th:href="|@{/image/food/}${foods.imageLink}|" class="mb-6">
                                                <img class="w-full" width="301" height="226" th:src="|@{/image/food/}${foods.imageLink}|" alt="Еда" />
                                              </a>
                                            </div>
                                            <!-- Card Content -->
                                            <div class="grow flex flex-col p-5">
                                                <!-- Card body -->
                                                <div class="grow">
                                                    <header class="mb-2">
                                                        <a href="#0">
                                                            <h3 class="text-lg text-slate-800 font-semibold mb-1" th:text="${foods.getFoodName().getRuName()}">Food name</h3>
                                                        </a>
                                                        <div class="text-sm" th:text="${foods.getFoodDescription().getRuName()}">Food description</div>
                                                    </header>
                                                </div>
                                                <!-- Rating and price -->
                                                <div class="flex flex-wrap justify-between items-center">
                                                    <!-- Button -->
                                                  <form th:action="@{/food/add/{id}(id=${foods.id})}" method="post">
                                                    <div class="flex items-center space-x-2 mr-2">
                                                      <button class="inline-flex items-center justify-center text-sm font-medium leading-5 rounded-full px-3 py-1 border border-transparent shadow-sm bg-indigo-500 text-white duration-150 ease-in-out">В корзину</button>
                                                    </div>
                                                  </form>
                                                    <!-- Price -->
                                                    <div>
                                                      <div class="inline-flex text-sm font-medium bg-emerald-100 text-emerald-600 rounded-full text-center px-2 py-0.5" th:text="|${foods.getCost()} руб.|">Price</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </main>

        </div>

    </div>

    <script th:src="@{/app/js/vendors/alpinejs.min.js}" defer></script>

    <script th:src="@{/app/fancybox.umd.js}"></script>

    <script>
      Fancybox.bind('[data-fancybox]', {
        Toolbar: {
          display: {
            left: ["infobar"],
            middle: [
              "zoomIn",
              "zoomOut",
              "toggle1to1",
              "rotateCCW",
              "rotateCW",
              "flipX",
              "flipY",
            ],
            right: ["slideshow", "thumbs", "close"],
          },
        },
      });
    </script>

</body>

</html>
