<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Fragments</title>
</head>
<body>

</body>

<!-- Sidebar -->

<div th:fragment="sidebar">
  <!-- Sidebar backdrop (mobile only) -->
  <div class="fixed inset-0 bg-slate-900 bg-opacity-30 z-40 lg:hidden lg:z-auto transition-opacity duration-200" :class="sidebarOpen ? 'opacity-100' : 'opacity-0 pointer-events-none'" aria-hidden="true" x-cloak></div>

  <!-- Sidebar -->
  <div id="sidebar" class="flex flex-col absolute z-40 left-0 top-0 lg:static lg:left-auto lg:top-auto lg:translate-x-0 h-screen overflow-y-scroll lg:overflow-y-auto no-scrollbar w-64 lg:w-20 lg:sidebar-expanded:!w-64 2xl:!w-64 shrink-0 bg-slate-800 p-4 transition-all duration-200 ease-in-out" :class="sidebarOpen ? 'translate-x-0' : '-translate-x-64'" @click.outside="sidebarOpen = false" @keydown.escape.window="sidebarOpen = false" x-cloak="lg">

    <!-- Sidebar header -->
    <div class="flex justify-between mb-10 pr-3 sm:px-2">
      <!-- Close button -->
      <button class="lg:hidden text-slate-500 hover:text-slate-400" @click.stop="sidebarOpen = !sidebarOpen" aria-controls="sidebar" :aria-expanded="sidebarOpen">
        <span class="sr-only">Close sidebar</span>
        <svg class="w-6 h-6 fill-current" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M10.7 18.7l1.4-1.4L7.8 13H20v-2H7.8l4.3-4.3-1.4-1.4L4 12z" />
        </svg>
      </button>
      <!-- Logo -->
      <a class="block" th:href="@{/rooms}">
        <svg width="64" height="64" viewBox="0 0 42 32">
          <use xlink:href="#colored__logosq-white">
            <symbol id="colored__logosq-white" viewBox="0 0 50 50" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                          <style>.adst0{fill-rule:evenodd;clip-rule:evenodd;fill:white}</style>
              <g id="adAbout"><g id="adLogo"><g transform="translate(27.193 27.633)">
                                            <path id="adFill-3" class="adst0" d="M21.8 8.5c-7 .2-14 .3-20.9.5-.1.1-.2.3-.3.5v3.7c1.7 0 3.2 0 4.8.1 2.5.1 4.9.1 7.3.5 3.1.5 6.1.1 9.4-.1-.2-1.9.2-3.6-.3-5.2"></path>
                                            <path id="adFill-5" class="adst0" d="M5.5 5.7c2.2-.3 4.5-.6 6.7-.7 2.8-.1 5.7 0 8.6-.1.4 0 .9-.1 1.4-.2 0-1.3.1-2.5-.5-3.8H9.4C8.2.9 7.1 1 6 .3 5.4 0 4.5-.2 3.9.3c-.8.5-1.6.6-2.5.7-.4.1-.7.3-1 .4v4c1.8.5 3.4.6 5.1.3">
                                            </path><g id="adGroup-9" transform="translate(0 15.672)"><path id="adFill-7" class="adst0" d="M21.8 2.1c-.1 0-.3-.1-.4-.1-.3 0-.5 0-.8.1-2.7.5-5.4.1-8.1-.5C8.6.6 4.7.9.6 1 .6 2.5.5 3.7.5 5c0 .5.5 1 1.1 1.1.5.1.9.1 1.4 0 2-.2 3.9-.5 5.9-.7.4 0 1-.2 1.4.1.7.5 1.4.4 2.1.3.9-.1 1.9-.1 2.8-.3 1.3-.2 2.6-.2 3.8.3 1.1.4 2.1.2 3.1-.1.3-2 .3-2-.3-3.6"></path>
                                          </g></g><g transform="translate(.893 27.622)">
                                            <path id="adFill-1" class="adst0" d="M21.5 12.7c.1-2.2.2-4.3.1-6.5 0-1.6-.4-3.2-.2-4.8 0-.3-.2-.7-.3-.9-.3-.1-.4-.1-.5-.1C16.7.5 12.9.2 9 .4 8.2.4 7.3.4 6.5.2 4.4-.3 2.4.2.2 1v5.9c0 1 0 2.1.2 3.1.2 1.4-.2 2.8-.2 4.1 0 1.5.3 2.9 0 4.4 0 .2-.1.4-.1.6v2c.7.2 1.2.3 1.8.4 1.9.1 3.8.1 5.7-.1.6-.1 1.2-.1 1.7.1 1.8.8 3.6.1 5.4.4 1 .1 2.1 0 3.1 0 1.3 0 2.7.1 4.1-.2-.1-1.6 0-3.1-.2-4.6-.3-1.6-.2-3-.2-4.4"></path>
                                          </g><g transform="translate(27.608 .892)">
                                            <path id="adFill-10" class="adst0" d="M14.8 5.1c-.7 1.4-1.9 2.4-3.3 3.2-1.3.8-2.6 1.8-3.6 2.9-2.2 2.3-4.4 4.6-6.5 6.9-.4.4-.8.8-1 1.2-.5.8-.2 1.7.7 2.1 1 .4 1.6.3 2.5-.7 4-4.7 8.3-9.2 12.7-13.7 1.5-1.5 3-3.1 4.6-4.6.7-.7.9-1.3.3-2.2-.8-.1-1.2.2-1.6.6-1.3 1.2-2.4 2.8-4.2 3.4-.3.4-.4.7-.6.9"></path>
                <path id="adFill-12" class="adst0" d="M.4 16.1h.4c4.8-4.9 9.6-9.9 14.4-14.8.2-.2.4-.5.7-.9-1.6-.7-3.2-.1-4.7-.3C7.7 3.4 4.3 6.8.9 10.2c-.2.2-.5.5-.5.8-.2 1.6-.6 3.2-.3 4.8 0 .1.2.2.3.3"></path>
                <path id="adFill-14" class="adst0" d="M20.4 10.4C16.7 13.5 13.3 17 10 20.6c-.2.2-.2.4-.3.8h4.5c2.2-2.3 4.5-4.7 6.8-7.1.3-.3.6-.7.6-1 .1-1.2.2-2.4.3-3.8-.6.3-1.1.6-1.5.9"></path>
                <path id="adFill-20" class="adst0" d="M20.2 6c-2.3 2.5-4.6 4.9-7.5 6.8-.4.3-.8.7-1.1 1.1-1.8 2.2-3.7 4.3-5.5 6.5-.3.3-.6.7-.9 1.1 1.4.2 1.4.2 1.8-.2.3-.2.5-.5.7-.7C12 16 16.3 11.4 21 7.2c.8-.7.9-1.6.8-2.6-.8.3-1.1 1-1.6 1.4"></path>
                <path id="adFill-37" class="adst0" d="M.4 7.9C2 6.7 7.9 1.1 8.6.1 7.3 0 6.1-.2 5.2.8 3.7 2.6 2.2 4.3.7 6 .3 6.5.2 7.1.4 7.9"></path>
                <path id="adFill-41" class="adst0" d="M21.6 16.5c-1.9 1.5-3.4 3.1-5.2 4.9 1.5.6 2.3.3 3.1-.6.5-.6 1.1-1.2 1.7-1.7.7-.8.8-1.5.4-2.6"></path>
                <path id="adFill-43" class="adst0" d="M2.5 1.6c.3-.4.6-.8 1-1.4C1.8.3 1 1.5 0 2.2v2.4c1.2-.8 2-1.5 2.9-2.3-.1-.3-.2-.5-.4-.7"></path>
                                          </g><g transform="translate(0 .322)"><g id="adGroup-24"><path id="adFill-22" class="adst0" d="M2 22c.4-.7.2-1.4.2-2 0-4.3-.4-8.6.2-12.9.1-.6.1-1.2 0-1.7-.1-1.2 0-2.3.3-3.5.1-.3-.1-.7-.1-1.2-.6.2-1 .3-1.6.4C1 2 .9 2.8.9 3.6c0 1 .2 1.9.1 2.9 0 4.4-.1 8.9-.2 13.3v2c.5.1.9.1 1.2.2"></path></g>
                <path id="adFill-16" class="adst0" d="M3.8 22.1c.4 0 .9-.1 1.3-.1.1-.3.3-.5.3-.8 0-1.2.1-2.4 0-3.7-.2-3.1-.7-6.1-.5-9.2 0-.5-.1-1-.2-1.5-.3-1.4-.4-2.8 0-4.2.1-.5.1-1 .1-1.5 0-.2-.3-.4-.5-.4s-.5.3-.6.5c-.1.4-.1.9-.1 1.3-.1 4.9-.2 9.8-.3 14.6 0 1.5.1 3 .2 4.4l.3.6"></path>
                <path id="adFill-18" class="adst0" d="M8.6 21.5c0 .2.1.3.2.5.2 0 .4.1.6.1.2 0 .4-.1.7-.1v-5.3c0-2 .2-4 0-5.9-.3-2.5-.3-5-.1-7.5 0-.6.1-1.2.1-1.7 0-.8-.2-.9-1.4-.9-.1.8-.2 1.7-.2 2.6 0 3 .2 6-.1 9-.1 1.6.1 3.2.1 4.8.1 1.5.1 2.9.1 4.4"></path>
                <path id="adFill-25" class="adst0" d="M15.4 21.9c.4 0 .8.1 1.1.1.5-.7.2-1.3.2-1.9V2.2c0-.4-.1-.9-.2-1.3 0-.1-.3-.2-.5-.2s-.4.1-.5.3c-.1.3-.1.6-.1.9 0 1.7 0 3.3-.1 5-.1 2.6-.2 5.2-.2 7.8V21c.1.2.2.6.3.9"></path>
                <path id="adFill-27" class="adst0" d="M6.5 20c0 .6.1 1.1.2 1.7 0 .2.1.4.2.5l.3-.2c.1-.2.2-.4.2-.6.1-1.5.3-3.1.3-4.6 0-.5-.1-1-.1-1.5-.2-2.7-.5-5.4-.6-8 0-1.9.3-3.8.3-5.6 0-.9-.3-1.1-1.5-.6 0 1.1-.1 2.2-.1 3.4.3 5.1.5 10.3.8 15.5"></path>
                <path id="adFill-29" class="adst0" d="M21 22c.3-.2.6-.3.7-.5.5-1.4.8-2.8.6-4.3-.3-2.4-.3-4.8 0-7.3.1-1.2.4-2.4.4-3.6s-.2-2.4-.4-3.6c-.1-.5-.2-1-.9-.9-.1 2.3-.3 4.6-.4 6.9-.1 1-.2 1.9-.2 2.9 0 2.9.1 5.8.2 8.7V22"></path>
                <path id="adFill-31" class="adst0" d="M13.6 22.1h.9c0-2.2-.1-4.2-.1-6.3 0-4.3.1-8.6.2-12.9V.8c-.6-.1-1-.1-1.1.5-.1.4-.1.8-.1 1.2V20c-.1.6-.2 1.3.2 2.1"></path>
                <path id="adFill-33" class="adst0" d="M11.4 18.1c.1 1.2 0 2.3.1 3.5 0 .2.2.3.5.8.1-.7.1-1.1.1-1.5.1-3.7.1-7.4.2-11.2 0-.9.2-1.9.2-2.8 0-1.2-.1-2.4-.2-3.6 0-.8-.1-1.5-.1-2.7-.6.4-.9.5-1 .7-.1.3-.1.6-.1.9 0 1.5 0 3.1-.1 4.6 0 .4-.1.8 0 1.2.4 3.3.1 6.7.4 10.1"></path>
                <path id="adFill-35" class="adst0" d="M17.6 21.7c.1-.1.2-.2.2-.3.2-2.2.5-4.3.7-6.5.1-.8 0-1.7 0-2.5-.1-1.2-.2-2.4-.2-3.6 0-2 .1-4 .1-6 0-.6.2-1.3-.4-1.8-.1 0-.1 0-.2.1-.7 3.9-.2 7.9-.5 11.9-.2 2.8 0 5.6.1 8.5 0 0 .2.1.2.2"></path>
                <path id="adFill-39" class="adst0" d="M19.1 22c.4.1.6-.3.6-1.3 0-3.3.2-6.6.4-9.8.6-5.9-.4-5.9 0-8.7.1-.4.2-.9-.6-1.3-.1.4-.1.6-.2.9L19 6c0 1.4 0 2.8.3 4.2.3 1.3.3 2.7-.1 4-.1.4-.2.9-.2 1.3.2 1.7-.2 3.4-.4 5.1.1.5-.2 1.1.5 1.4"></path></g></g></g></symbol>
          </use>
        </svg>
      </a>
    </div>

    <!-- Links -->
    <div class="space-y-8">
      <!-- Pages group -->
      <div>
        <h3 class="text-xs uppercase text-slate-500 font-semibold pl-3">
          <span class="hidden lg:block lg:sidebar-expanded:hidden 2xl:hidden text-center w-6" aria-hidden="true">•••</span>
          <span class="lg:hidden lg:sidebar-expanded:block 2xl:block">Разделы</span>
        </h3>
        <ul class="mt-3">
          <!-- HOTEL -->
          <li class="px-3 py-2 rounded-sm mb-0.5 last:mb-0 bg-slate-900" x-data="{ open: true }"
          th:if="${url == 'rooms' || url == 'bookings'}">
            <a class="block text-slate-200 hover:text-slate-200 truncate transition duration-150" href="#0" @click.prevent="sidebarExpanded ? open = !open : sidebarExpanded = true">
              <div class="flex items-center justify-between">
                <div class="flex items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-building-skyscraper" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#94a3b8" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M3 21l18 0" />
                    <path d="M5 21v-14l8 -4v18" />
                    <path d="M19 21v-10l-6 -4" />
                    <path d="M9 9l0 .01" />
                    <path d="M9 12l0 .01" />
                    <path d="M9 15l0 .01" />
                    <path d="M9 18l0 .01" />
                  </svg>
                  <span class="text-sm font-medium ml-3 lg:opacity-0 lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200">Отель</span>
                </div>
                <!-- Icon -->
                <div class="flex shrink-0 ml-2 lg:opacity-0 lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200">
                  <svg class="w-3 h-3 shrink-0 ml-1 fill-current text-slate-400" :class="open ? 'rotate-180' : 'rotate-0'" viewBox="0 0 12 12">
                    <path d="M5.9 11.4L.5 6l1.4-1.4 4 4 4-4L11.3 6z" />
                  </svg>
                </div>
              </div>
            </a>
            <div class="lg:hidden lg:sidebar-expanded:block 2xl:block">
              <ul class="pl-9 mt-1" :class="open ? '!block' : 'hidden'">

                <!-- Rooms -->
                <li class="mb-1 last:mb-0" th:if="${url == 'rooms'}">
                  <a class="block text-indigo-500 transition duration-150 truncate" th:href="@{/rooms}">
                    <span class="text-sm font-medium lg:opacity-0 lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200">Номера</span>
                  </a>
                </li>
                <li class="mb-1 last:mb-0" th:unless="${url == 'rooms'}">
                  <a class="block text-slate-400 hover:text-slate-200 transition duration-150 truncate" th:href="@{/rooms}">
                    <span class="text-sm font-medium lg:opacity-0 lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200">Номера</span>
                  </a>
                </li>
                <!-- Bookings -->
                <li class="mb-1 last:mb-0" th:if="${url == 'bookings'}">
                  <a class="block text-indigo-500 transition duration-150 truncate" th:href="@{/bookings}">
                    <span class="text-sm font-medium lg:opacity-0 lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200">Бронирования</span>
                  </a>
                </li>
                <li class="mb-1 last:mb-0" th:unless="${url == 'bookings'}">
                  <a class="block text-slate-400 hover:text-slate-200 transition duration-150 truncate" th:href="@{/bookings}">
                    <span class="text-sm font-medium lg:opacity-0 lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200">Бронирования</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <!-- HOTEL -->
          <li class="px-3 py-2 rounded-sm mb-0.5 last:mb-0" x-data="{ open: false }"
              th:unless="${url == 'rooms' || url == 'bookings'}">
            <a class="block text-slate-200 hover:text-slate-200 truncate transition duration-150" href="#0" @click.prevent="sidebarExpanded ? open = !open : sidebarExpanded = true">
              <div class="flex items-center justify-between">
                <div class="flex items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-building-skyscraper" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#94a3b8" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M3 21l18 0" />
                    <path d="M5 21v-14l8 -4v18" />
                    <path d="M19 21v-10l-6 -4" />
                    <path d="M9 9l0 .01" />
                    <path d="M9 12l0 .01" />
                    <path d="M9 15l0 .01" />
                    <path d="M9 18l0 .01" />
                  </svg>
                  <span class="text-sm font-medium ml-3 lg:opacity-0 lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200">Отель</span>
                </div>
                <!-- Icon -->
                <div class="flex shrink-0 ml-2 lg:opacity-0 lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200">
                  <svg class="w-3 h-3 shrink-0 ml-1 fill-current text-slate-400" :class="open ? 'rotate-180' : 'rotate-0'" viewBox="0 0 12 12">
                    <path d="M5.9 11.4L.5 6l1.4-1.4 4 4 4-4L11.3 6z" />
                  </svg>
                </div>
              </div>
            </a>
            <div class="lg:hidden lg:sidebar-expanded:block 2xl:block">
              <ul class="pl-9 mt-1" :class="open ? '!block' : 'hidden'">

                <!-- Rooms -->
                <li class="mb-1 last:mb-0">
                  <a class="block text-slate-400 hover:text-slate-200 transition duration-150 truncate" th:href="@{/rooms}">
                    <span class="text-sm font-medium lg:opacity-0 lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200">Номера</span>
                  </a>
                </li>
                <!-- Bookings -->
                <li class="mb-1 last:mb-0">
                  <a class="block text-slate-400 hover:text-slate-200 transition duration-150 truncate" th:href="@{/bookings}">
                    <span class="text-sm font-medium lg:opacity-0 lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200">Бронирования</span>
                  </a>

                </li>
              </ul>
            </div>
          </li>

          <!-- FOOD -->
          <li class="px-3 py-2 rounded-sm mb-0.5 last:mb-0 bg-slate-900" x-data="{ open: true }"
              th:if="${url == 'food' || url == 'foodCart'}">
            <a class="block text-slate-200 hover:text-slate-200 truncate transition duration-150" href="#0" @click.prevent="sidebarExpanded ? open = !open : sidebarExpanded = true">
              <div class="flex items-center justify-between">
                <div class="flex items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-meat" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#94a3b8" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M13.62 8.382l1.966 -1.967a2 2 0 1 1 3.414 -1.415a2 2 0 1 1 -1.413 3.414l-1.82 1.821" />
                    <path d="M5.904 18.596c2.733 2.734 5.9 4 7.07 2.829c1.172 -1.172 -.094 -4.338 -2.828 -7.071c-2.733 -2.734 -5.9 -4 -7.07 -2.829c-1.172 1.172 .094 4.338 2.828 7.071z" />
                    <path d="M7.5 16l1 1" />
                    <path d="M12.975 21.425c3.905 -3.906 4.855 -9.288 2.121 -12.021c-2.733 -2.734 -8.115 -1.784 -12.02 2.121" />
                  </svg>
                  <span class="text-sm font-medium ml-3 lg:opacity-0 lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200">Ресторан</span>
                </div>
                <!-- Icon -->
                <div class="flex shrink-0 ml-2 lg:opacity-0 lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200">
                  <svg class="w-3 h-3 shrink-0 ml-1 fill-current text-slate-400" :class="open ? 'rotate-180' : 'rotate-0'" viewBox="0 0 12 12">
                    <path d="M5.9 11.4L.5 6l1.4-1.4 4 4 4-4L11.3 6z" />
                  </svg>
                </div>
              </div>
            </a>
            <div class="lg:hidden lg:sidebar-expanded:block 2xl:block">
              <ul class="pl-9 mt-1" :class="open ? '!block' : 'hidden'">

                <!-- Rooms -->
                <li class="mb-1 last:mb-0" th:if="${url == 'food'}">
                  <a class="block text-indigo-500 transition duration-150 truncate" th:href="@{/food}">
                    <span class="text-sm font-medium lg:opacity-0 lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200">Меню</span>
                  </a>
                </li>
                <li class="mb-1 last:mb-0" th:unless="${url == 'food'}">
                  <a class="block text-slate-400 hover:text-slate-200 transition duration-150 truncate" th:href="@{/food}">
                    <span class="text-sm font-medium lg:opacity-0 lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200">Меню</span>
                  </a>
                </li>
                <!-- Bookings -->
                <li class="mb-1 last:mb-0" th:if="${url == 'foodCart'}">
                  <a class="block text-indigo-500 transition duration-150 truncate" th:href="@{/foodCart}">
                    <span class="text-sm font-medium lg:opacity-0 lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200">Корзина</span>
                  </a>
                </li>
                <li class="mb-1 last:mb-0" th:unless="${url == 'foodCart'}">
                  <a class="block text-slate-400 hover:text-slate-200 transition duration-150 truncate" th:href="@{/foodCart}">
                    <span class="text-sm font-medium lg:opacity-0 lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200">Корзина</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>

          <!-- FOOD -->
          <li class="px-3 py-2 rounded-sm mb-0.5 last:mb-0" x-data="{ open: false }"
              th:unless="${url == 'food' || url == 'foodCart'}">
            <a class="block text-slate-200 hover:text-slate-200 truncate transition duration-150" href="#0" @click.prevent="sidebarExpanded ? open = !open : sidebarExpanded = true">
              <div class="flex items-center justify-between">
                <div class="flex items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-meat" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#94a3b8" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M13.62 8.382l1.966 -1.967a2 2 0 1 1 3.414 -1.415a2 2 0 1 1 -1.413 3.414l-1.82 1.821" />
                    <path d="M5.904 18.596c2.733 2.734 5.9 4 7.07 2.829c1.172 -1.172 -.094 -4.338 -2.828 -7.071c-2.733 -2.734 -5.9 -4 -7.07 -2.829c-1.172 1.172 .094 4.338 2.828 7.071z" />
                    <path d="M7.5 16l1 1" />
                    <path d="M12.975 21.425c3.905 -3.906 4.855 -9.288 2.121 -12.021c-2.733 -2.734 -8.115 -1.784 -12.02 2.121" />
                  </svg>
                  <span class="text-sm font-medium ml-3 lg:opacity-0 lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200">Ресторан</span>
                </div>
                <!-- Icon -->
                <div class="flex shrink-0 ml-2 lg:opacity-0 lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200">
                  <svg class="w-3 h-3 shrink-0 ml-1 fill-current text-slate-400" :class="open ? 'rotate-180' : 'rotate-0'" viewBox="0 0 12 12">
                    <path d="M5.9 11.4L.5 6l1.4-1.4 4 4 4-4L11.3 6z" />
                  </svg>
                </div>
              </div>
            </a>
            <div class="lg:hidden lg:sidebar-expanded:block 2xl:block">
              <ul class="pl-9 mt-1" :class="open ? '!block' : 'hidden'">

                <!-- Rooms -->
                <li class="mb-1 last:mb-0">
                  <a class="block text-slate-400 hover:text-slate-200 transition duration-150 truncate" th:href="@{/food}">
                    <span class="text-sm font-medium lg:opacity-0 lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200">Меню</span>
                  </a>
                </li>
                <!-- Bookings -->
                <li class="mb-1 last:mb-0">
                  <a class="block text-slate-400 hover:text-slate-200 transition duration-150 truncate" th:href="@{/foodCart}">
                    <span class="text-sm font-medium lg:opacity-0 lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200">Корзина</span>
                  </a>
                </li>

              </ul>
            </div>
          </li>


          <!-- SERVICES -->
          <li class="px-3 py-2 rounded-sm mb-0.5 last:mb-0 bg-slate-900" x-data="{ open: true }"
              th:if="${url == 'services' || url == 'cart'}">
            <a class="block text-slate-200 hover:text-slate-200 truncate transition duration-150" href="#0" @click.prevent="sidebarExpanded ? open = !open : sidebarExpanded = true">
              <div class="flex items-center justify-between">
                <div class="flex items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shopping-cart" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#94a3b8" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                    <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                    <path d="M17 17h-11v-14h-2" />
                    <path d="M6 5l14 1l-1 7h-13" />
                  </svg>
                  <span class="text-sm font-medium ml-3 lg:opacity-0 lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200">Услуги</span>
                </div>
                <!-- Icon -->
                <div class="flex shrink-0 ml-2 lg:opacity-0 lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200">
                  <svg class="w-3 h-3 shrink-0 ml-1 fill-current text-slate-400" :class="open ? 'rotate-180' : 'rotate-0'" viewBox="0 0 12 12">
                    <path d="M5.9 11.4L.5 6l1.4-1.4 4 4 4-4L11.3 6z" />
                  </svg>
                </div>
              </div>
            </a>
            <div class="lg:hidden lg:sidebar-expanded:block 2xl:block">
              <ul class="pl-9 mt-1" :class="open ? '!block' : 'hidden'">

                <!-- Rooms -->
                <li class="mb-1 last:mb-0" th:if="${url == 'services'}">
                  <a class="block text-indigo-500 transition duration-150 truncate" th:href="@{/services}">
                    <span class="text-sm font-medium lg:opacity-0 lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200">Просмотр услуг</span>
                  </a>
                </li>
                <li class="mb-1 last:mb-0" th:unless="${url == 'services'}">
                  <a class="block text-slate-400 hover:text-slate-200 transition duration-150 truncate" th:href="@{/services}">
                    <span class="text-sm font-medium lg:opacity-0 lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200">Просмотр услуг</span>
                  </a>
                </li>
                <!-- Bookings -->
                <li class="mb-1 last:mb-0" th:if="${url == 'cart'}">
                  <a class="block text-indigo-500 transition duration-150 truncate" th:href="@{/cart}">
                    <span class="text-sm font-medium lg:opacity-0 lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200">Корзина</span>
                  </a>
                </li>
                <li class="mb-1 last:mb-0" th:unless="${url == 'cart'}">
                  <a class="block text-slate-400 hover:text-slate-200 transition duration-150 truncate" th:href="@{/cart}">
                    <span class="text-sm font-medium lg:opacity-0 lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200">Корзина</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <!-- SERVICES -->
          <li class="px-3 py-2 rounded-sm mb-0.5 last:mb-0" x-data="{ open: false }"
              th:unless="${url == 'services' || url == 'cart'}">
            <a class="block text-slate-200 hover:text-slate-200 truncate transition duration-150" href="#0" @click.prevent="sidebarExpanded ? open = !open : sidebarExpanded = true">
              <div class="flex items-center justify-between">
                <div class="flex items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shopping-cart" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#94a3b8" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M6 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                    <path d="M17 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                    <path d="M17 17h-11v-14h-2" />
                    <path d="M6 5l14 1l-1 7h-13" />
                  </svg>
                  <span class="text-sm font-medium ml-3 lg:opacity-0 lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200">Услуги</span>
                </div>
                <!-- Icon -->
                <div class="flex shrink-0 ml-2 lg:opacity-0 lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200">
                  <svg class="w-3 h-3 shrink-0 ml-1 fill-current text-slate-400" :class="open ? 'rotate-180' : 'rotate-0'" viewBox="0 0 12 12">
                    <path d="M5.9 11.4L.5 6l1.4-1.4 4 4 4-4L11.3 6z" />
                  </svg>
                </div>
              </div>
            </a>
            <div class="lg:hidden lg:sidebar-expanded:block 2xl:block">
              <ul class="pl-9 mt-1" :class="open ? '!block' : 'hidden'">

                <!-- Rooms -->
                <li class="mb-1 last:mb-0">
                  <a class="block text-slate-400 hover:text-slate-200 transition duration-150 truncate" th:href="@{/services}">
                    <span class="text-sm font-medium lg:opacity-0 lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200">Просмотр услуг</span>
                  </a>
                </li>
                <!-- Bookings -->
                <li class="mb-1 last:mb-0">
                  <a class="block text-slate-400 hover:text-slate-200 transition duration-150 truncate" th:href="@{/cart}">
                    <span class="text-sm font-medium lg:opacity-0 lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200">Корзина</span>
                  </a>

                </li>
              </ul>
            </div>
          </li>


          <!-- NEWS -->
          <li class="px-3 py-2 rounded-sm mb-0.5 last:mb-0 bg-slate-900"
              th:if="${url == 'news'}">
            <a class="block text-slate-200 hover:text-white truncate transition duration-150" th:href="@{/news}">
              <div class="flex items-center justify-between">
                <div class="grow flex items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-news" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#94a3b8" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M16 6h3a1 1 0 0 1 1 1v11a2 2 0 0 1 -4 0v-13a1 1 0 0 0 -1 -1h-10a1 1 0 0 0 -1 1v12a3 3 0 0 0 3 3h11" />
                    <path d="M8 8l4 0" />
                    <path d="M8 12l4 0" />
                    <path d="M8 16l4 0" />
                  </svg>
                  <span class="text-sm font-medium ml-3 lg:opacity-0 lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200">Новости</span>
                </div>
              </div>
            </a>
          </li>

          <!-- NEWS -->
          <li class="px-3 py-2 rounded-sm mb-0.5 last:mb-0"
              th:unless="${url == 'news'}">
            <a class="block text-slate-200 hover:text-white truncate transition duration-150" th:href="@{/news}">
              <div class="flex items-center justify-between">
                <div class="grow flex items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-news" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#94a3b8" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M16 6h3a1 1 0 0 1 1 1v11a2 2 0 0 1 -4 0v-13a1 1 0 0 0 -1 -1h-10a1 1 0 0 0 -1 1v12a3 3 0 0 0 3 3h11" />
                    <path d="M8 8l4 0" />
                    <path d="M8 12l4 0" />
                    <path d="M8 16l4 0" />
                  </svg>
                  <span class="text-sm font-medium ml-3 lg:opacity-0 lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200">Новости</span>
                </div>
              </div>
            </a>
          </li>


          <!-- CLEANING -->
          <li class="px-3 py-2 rounded-sm mb-0.5 last:mb-0 bg-slate-900"
              th:if="${url == 'cleaning'}">
            <a class="block text-slate-200 hover:text-white truncate transition duration-150" th:href="@{/cleaning}">
              <div class="flex items-center justify-between">
                <div class="grow flex items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-hotel-service" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#94a3b8" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M8.5 10a1.5 1.5 0 0 1 -1.5 -1.5a5.5 5.5 0 0 1 11 0v10.5a2 2 0 0 1 -2 2h-7a2 2 0 0 1 -2 -2v-2c0 -1.38 .71 -2.444 1.88 -3.175l4.424 -2.765c1.055 -.66 1.696 -1.316 1.696 -2.56a2.5 2.5 0 1 0 -5 0a1.5 1.5 0 0 1 -1.5 1.5z" />
                  </svg>
                  <span class="text-sm font-medium ml-3 lg:opacity-0 lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200">Уборка</span>
                </div>
              </div>
            </a>
          </li>

          <!-- CLEANING -->
          <li class="px-3 py-2 rounded-sm mb-0.5 last:mb-0"
              th:unless="${url == 'cleaning'}">
            <a class="block text-slate-200 hover:text-white truncate transition duration-150" th:href="@{/cleaning}">
              <div class="flex items-center justify-between">
                <div class="grow flex items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-hotel-service" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="#94a3b8" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M8.5 10a1.5 1.5 0 0 1 -1.5 -1.5a5.5 5.5 0 0 1 11 0v10.5a2 2 0 0 1 -2 2h-7a2 2 0 0 1 -2 -2v-2c0 -1.38 .71 -2.444 1.88 -3.175l4.424 -2.765c1.055 -.66 1.696 -1.316 1.696 -2.56a2.5 2.5 0 1 0 -5 0a1.5 1.5 0 0 1 -1.5 1.5z" />
                  </svg>
                  <span class="text-sm font-medium ml-3 lg:opacity-0 lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200">Уборка</span>
                </div>
              </div>
            </a>
          </li>

          <!-- MESSAGES -->
          <li class="px-3 py-2 rounded-sm mb-0.5 last:mb-0 bg-slate-900"
              th:if="${url == 'messages'}">
            <a class="block text-slate-200 hover:text-white truncate transition duration-150" th:href="@{/messages}">
              <div class="flex items-center justify-between">
                <div class="grow flex items-center">
                  <svg class="shrink-0 h-6 w-6" viewBox="0 0 24 24">
                    <path class="fill-current text-indigo-500" d="M14.5 7c4.695 0 8.5 3.184 8.5 7.111 0 1.597-.638 3.067-1.7 4.253V23l-4.108-2.148a10 10 0 01-2.692.37c-4.695 0-8.5-3.184-8.5-7.11C6 10.183 9.805 7 14.5 7z"></path>
                    <path class="fill-current text-indigo-300" d="M11 1C5.477 1 1 4.582 1 9c0 1.797.75 3.45 2 4.785V19l4.833-2.416C8.829 16.85 9.892 17 11 17c5.523 0 10-3.582 10-8s-4.477-8-10-8z"></path>
                  </svg>
                  <span class="text-sm font-medium ml-3 lg:opacity-0 lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200">Чаты</span>
                </div>
                <!-- Badge -->
                <div class="flex flex-shrink-0 ml-2" id="unread-badge" th:if="${countNotReadMessages != 0}">
                  <span class="inline-flex items-center justify-center h-5 text-xs font-medium text-white bg-indigo-500 px-2 rounded"
                        id="unread-badge-span" th:text="${countNotReadMessages}"></span>
                </div>
                <div class="flex flex-shrink-0 ml-2" id="unread-badge" th:unless="${countNotReadMessages != 0}" style="display: none">
                  <span class="inline-flex items-center justify-center h-5 text-xs font-medium text-white bg-indigo-500 px-2 rounded"
                        id="unread-badge-span" th:text="${countNotReadMessages}"></span>
                </div>
              </div>
            </a>
          </li>

          <!-- MESSAGES -->
          <li class="px-3 py-2 rounded-sm mb-0.5 last:mb-0"
              th:unless="${url == 'messages'}">
            <a class="block text-slate-200 hover:text-white truncate transition duration-150" th:href="@{/messages}">
              <div class="flex items-center justify-between">
                <div class="grow flex items-center">
                  <svg class="shrink-0 h-6 w-6" viewBox="0 0 24 24">
                    <path class="fill-current text-indigo-500" d="M14.5 7c4.695 0 8.5 3.184 8.5 7.111 0 1.597-.638 3.067-1.7 4.253V23l-4.108-2.148a10 10 0 01-2.692.37c-4.695 0-8.5-3.184-8.5-7.11C6 10.183 9.805 7 14.5 7z"></path>
                    <path class="fill-current text-indigo-300" d="M11 1C5.477 1 1 4.582 1 9c0 1.797.75 3.45 2 4.785V19l4.833-2.416C8.829 16.85 9.892 17 11 17c5.523 0 10-3.582 10-8s-4.477-8-10-8z"></path>
                  </svg>
                  <span class="text-sm font-medium ml-3 lg:opacity-0 lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200">Чаты</span>
                </div>
                <!-- Badge -->
                <div class="flex flex-shrink-0 ml-2" id="unread-badge" th:if="${countNotReadMessages != 0}">
                  <span class="inline-flex items-center justify-center h-5 text-xs font-medium text-white bg-indigo-500 px-2 rounded"
                        id="unread-badge-span" th:text="${countNotReadMessages}"></span>
                </div>
                <div class="flex flex-shrink-0 ml-2" id="unread-badge" th:unless="${countNotReadMessages != 0}" style="display: none">
                  <span class="inline-flex items-center justify-center h-5 text-xs font-medium text-white bg-indigo-500 px-2 rounded"
                        id="unread-badge-span" th:text="${countNotReadMessages}"></span>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>


    <!-- Expand / collapse button -->
    <div class="pt-3 hidden lg:inline-flex 2xl:hidden justify-end mt-auto">
      <div class="px-3 py-2">
        <button @click="sidebarExpanded = !sidebarExpanded">
          <span class="sr-only">Expand / collapse sidebar</span>
          <svg class="w-6 h-6 fill-current sidebar-expanded:rotate-180" viewBox="0 0 24 24">
            <path class="text-slate-400" d="M19.586 11l-5-5L16 4.586 23.414 12 16 19.414 14.586 18l5-5H7v-2z" />
            <path class="text-slate-600" d="M3 23H1V1h2z" />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <script>
    function updateUnreadMessagesCount() {
      var badge = document.querySelector("#unread-badge");
      var badgeSpan = document.querySelector("#unread-badge-span");

      // Создание объекта XMLHttpRequest
      var xhr = new XMLHttpRequest();

      // Настройка обработчика события изменения состояния
      xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE) {
          if (xhr.status === 200) {
            var countNotReadMessages = xhr.responseText;

            if (countNotReadMessages === "0") {
              badge.style.display = "none"; // Скрываем бейдж, если непрочитанных сообщений нет
            } else {
              badge.style.display = "block"; // Показываем бейдж, если есть непрочитанные сообщения
            }

            badgeSpan.textContent = countNotReadMessages;
          }
        }
      };

      // Отправка AJAX-запроса
      xhr.open("GET", "/api/v1/chat/getUnreadMessageCount", true);
      xhr.send();
    }

    // Вызываем функцию сразу после загрузки страницы
    updateUnreadMessagesCount();

    // Обновляем значение каждые 5 секунд
    setInterval(updateUnreadMessagesCount, 5000);
  </script>


</div>




  <div class="px-4 sm:px-6 lg:px-8" th:fragment="header">
    <div class="flex items-center justify-between h-16 -mb-px">

      <!-- Header: Left side -->
      <div class="flex">
        <!-- Hamburger button -->
        <button
          class="text-slate-500 hover:text-slate-600 lg:hidden"
          @click.stop="sidebarOpen = !sidebarOpen"
          aria-controls="sidebar"
          :aria-expanded="sidebarOpen"
        >
          <span class="sr-only">Open sidebar</span>
          <svg class="w-6 h-6 fill-current" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <rect x="4" y="5" width="16" height="2" />
            <rect x="4" y="11" width="16" height="2" />
            <rect x="4" y="17" width="16" height="2" />
          </svg>
        </button>

      </div>

      <!-- Header: Right side -->
      <div class="flex items-center space-x-3">

        <!-- Info button -->
        <div class="relative inline-flex" x-data="{ open: false }">
          <button
            class="w-8 h-8 flex items-center justify-center bg-slate-100 hover:bg-slate-200 transition duration-150 rounded-full"
            :class="{ 'bg-slate-200': open }"
            aria-haspopup="true"
            @click.prevent="open = !open"
            :aria-expanded="open"
          >
            <span class="sr-only">Info</span>
            <svg class="w-4 h-4" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
              <path class="fill-current text-slate-500" d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zm0 12c-.6 0-1-.4-1-1s.4-1 1-1 1 .4 1 1-.4 1-1 1zm1-3H7V4h2v5z" />
            </svg>
          </button>
          <div
            class="origin-top-right z-10 absolute top-full min-w-44 bg-white border border-slate-200 py-1.5 rounded shadow-lg overflow-hidden mt-1"
            @click.outside="open = false"
            @keydown.escape.window="open = false"
            x-show="open"
            x-transition:enter="transition ease-out duration-200 transform"
            x-transition:enter-start="opacity-0 -translate-y-2"
            x-transition:enter-end="opacity-100 translate-y-0"
            x-transition:leave="transition ease-out duration-200"
            x-transition:leave-start="opacity-100"
            x-transition:leave-end="opacity-0"
            x-cloak
          >
            <div class="text-xs font-semibold text-slate-400 uppercase pt-1.5 pb-2 px-3">Нужна помощь?</div>
            <ul>
              <li>
                <div x-data="{ modalOpen: false }">
                  <a class="font-medium text-sm text-indigo-500 hover:text-indigo-600 flex items-center py-1 px-3" href="#0" @click.prevent="modalOpen = true">
                    <svg class="w-3 h-3 fill-current text-indigo-300 shrink-0 mr-2" viewBox="0 0 12 12">
                      <rect y="3" width="12" height="9" rx="1" />
                      <path d="M2 0h8v2H2z" />
                    </svg>
                    <span>FAQ</span>
                  </a>
                  <!-- Modal backdrop -->
                  <div class="fixed inset-0 bg-slate-900 bg-opacity-30 z-50 transition-opacity" x-show="modalOpen" x-transition:enter="transition ease-out duration-200" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="transition ease-out duration-100" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" aria-hidden="true" style="display: none;"></div>
                  <!-- Modal dialog -->
                  <div id="scrollbar-modal" class="fixed inset-0 z-50 overflow-hidden flex items-center my-4 justify-center px-4 sm:px-6" role="dialog" aria-modal="true" x-show="modalOpen" x-transition:enter="transition ease-in-out duration-200" x-transition:enter-start="opacity-0 translate-y-4" x-transition:enter-end="opacity-100 translate-y-0" x-transition:leave="transition ease-in-out duration-200" x-transition:leave-start="opacity-100 translate-y-0" x-transition:leave-end="opacity-0 translate-y-4" style="display: none;">
                    <div class="bg-white rounded shadow-lg overflow-auto max-w-lg w-full max-h-[400px]" @click.outside="modalOpen = false" @keydown.escape.window="modalOpen = false">
                      <!-- Modal header -->
                      <div class="sticky top-0 px-5 py-3 bg-white border-b border-slate-200">
                        <div class="flex justify-between items-center">
                          <div class="font-semibold text-slate-800">Частозадаваемые вопросы</div>
                          <button class="text-slate-400 hover:text-slate-500" @click="modalOpen = false">
                            <div class="sr-only">Close</div>
                            <svg class="w-4 h-4 fill-current">
                              <path d="M7.95 6.536l4.242-4.243a1 1 0 111.415 1.414L9.364 7.95l4.243 4.242a1 1 0 11-1.415 1.415L7.95 9.364l-4.243 4.243a1 1 0 01-1.414-1.415L6.536 7.95 2.293 3.707a1 1 0 011.414-1.414L7.95 6.536z"></path>
                            </svg>
                          </button>
                        </div>
                      </div>
                      <!-- Modal content -->
                      <div class="px-5 py-4">
                        <div class="text-sm">
                          <div class="space-y-2">
                            <div class="font-medium text-slate-800 mb-2">1. Как забронировать номер в отеле через веб-приложение?</div>
                            <p>Для бронирования номера в отеле через веб-приложение необходимо выбрать даты проживания, тип номера, после чего заполнить форму бронирования и произвести оплату.</p>
                            <div class="font-medium text-slate-800 mb-2">2. Какие есть возможности для поиска свободных номеров в отеле?</div>
                            <p>Возможности для поиска свободных номеров в отеле могут включать выбор даты проживания, тип номера, количество гостей, наличие дополнительных услуг и т.д.</p>
                            <div class="font-medium text-slate-800 mb-2">3. Как узнать стоимость проживания в отеле на определенные даты?</div>
                            <p>Стоимость проживания в отеле на определенные даты можно узнать, выбрав соответствующие даты и тип номера в веб-приложении, после чего будет выведена соответствующая информация.</p>
                            <div class="font-medium text-slate-800 mb-2">4. Какие есть услуги в отеле и как их заказать?</div>
                            <p>Услуги в отеле могут включать завтрак, обед и ужин, бар, бассейн, тренажерный зал и т.д. Их можно заказать, выбрав соответствующие пункты при бронировании номера или через раздел "Услуги" в веб-приложении.</p>
                            <div class="font-medium text-slate-800 mb-2">5. Как произвести оплату за проживание в отеле через веб-приложение?</div>
                            <p>Оплату за проживание в отеле можно произвести через веб-приложение, используя банковскую карту или другие способы оплаты, указанные на сайте.</p>
                            <div class="font-medium text-slate-800 mb-2">6. Какие документы нужны для регистрации в отеле?</div>
                            <p>Для регистрации в отеле могут потребоваться паспорт или другие документы, удостоверяющие личность.</p>
                          </div>
                        </div>
                      </div>
                      <!-- Modal footer -->
                      <div class="sticky bottom-0 px-5 py-4 bg-white border-t border-slate-200">
                        <div class="flex flex-wrap justify-end space-x-2">
                          <button class="btn-sm bg-indigo-500 hover:bg-indigo-600 text-white" @click="modalOpen = false">Закрыть</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>



              <li>
                <div x-data="{ modalOpen: false }">
                  <a class="font-medium text-sm text-indigo-500 hover:text-indigo-600 flex items-center py-1 px-3" href="#0" @click.prevent="modalOpen = true" aria-controls="news-modal">
                    <svg class="w-3 h-3 fill-current text-indigo-300 shrink-0 mr-2" viewBox="0 0 12 12">
                      <path d="M11.854.146a.5.5 0 00-.525-.116l-11 4a.5.5 0 00-.015.934l4.8 1.921 1.921 4.8A.5.5 0 007.5 12h.008a.5.5 0 00.462-.329l4-11a.5.5 0 00-.116-.525z" />
                    </svg>
                    <span>Контакты</span>
                  </a>
                  <!-- Modal backdrop -->
                  <div class="fixed inset-0 bg-slate-900 bg-opacity-30 z-50 transition-opacity" x-show="modalOpen" x-transition:enter="transition ease-out duration-200" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="transition ease-out duration-100" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" aria-hidden="true" style="display: none;"></div>
                  <!-- Modal dialog -->
                  <div id="news-modal" class="fixed inset-0 z-50 overflow-hidden flex items-center my-4 justify-center px-4 sm:px-6" role="dialog" aria-modal="true" x-show="modalOpen" x-transition:enter="transition ease-in-out duration-200" x-transition:enter-start="opacity-0 translate-y-4" x-transition:enter-end="opacity-100 translate-y-0" x-transition:leave="transition ease-in-out duration-200" x-transition:leave-start="opacity-100 translate-y-0" x-transition:leave-end="opacity-0 translate-y-4" style="display: none;">
                    <div class="bg-white rounded shadow-lg overflow-auto max-w-sm w-full max-h-full" @click.outside="modalOpen = false" @keydown.escape.window="modalOpen = false">
                      <div class="relative">
                        <div style="position:relative;overflow:hidden;">
                          <a th:href="@{'https://yandex.ru/maps/org/standart/88078673844/?utm_medium=mapframe&utm_source=maps'}" style="color:#eee;font-size:12px;position:absolute;top:0px;">СтандАрт
                          </a>
                          <a th:href="@{'https://yandex.ru/maps/213/moscow/category/hotel/184106414/?utm_medium=mapframe&utm_source=maps'}" style="color:#eee;font-size:12px;position:absolute;top:14px;">Гостиница в Москве
                          </a>
                          <iframe th:src="@{'https://yandex.ru/map-widget/v1/?ll=37.606946%2C55.764987&mode=search&oid=88078673844&ol=biz&z=17.13'}" width="400" height="500" frameborder="1" allowfullscreen="true" style="position:relative;">
                          </iframe>
                        </div>


                      </div>
                      <div class="p-5">
                        <!-- Modal header -->
                        <div class="mb-2">
                          <div class="text-lg font-semibold text-slate-800">Как добраться? 🏃‍♂️</div>
                        </div>
                        <!-- Modal content -->
                        <div class="text-sm mb-5">
                          <div class="space-y-2">
                            <p>125375, Москва, Страстной бульвар, 2. Время от аэропорта на автомобиле: 45-55 мин. "СтандАрт" находится в двух станция метро от Белорусского вокзала, на который прибывают поезда "Аэроэкспресс" из аэропорта Шереметьево. </p>
                          </div>
                        </div>
                        <!-- Modal footer -->
                        <div class="flex flex-wrap justify-end space-x-2">
                          <button class="btn-sm bg-indigo-500 hover:bg-indigo-600 text-white" @click="modalOpen = false">Закрыть</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <!-- Divider -->
        <hr class="w-px h-6 bg-slate-200" />

        <!-- User button -->
        <div class="relative inline-flex" x-data="{ open: false }">
          <button
            class="inline-flex justify-center items-center group"
            aria-haspopup="true"
            @click.prevent="open = !open"
            :aria-expanded="open"
          >
            <img class="w-8 h-8 rounded-full" th:src="@{/app/images/user-avatar-32.png}" width="32" height="32" alt="User" />
            <div class="flex items-center truncate">
              <span class="truncate ml-2 text-sm font-medium group-hover:text-slate-800" th:text="${currentUser.username}">Acme Inc.</span>
              <svg class="w-3 h-3 shrink-0 ml-1 fill-current text-slate-400" viewBox="0 0 12 12">
                <path d="M5.9 11.4L.5 6l1.4-1.4 4 4 4-4L11.3 6z" />
              </svg>
            </div>
          </button>
          <div
            class="origin-top-right z-10 absolute top-full right-0 min-w-44 bg-white border border-slate-200 py-1.5 rounded shadow-lg overflow-hidden mt-1"
            @click.outside="open = false"
            @keydown.escape.window="open = false"
            x-show="open"
            x-transition:enter="transition ease-out duration-200 transform"
            x-transition:enter-start="opacity-0 -translate-y-2"
            x-transition:enter-end="opacity-100 translate-y-0"
            x-transition:leave="transition ease-out duration-200"
            x-transition:leave-start="opacity-100"
            x-transition:leave-end="opacity-0"
            x-cloak
          >
            <div class="pt-0.5 pb-2 px-3 mb-1 border-b border-slate-200">
              <div class="font-medium text-slate-800" th:text="${currentUser.getFirstname()}">User</div>
              <div class="text-xs text-slate-500 italic">Гость</div>
            </div>
            <ul>
              <li>
                <a class="font-medium text-sm text-indigo-500 hover:text-indigo-600 flex items-center py-1 px-3" th:href="@{/profile}" @click="open = false" @focus="open = true" @focusout="open = false">Профиль</a>
              </li>
              <li>
                <a class="font-medium text-sm text-indigo-500 hover:text-indigo-600 flex items-center py-1 px-3" th:href="@{/logout}" @click="open = false" @focus="open = true" @focusout="open = false">Выйти</a>
              </li>
            </ul>
          </div>
        </div>

      </div>

    </div>
  </div>

</html>
