<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Программа лояльности</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link th:href="@{/app/css/vendors/flatpickr.min.css}" rel="stylesheet">
    <link th:href="@{/app/style.css}" rel="stylesheet">
  <link type="image/x-icon" th:href="@{/images/favicon.ico}" rel="shortcut icon">
</head>

<body
    class="font-inter antialiased bg-slate-100 text-slate-600"
    :class="{ 'sidebar-expanded': sidebarExpanded }"
    x-data="{ sidebarOpen: false, sidebarExpanded: localStorage.getItem('sidebar-expanded') == 'true' }"
    x-init="$watch('sidebarExpanded', value => localStorage.setItem('sidebar-expanded', value))"
>

    <script>
        if (localStorage.getItem('sidebar-expanded') == 'true') {
            document.querySelector('body').classList.add('sidebar-expanded');
        } else {
            document.querySelector('body').classList.remove('sidebar-expanded');
        }
    </script>

    <!-- Page wrapper -->
    <div class="flex h-screen overflow-hidden">

      <!-- Sidebar -->
      <div th:insert="~{/app/_fragments.html :: sidebar}">

      </div>

        <!-- Content area -->
        <div class="relative flex flex-col flex-1 overflow-y-auto overflow-x-hidden">

          <!-- Header -->
          <header class="sticky top-0 bg-white border-b border-slate-200 z-30" th:insert="~{/app/_fragments.html :: header}">

          </header>

            <main>
                <div class="px-4 sm:px-6 lg:px-8 py-8 w-full max-w-9xl mx-auto">

                    <!-- Page header -->
                    <div class="mb-8">

                        <!-- Title -->
                        <h1 class="text-2xl md:text-3xl text-slate-800 font-bold">Профиль гостя ✨</h1>

                    </div>

                    <div class="bg-white shadow-lg rounded-sm mb-8">
                        <div class="flex flex-col md:flex-row md:-mr-px">

                            <!-- Sidebar -->
                            <div class="flex flex-nowrap overflow-x-scroll no-scrollbar md:block md:overflow-auto px-3 py-6 border-b md:border-b-0 md:border-r border-slate-200 min-w-60 md:space-y-3">
                              <!-- Group 1 -->
                              <div>
                                <div class="text-xs font-semibold text-slate-400 uppercase mb-3">Настройки</div>
                                <ul class="flex flex-nowrap md:block mr-3 md:mr-0">
                                  <li class="mr-0.5 md:mr-0 md:mb-0.5">
                                    <a class="flex items-center px-2.5 py-2 rounded whitespace-nowrap" th:href="@{/profile}">
                                      <svg class="w-4 h-4 shrink-0 fill-current text-slate-400 mr-2" viewBox="0 0 16 16">
                                        <path d="M12.311 9.527c-1.161-.393-1.85-.825-2.143-1.175A3.991 3.991 0 0012 5V4c0-2.206-1.794-4-4-4S4 1.794 4 4v1c0 1.406.732 2.639 1.832 3.352-.292.35-.981.782-2.142 1.175A3.942 3.942 0 001 13.26V16h14v-2.74c0-1.69-1.081-3.19-2.689-3.733zM6 4c0-1.103.897-2 2-2s2 .897 2 2v1c0 1.103-.897 2-2 2s-2-.897-2-2V4zm7 10H3v-.74c0-.831.534-1.569 1.33-1.838 1.845-.624 3-1.436 3.452-2.422h.436c.452.986 1.607 1.798 3.453 2.422A1.943 1.943 0 0113 13.26V14z" />
                                      </svg>
                                      <span class="text-sm font-medium text-slate-600 hover:text-slate-700">Мой аккаунт</span>
                                    </a>
                                  </li>
                                  <li class="mr-0.5 md:mr-0 md:mb-0.5">
                                    <a class="flex items-center px-2.5 py-2 rounded whitespace-nowrap bg-indigo-50"  th:href="@{/loyalty}">
                                      <svg class="w-4 h-4 shrink-0 fill-current text-indigo-400 mr-2" viewBox="0 0 16 16">
                                        <path d="M14.3.3c.4-.4 1-.4 1.4 0 .4.4.4 1 0 1.4l-8 8c-.2.2-.4.3-.7.3-.3 0-.5-.1-.7-.3-.4-.4-.4-1 0-1.4l8-8zM15 7c.6 0 1 .4 1 1 0 4.4-3.6 8-8 8s-8-3.6-8-8 3.6-8 8-8c.6 0 1 .4 1 1s-.4 1-1 1C4.7 2 2 4.7 2 8s2.7 6 6 6 6-2.7 6-6c0-.6.4-1 1-1z" />
                                      </svg>
                                      <span class="text-sm font-medium text-indigo-500">Программа лояльности</span>
                                    </a>
                                  </li>
                                  <li class="mr-0.5 md:mr-0 md:mb-0.5" th:if="${currentUser.getRole().getAuthority().equals('ADMIN')}">
                                    <a class="flex items-center px-2.5 py-2 rounded whitespace-nowrap" th:href="@{/adminpanel}">
                                      <svg class="w-4 h-4 shrink-0 fill-current text-slate-400 mr-2" viewBox="0 0 16 16">
                                        <path d="M5 9h11v2H5V9zM0 9h3v2H0V9zm5 4h6v2H5v-2zm-5 0h3v2H0v-2zm5-8h7v2H5V5zM0 5h3v2H0V5zm5-4h11v2H5V1zM0 1h3v2H0V1z"></path>
                                      </svg>
                                      <span class="text-sm font-medium text-slate-600 hover:text-slate-700">Админская панель</span>
                                    </a>
                                  </li>
                                </ul>
                              </div>
                            </div>

                            <!-- Panel -->
                            <div class="grow">

                                <!-- Panel body -->
                                <div class="p-6 space-y-6">

                                    <!-- Plans -->
                                    <section>
                                        <div class="mb-8">
                                            <h2 class="text-2xl text-slate-800 font-bold mb-4">Программа лояльности</h2>
                                        </div>

                                      <div class="px-5 py-6">

                                        <div class="md:flex md:justify-between md:items-center">
                                          <!-- Left side -->
                                          <div class="flex items-center mb-4 md:mb-0">
                                            <!-- Avatar -->
                                            <div class="mr-4">
                                              <img class="inline-flex rounded-full" th:src="@{/app/images/user-avatar-32.png}" width="64" height="64" alt="User">
                                            </div>
                                            <!-- User info -->
                                            <div>
                                              <div class="mb-2">Здравствуйте, <strong class="font-medium text-slate-800" th:text="${currentUser.getFirstname()}">Пользователь</strong> 👋, на услуги в нашем отеле вы потратили:</div>
                                              <div class="text-3xl font-bold text-emerald-500" th:text="|${currentUser.getSpent()} руб.|">0 руб.</div>
                                            </div>
                                          </div>
                                        </div>

                                      </div>

                                        <!-- Pricing -->
                                        <div>

                                            <!-- Pricing tabs -->
                                            <div class="grid grid-cols-12 gap-6">

                                                <!-- Tab 3 -->
                                                <div class="relative col-span-full xl:col-span-4 bg-white shadow-md rounded-sm border border-slate-200"
                                                     th:each="loyalty : ${loyaltyLevels}">
                                                    <div class="absolute top-0 left-0 right-0 h-0.5 bg-indigo-500" aria-hidden="true"></div>
                                                    <div class="px-5 pt-5 pb-6 border-b border-slate-200">
                                                        <header class="flex items-center mb-2">
                                                            <div class="w-6 h-6 rounded-full shrink-0 bg-gradient-to-tr from-indigo-500 to-indigo-300 mr-3">
                                                                <svg class="w-6 h-6 fill-current text-white" viewBox="0 0 24 24">
                                                                    <path d="M12 17a.833.833 0 01-.833-.833 3.333 3.333 0 00-3.334-3.334.833.833 0 110-1.666 3.333 3.333 0 003.334-3.334.833.833 0 111.666 0 3.333 3.333 0 003.334 3.334.833.833 0 110 1.666 3.333 3.333 0 00-3.334 3.334c0 .46-.373.833-.833.833z" />
                                                                </svg>
                                                            </div>
                                                            <h3 class="text-lg text-slate-800 font-semibold" th:text="${loyalty.getName()}">Название</h3>
                                                        </header>
                                                        <div class="text-sm mb-2" style="height: 10em"
                                                             th:if="${loyalty.getId()} > ${currentUser.getLoyalty().getId()}"
                                                             th:text="|Для получения данного уровня лояльности необходимо потратить еще
                                                             ${loyalty.getMinSpent() - currentUser.getSpent()} руб.|">описание</div>
                                                      <div class="text-sm mb-2" style="height: 10em"
                                                           th:if="${loyalty.getId()} < ${currentUser.getLoyalty().getId()}"
                                                           >Скидка с этого уровня не активна, смотрите на текущий статус</div>
                                                      <div class="text-sm mb-2" style="height: 10em"
                                                           th:if="${loyalty.getId()} == ${currentUser.getLoyalty().getId()}"
                                                           >Скидка для данного уровня лояльности в данный момент распространяется на услуги размещения, питания и дополнительные</div>
                                                        <!-- Price -->
                                                        <div class="text-slate-800 font-bold mb-4">
                                                            <span class="text-2xl"></span>Скидка - <span class="text-3xl" th:text="${loyalty.getSale()}">999</span><span class="text-slate-500 font-medium text-sm">%</span>
                                                        </div>
                                                        <!-- CTA -->
                                                      <button class="btn border-slate-200 hover:border-slate-300 text-slate-600 w-full"
                                                              th:if="${loyalty.getId()} > ${currentUser.getLoyalty().getId()}">Следующий уровень</button>
                                                      <button class="btn border-slate-200 bg-slate-100 text-slate-400 w-full cursor-not-allowed flex items-center"
                                                              th:if="${loyalty.getId()} < ${currentUser.getLoyalty().getId()}">Предыдущий уровень</button>
                                                        <button class="btn bg-indigo-500 hover:bg-indigo-600 text-white w-full"
                                                        th:if="${loyalty.getId()} == ${currentUser.getLoyalty().getId()}">Текущий уровень</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>




                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </main>

        </div>

    </div>

    <script th:src="@{/app/js/vendors/alpinejs.min.js}" defer></script>

</body>

</html>
