<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Чат</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link th:href="@{/app/css/vendors/flatpickr.min.css}" rel="stylesheet">
    <link th:href="@{/app/style.css}" rel="stylesheet">
    <link
      rel="stylesheet"
      th:href="@{/app/fancybox.css}"
    />
  <link type="image/x-icon" th:href="@{/images/favicon.ico}" rel="shortcut icon">
</head>

<body
    class="font-inter antialiased bg-slate-100 text-slate-600"
    :class="{ 'sidebar-expanded': sidebarExpanded }"
    x-data="{ sidebarOpen: false, sidebarExpanded: localStorage.getItem('sidebar-expanded') == 'true', msgSidebarOpen: false }"
    x-init="() => { $refs.contentarea.scrollTop = 99999999 }; $watch('sidebarExpanded', value => localStorage.setItem('sidebar-expanded', value))">

    <script>
        if (localStorage.getItem('sidebar-expanded') == 'true') {
            document.querySelector('body').classList.add('sidebar-expanded');
        } else {
            document.querySelector('body').classList.remove('sidebar-expanded');
        }
    </script>

    <!-- Page wrapper -->
    <div class="flex h-screen overflow-hidden">

      <div th:insert="~{/app/_fragments.html :: sidebar}">

      </div>

        <!-- Content area -->
        <div class="relative flex flex-col flex-1 overflow-y-auto overflow-x-hidden" x-ref="contentarea">

          <!-- Header -->
          <header class="sticky top-0 bg-white border-b border-slate-200 z-30" th:insert="~{/app/_fragments.html :: header}">

          </header>

            <main>

                <div class="relative flex">

                    <!-- Messages sidebar -->
                    <div id="messages-sidebar" class="absolute z-20 top-0 bottom-0 w-full md:w-auto md:static md:top-auto md:bottom-auto -mr-px md:translate-x-0 transition-transform duration-200 ease-in-out" :class="msgSidebarOpen ? 'translate-x-0' : '-translate-x-full'">
                        <div class="sticky top-16 bg-white overflow-x-hidden overflow-y-auto no-scrollbar shrink-0 border-r border-slate-200 md:w-72 xl:w-80 h-[calc(100vh-64px)]">

                            <!-- #Marketing group -->
                            <div>
                                <!-- Group body -->
                                <div class="px-5 py-4">
                                    <!-- Direct messages -->
                                    <div class="mt-4">
                                      <div class="flex justify-between items-center mb-3">
                                        <div class="text-xs font-semibold text-slate-400 uppercase">Чаты</div>
                                        <a class="btn-sm px-3 bg-white border-slate-200 hover:border-slate-300 text-slate-600" th:href="|@{/messages}|">
                                          <svg class="fill-current text-slate-400 mr-2" width="7" height="12" viewBox="0 0 7 12">
                                            <path d="M5.4.6 6.8 2l-4 4 4 4-1.4 1.4L0 6z"></path>
                                          </svg>
                                          <span>Вернуться</span>
                                        </a>
                                      </div>
                                        <ul class="mb-6">
                                            <li class="-mx-2" th:each="chat : ${chats}">
                                              <a th:href="|@{/userchat/}${chat.getId()}|"
                                                 th:if="${url} == ${chat.getId()}">
                                                <button class="flex items-center justify-between w-full p-2 rounded bg-indigo-100" @click="$refs.contentarea.scrollTop = 99999999;">
                                                  <div class="flex items-center truncate">
                                                    <img class="w-8 h-8 rounded-full mr-2" th:src="@{/app/images/user-avatar-32.png}" width="32" height="32" alt="Chat" />
                                                    <div class="truncate">
                                                      <span class="text-sm font-medium text-slate-800" th:text="${chatNames.get(chat.getId())}">Чат</span>
                                                    </div>
                                                  </div>
                                                  <div class="flex items-center ml-2">
                                                    <div class="text-xs inline-flex font-medium bg-indigo-400 text-white rounded-full text-center leading-5 px-2"
                                                         th:text="${chatReadMessagesMap.get(chat.getId())}" th:if="${chatReadMessagesMap.get(chat.getId())}">2</div>
                                                  </div>
                                                </button>
                                              </a>

                                              <a th:href="|@{/userchat/}${chat.getId()}|"
                                                 th:unless="${url} == ${chat.getId()}">
                                                <button class="flex items-center justify-between w-full p-2 rounded" @click="$refs.contentarea.scrollTop = 99999999;">
                                                  <div class="flex items-center truncate">
                                                    <img class="w-8 h-8 rounded-full mr-2" th:src="@{/app/images/user-avatar-32.png}" width="32" height="32" alt="User 02" />
                                                    <div class="truncate">
                                                      <span class="text-sm font-medium text-slate-800" th:text="${chatNames.get(chat.getId())}">Чат</span>
                                                    </div>
                                                  </div>
                                                  <div class="flex items-center ml-2">
                                                    <div class="text-xs inline-flex font-medium bg-indigo-400 text-white rounded-full text-center leading-5 px-2"
                                                         th:text="${chatReadMessagesMap.get(chat.getId())}" th:if="${chatReadMessagesMap.get(chat.getId())}">2</div>
                                                  </div>
                                                </button>
                                              </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Messages body -->
                    <div class="grow flex flex-col md:translate-x-0 transition-transform duration-300 ease-in-out md:margin-left-0"
                         :class="msgSidebarOpen ? 'translate-x-1/3' : 'translate-x-0'">

                        <!-- Body -->
                        <div class="grow px-4 sm:px-6 md:px-5 py-6">
                          <div th:each="message : ${messages}">

                            <div th:if="${message.getImageLink() == null}">
                              <!-- Chat msg -->
                              <div class="flex items-start mb-4 last:mb-0" th:if="${message.getFromWhom().equals('USER')}" style="max-width: 780px;">
                                <img class="rounded-full mr-4" th:src="@{/app/images/user-avatar-32.png}" width="40" height="40" alt="User" />
                                <div>
                                  <div class="text-sm bg-white text-slate-800 p-3 rounded-lg rounded-tl-none border border-slate-200 shadow-md mb-1">
                                    <p th:each="line : ${messagesMap.get(message.getId())}" th:text="${line}">
                                    </p>
                                  </div>
                                  <div class="flex items-center justify-between mb-1">
                                    <div class="text-xs text-slate-500 font-medium" th:text="${#temporals.format(message.getSentDate(), 'H:mm, d MMM')}">2:55 PM</div>
                                    <svg class="w-3 h-3 shrink-0 fill-current text-slate-400" viewBox="0 0 12 12" th:if="${message.getRead() == false}">
                                      <path d="M10.28 1.28L3.989 7.575 1.695 5.28A1 1 0 00.28 6.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 1.28z" />
                                    </svg>
                                    <svg class="w-5 h-3 shrink-0 fill-current text-emerald-500" viewBox="0 0 20 12" th:unless="${message.getRead() == false}">
                                      <path d="M10.402 6.988l1.586 1.586L18.28 2.28a1 1 0 011.414 1.414l-7 7a1 1 0 01-1.414 0L8.988 8.402l-2.293 2.293a1 1 0 01-1.414 0l-3-3A1 1 0 013.695 6.28l2.293 2.293L12.28 2.28a1 1 0 011.414 1.414l-3.293 3.293z"></path>
                                    </svg>
                                  </div>
                                </div>
                              </div>

                              <!-- Chat msg -->
                              <div class="flex items-start mb-4 last:mb-0" th:unless="${message.getFromWhom().equals('USER')}" style="max-width: 780px;">
                                <img class="rounded-full mr-4" th:src="@{/images/support.png}" width="40" height="40" alt="User" />
                                <div>
                                  <div class="text-sm bg-indigo-500 text-white p-3 rounded-lg rounded-tl-none border border-transparent shadow-md mb-1">
                                    <p th:each="line : ${messagesMap.get(message.getId())}" th:text="${line}">
                                    </p>
                                  </div>
                                  <div class="flex items-center justify-between mb-1">
                                    <div class="text-xs text-slate-500 font-medium" th:text="${#temporals.format(message.getSentDate(), 'H:mm, d MMM')}">2:48 PM</div>
                                    <svg class="w-3 h-3 shrink-0 fill-current text-slate-400" viewBox="0 0 12 12" th:if="${message.getRead() == false}">
                                      <path d="M10.28 1.28L3.989 7.575 1.695 5.28A1 1 0 00.28 6.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 1.28z" />
                                    </svg>
                                    <svg class="w-5 h-3 shrink-0 fill-current text-emerald-500" viewBox="0 0 20 12" th:unless="${message.getRead() == false}">
                                      <path d="M10.402 6.988l1.586 1.586L18.28 2.28a1 1 0 011.414 1.414l-7 7a1 1 0 01-1.414 0L8.988 8.402l-2.293 2.293a1 1 0 01-1.414 0l-3-3A1 1 0 013.695 6.28l2.293 2.293L12.28 2.28a1 1 0 011.414 1.414l-3.293 3.293z"></path>
                                    </svg>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="flex items-start mb-4 last:mb-0" th:unless="${message.getImageLink() == null}">

                              <img class="rounded-full mr-4" th:src="@{/app/images/user-avatar-32.png}" width="40" height="40" alt="User" th:if="${message.getFromWhom().equals('USER')}">
                              <img class="rounded-full mr-4" th:src="@{/images/support.png}" width="40" height="40" alt="User" th:unless="${message.getFromWhom().equals('USER')}">

                              <div>
                                <div class="flex items-center">
                                  <a data-fancybox="" th:href="|@{/image/chat/}${message.getImageLink()}|">
                                    <img class="rounded-lg shadow-md mb-1" th:src="|@{/image/chat/}${message.getImageLink()}|" width="240" height="180" alt="Chat image">
                                  </a>
                                </div>
                                <div class="flex items-center justify-between mb-1">
                                  <div class="text-xs text-slate-500 font-medium" th:text="${#temporals.format(message.getSentDate(), 'H:mm, d MMM')}">2:48 PM</div>
                                  <svg class="w-3 h-3 shrink-0 fill-current text-slate-400" viewBox="0 0 12 12" th:if="${message.getRead() == false}">
                                    <path d="M10.28 1.28L3.989 7.575 1.695 5.28A1 1 0 00.28 6.695l3 3a1 1 0 001.414 0l7-7A1 1 0 0010.28 1.28z" />
                                  </svg>
                                  <svg class="w-5 h-3 shrink-0 fill-current text-emerald-500" viewBox="0 0 20 12" th:unless="${message.getRead() == false}">
                                    <path d="M10.402 6.988l1.586 1.586L18.28 2.28a1 1 0 011.414 1.414l-7 7a1 1 0 01-1.414 0L8.988 8.402l-2.293 2.293a1 1 0 01-1.414 0l-3-3A1 1 0 013.695 6.28l2.293 2.293L12.28 2.28a1 1 0 011.414 1.414l-3.293 3.293z"></path>
                                  </svg>
                                </div>
                              </div>

                            </div>




                          </div>

                        </div>

                        <!-- Footer -->
                        <div class="sticky bottom-0">
                            <div class="flex items-center justify-between bg-white border-t border-slate-200 px-4 sm:px-6 md:px-5 h-16">





                                <!-- Start -->
                                <div x-data="{ modalOpen: false }">
                                  <button class="shrink-0 text-slate-400 hover:text-slate-500 mr-3"
                                          @click.prevent="modalOpen = true"
                                          aria-controls="newsletter-modal">
                                    <span class="sr-only">Add</span>
                                    <svg class="w-6 h-6 fill-current" viewBox="0 0 24 24">
                                      <path d="M12 0C5.373 0 0 5.373 0 12s5.373 12 12 12 12-5.373 12-12C23.98 5.38 18.62.02 12 0zm6 13h-5v5h-2v-5H6v-2h5V6h2v5h5v2z" />
                                    </svg>
                                  </button>
                                  <!-- Modal backdrop -->
                                  <div class="fixed inset-0 bg-slate-900 bg-opacity-30 z-50 transition-opacity" x-show="modalOpen" x-transition:enter="transition ease-out duration-200" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="transition ease-out duration-100" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" aria-hidden="true"></div>
                                  <!-- Modal dialog -->
                                  <div id="newsletter-modal" class="fixed inset-0 z-50 overflow-visible flex my-4 justify-center px-4 sm:px-6 items-start" role="dialog" aria-modal="true" x-show="modalOpen" x-transition:enter="transition ease-in-out duration-200" x-transition:enter-start="opacity-0 translate-y-4" x-transition:enter-end="opacity-100 translate-y-0" x-transition:leave="transition ease-in-out duration-200" x-transition:leave-start="opacity-100 translate-y-0" x-transition:leave-end="opacity-0 translate-y-4">
                                    <div class="bg-white rounded shadow-lg overflow-auto max-w-lg w-full max-h-full sticky top-40vh" @click.outside="modalOpen = false" @keydown.escape.window="modalOpen = false">
                                      <div class="p-6">
                                        <div class="relative">
                                          <!-- Close button -->
                                          <button class="absolute top-0 right-0 text-slate-400 hover:text-slate-500" @click="modalOpen = false">
                                            <div class="sr-only">Close</div>
                                            <svg class="w-4 h-4 fill-current">
                                              <path d="M7.95 6.536l4.242-4.243a1 1 0 111.415 1.414L9.364 7.95l4.243 4.242a1 1 0 11-1.415 1.415L7.95 9.364l-4.243 4.243a1 1 0 01-1.414-1.415L6.536 7.95 2.293 3.707a1 1 0 011.414-1.414L7.95 6.536z"></path>
                                            </svg>
                                          </button>
                                          <!-- Modal header -->
                                          <div class="mb-2 text-center">
                                            <!-- Icon -->
                                            <div class="mb-3">
                                              <svg class="inline-flex w-12 h-12 rounded-full shrink-0 fill-current" viewBox="0 0 48 48">
                                                <rect class="text-indigo-100" width="48" height="48" rx="24"></rect>
                                                <path class="text-indigo-300" d="M19 16h7a8 8 0 110 16h-7V16z"></path>
                                                <path class="text-indigo-500" d="M26 24l-7-6v5h-8v2h8v5z"></path>
                                              </svg>
                                            </div>
                                            <div class="text-lg font-semibold text-slate-800">Выберите файл</div>
                                          </div>
                                          <!-- Modal content -->
                                          <div class="text-center">
                                            <!-- Submit form -->
                                            <form class="flex max-w-sm m-auto" th:action="@{/sendpictureadmin/{id}(id=${userChatId})}" method="post" enctype="multipart/form-data">
                                              <div class="grow mr-2">
                                                <label class="block text-sm font-medium mb-1" for="image">
                                                  <input id="image" name="image" class="form-input w-full" type="file"
                                                  />
                                                </label>
                                              </div>
                                              <button type="submit" class="btn-sm bg-indigo-500 hover:bg-indigo-600 text-white whitespace-nowrap">Отправить</button>
                                            </form>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <!-- End -->



                          <!-- Message input -->
                                <form class="grow flex" th:action="@{/sendmessageadmin/{id}(id=${userChatId})}" method="post">
                                    <div class="grow mr-3">
                                        <label for="text" class="sr-only">Type a message</label>
                                      <input id="text" name="text" class="form-input w-full bg-slate-100 border-transparent focus:bg-white focus:border-slate-300" type="text" placeholder="Aa" autocomplete="off"/>
                                    </div>
                                    <button type="submit" class="btn bg-indigo-500 hover:bg-indigo-600 text-white whitespace-nowrap">Отправить -&gt;</button>
                                </form>
                            </div>
                        </div>

                    </div>

                </div>

            </main>

        </div>

    </div>

    <script th:src="@{/app/js/vendors/alpinejs.min.js}" defer></script>

    <script th:src="@{/app/fancybox.umd.js}"></script>

    <script>
      Fancybox.bind('[data-fancybox]', {
        Toolbar: {
          display: {
            left: ["infobar"],
            middle: [
              "zoomIn",
              "zoomOut",
              "toggle1to1",
              "rotateCCW",
              "rotateCW",
              "flipX",
              "flipY",
            ],
            right: ["slideshow", "thumbs", "close"],
          },
        },
      });
    </script>

</body>

</html>
