<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Чаты</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link th:href="@{/app/css/vendors/flatpickr.min.css}" rel="stylesheet">
    <link th:href="@{/app/style.css}" rel="stylesheet">
  <link type="image/x-icon" th:href="@{/images/favicon.ico}" rel="shortcut icon">
</head>

<body
    class="font-inter antialiased bg-slate-100 text-slate-600"
    :class="{ 'sidebar-expanded': sidebarExpanded }"
    x-data="{ sidebarOpen: false, sidebarExpanded: localStorage.getItem('sidebar-expanded') == 'true', msgSidebarOpen: true }"
    x-init="() => { $refs.contentarea.scrollTop = 99999999 }; $watch('sidebarExpanded', value => localStorage.setItem('sidebar-expanded', value))"
>

    <script>
        if (localStorage.getItem('sidebar-expanded') == 'true') {
            document.querySelector('body').classList.add('sidebar-expanded');
        } else {
            document.querySelector('body').classList.remove('sidebar-expanded');
        }
    </script>

    <!-- Page wrapper -->
    <div class="flex h-screen overflow-hidden">

      <div th:insert="~{/app/_fragments.html :: sidebar}">

      </div>

        <!-- Content area -->
        <div class="relative flex flex-col flex-1 overflow-y-auto overflow-x-hidden" x-ref="contentarea">

          <!-- Header -->
          <header class="sticky top-0 bg-white border-b border-slate-200 z-30" th:insert="~{/app/_fragments.html :: header}">

          </header>

            <main>

                <div class="relative flex" x-data="{ modalOpen: false }">

                    <!-- Messages sidebar -->
                    <div id="messages-sidebar" class="absolute z-20 top-0 bottom-0 w-full md:w-auto md:static md:top-auto md:bottom-auto -mr-px md:translate-x-0 transition-transform duration-200 ease-in-out" :class="msgSidebarOpen ? 'translate-x-0' : '-translate-x-full'">
                        <div class="sticky top-16 bg-white overflow-x-hidden overflow-y-auto no-scrollbar shrink-0 border-r border-slate-200 md:w-72 xl:w-80 h-[calc(100vh-64px)]">

                            <!-- #Marketing group -->
                            <div>
                                <!-- Group body -->
                                <div class="px-5 py-4">
                                    <!-- Direct messages -->
                                    <div class="mt-4">
                                      <div class="flex justify-between items-center mb-3">
                                        <div class="text-xs font-semibold text-slate-400 uppercase">Чаты</div>
                                        <a class="btn-sm px-3 bg-white border-slate-200 hover:border-slate-300 text-slate-600" th:href="@{/messages}">
                                          <svg class="fill-current text-slate-400 mr-2" width="7" height="12" viewBox="0 0 7 12">
                                            <path d="M5.4.6 6.8 2l-4 4 4 4-1.4 1.4L0 6z"></path>
                                          </svg>
                                          <span>Вернуться</span>
                                        </a>
                                      </div>
                                        <ul class="mb-6">
                                            <li class="-mx-2" th:each="chat : ${chats}">
                                              <a th:href="|@{/userchat/}${chat.getId()}|">
                                                <button class="flex items-center justify-between w-full p-2 rounded" @click="$refs.contentarea.scrollTop = 99999999;">
                                                  <div class="flex items-center truncate">
                                                    <img class="w-8 h-8 rounded-full mr-2" th:src="@{/app/images/user-avatar-32.png}" width="32" height="32" alt="User 02" />
                                                    <div class="truncate">
                                                      <span class="text-sm font-medium text-slate-800" th:text="${chatNames.get(chat.getId())}">Чат</span>
                                                    </div>
                                                  </div>
                                                  <div class="flex items-center ml-2">
                                                    <div class="text-xs inline-flex font-medium bg-indigo-400 text-white rounded-full text-center leading-5 px-2"
                                                         th:text="${chatReadMessagesMap.get(chat.getId())}" th:if="${chatReadMessagesMap.get(chat.getId())}">2</div>
                                                  </div>
                                                </button>
                                              </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </main>

        </div>

    </div>

    <script th:src="@{/app/js/vendors/alpinejs.min.js}" defer></script>

</body>

</html>
