<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Оплата номера</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link th:href="@{/app/css/vendors/flatpickr.min.css}" rel="stylesheet">
    <link th:href="@{/app/style.css}" rel="stylesheet">
  <link type="image/x-icon" th:href="@{/images/favicon.ico}" rel="shortcut icon">
</head>

<body class="font-inter antialiased bg-slate-100 text-slate-600">

    <script>
        if (localStorage.getItem('sidebar-expanded') == 'true') {
            document.querySelector('body').classList.add('sidebar-expanded');
        } else {
            document.querySelector('body').classList.remove('sidebar-expanded');
        }
    </script>

    <!-- Page wrapper -->
    <div class="flex h-screen overflow-hidden">

        <!-- Content area -->
        <div class="relative flex flex-col flex-1 overflow-y-auto overflow-x-hidden">

            <!-- Site header -->
            <header class="bg-white border-b border-slate-200">
                <div class="px-4 sm:px-6 lg:px-8">
                    <div class="flex items-center justify-between h-16 -mb-px">

                      <!-- Logo -->
                      <a class="block" th:href="@{/rooms}">
                        <svg width="64" height="64" viewBox="0 0 42 32">
                          <use xlink:href="#colored__logosq-white">
                            <symbol id="colored__logosq-white" viewBox="0 0 50 50" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                          <style>.adst0{fill-rule:evenodd;clip-rule:evenodd;fill:white}</style>
                              <g id="adAbout"><g id="adLogo"><g transform="translate(27.193 27.633)">
                                            <path id="adFill-3" class="adst0" d="M21.8 8.5c-7 .2-14 .3-20.9.5-.1.1-.2.3-.3.5v3.7c1.7 0 3.2 0 4.8.1 2.5.1 4.9.1 7.3.5 3.1.5 6.1.1 9.4-.1-.2-1.9.2-3.6-.3-5.2"></path>
                                            <path id="adFill-5" class="adst0" d="M5.5 5.7c2.2-.3 4.5-.6 6.7-.7 2.8-.1 5.7 0 8.6-.1.4 0 .9-.1 1.4-.2 0-1.3.1-2.5-.5-3.8H9.4C8.2.9 7.1 1 6 .3 5.4 0 4.5-.2 3.9.3c-.8.5-1.6.6-2.5.7-.4.1-.7.3-1 .4v4c1.8.5 3.4.6 5.1.3">
                                            </path><g id="adGroup-9" transform="translate(0 15.672)"><path id="adFill-7" class="adst0" d="M21.8 2.1c-.1 0-.3-.1-.4-.1-.3 0-.5 0-.8.1-2.7.5-5.4.1-8.1-.5C8.6.6 4.7.9.6 1 .6 2.5.5 3.7.5 5c0 .5.5 1 1.1 1.1.5.1.9.1 1.4 0 2-.2 3.9-.5 5.9-.7.4 0 1-.2 1.4.1.7.5 1.4.4 2.1.3.9-.1 1.9-.1 2.8-.3 1.3-.2 2.6-.2 3.8.3 1.1.4 2.1.2 3.1-.1.3-2 .3-2-.3-3.6"></path>
                                          </g></g><g transform="translate(.893 27.622)">
                                            <path id="adFill-1" class="adst0" d="M21.5 12.7c.1-2.2.2-4.3.1-6.5 0-1.6-.4-3.2-.2-4.8 0-.3-.2-.7-.3-.9-.3-.1-.4-.1-.5-.1C16.7.5 12.9.2 9 .4 8.2.4 7.3.4 6.5.2 4.4-.3 2.4.2.2 1v5.9c0 1 0 2.1.2 3.1.2 1.4-.2 2.8-.2 4.1 0 1.5.3 2.9 0 4.4 0 .2-.1.4-.1.6v2c.7.2 1.2.3 1.8.4 1.9.1 3.8.1 5.7-.1.6-.1 1.2-.1 1.7.1 1.8.8 3.6.1 5.4.4 1 .1 2.1 0 3.1 0 1.3 0 2.7.1 4.1-.2-.1-1.6 0-3.1-.2-4.6-.3-1.6-.2-3-.2-4.4"></path>
                                          </g><g transform="translate(27.608 .892)">
                                            <path id="adFill-10" class="adst0" d="M14.8 5.1c-.7 1.4-1.9 2.4-3.3 3.2-1.3.8-2.6 1.8-3.6 2.9-2.2 2.3-4.4 4.6-6.5 6.9-.4.4-.8.8-1 1.2-.5.8-.2 1.7.7 2.1 1 .4 1.6.3 2.5-.7 4-4.7 8.3-9.2 12.7-13.7 1.5-1.5 3-3.1 4.6-4.6.7-.7.9-1.3.3-2.2-.8-.1-1.2.2-1.6.6-1.3 1.2-2.4 2.8-4.2 3.4-.3.4-.4.7-.6.9"></path>
                                <path id="adFill-12" class="adst0" d="M.4 16.1h.4c4.8-4.9 9.6-9.9 14.4-14.8.2-.2.4-.5.7-.9-1.6-.7-3.2-.1-4.7-.3C7.7 3.4 4.3 6.8.9 10.2c-.2.2-.5.5-.5.8-.2 1.6-.6 3.2-.3 4.8 0 .1.2.2.3.3"></path>
                                <path id="adFill-14" class="adst0" d="M20.4 10.4C16.7 13.5 13.3 17 10 20.6c-.2.2-.2.4-.3.8h4.5c2.2-2.3 4.5-4.7 6.8-7.1.3-.3.6-.7.6-1 .1-1.2.2-2.4.3-3.8-.6.3-1.1.6-1.5.9"></path>
                                <path id="adFill-20" class="adst0" d="M20.2 6c-2.3 2.5-4.6 4.9-7.5 6.8-.4.3-.8.7-1.1 1.1-1.8 2.2-3.7 4.3-5.5 6.5-.3.3-.6.7-.9 1.1 1.4.2 1.4.2 1.8-.2.3-.2.5-.5.7-.7C12 16 16.3 11.4 21 7.2c.8-.7.9-1.6.8-2.6-.8.3-1.1 1-1.6 1.4"></path>
                                <path id="adFill-37" class="adst0" d="M.4 7.9C2 6.7 7.9 1.1 8.6.1 7.3 0 6.1-.2 5.2.8 3.7 2.6 2.2 4.3.7 6 .3 6.5.2 7.1.4 7.9"></path>
                                <path id="adFill-41" class="adst0" d="M21.6 16.5c-1.9 1.5-3.4 3.1-5.2 4.9 1.5.6 2.3.3 3.1-.6.5-.6 1.1-1.2 1.7-1.7.7-.8.8-1.5.4-2.6"></path>
                                <path id="adFill-43" class="adst0" d="M2.5 1.6c.3-.4.6-.8 1-1.4C1.8.3 1 1.5 0 2.2v2.4c1.2-.8 2-1.5 2.9-2.3-.1-.3-.2-.5-.4-.7"></path>
                                          </g><g transform="translate(0 .322)"><g id="adGroup-24"><path id="adFill-22" class="adst0" d="M2 22c.4-.7.2-1.4.2-2 0-4.3-.4-8.6.2-12.9.1-.6.1-1.2 0-1.7-.1-1.2 0-2.3.3-3.5.1-.3-.1-.7-.1-1.2-.6.2-1 .3-1.6.4C1 2 .9 2.8.9 3.6c0 1 .2 1.9.1 2.9 0 4.4-.1 8.9-.2 13.3v2c.5.1.9.1 1.2.2"></path></g>
                                <path id="adFill-16" class="adst0" d="M3.8 22.1c.4 0 .9-.1 1.3-.1.1-.3.3-.5.3-.8 0-1.2.1-2.4 0-3.7-.2-3.1-.7-6.1-.5-9.2 0-.5-.1-1-.2-1.5-.3-1.4-.4-2.8 0-4.2.1-.5.1-1 .1-1.5 0-.2-.3-.4-.5-.4s-.5.3-.6.5c-.1.4-.1.9-.1 1.3-.1 4.9-.2 9.8-.3 14.6 0 1.5.1 3 .2 4.4l.3.6"></path>
                                <path id="adFill-18" class="adst0" d="M8.6 21.5c0 .2.1.3.2.5.2 0 .4.1.6.1.2 0 .4-.1.7-.1v-5.3c0-2 .2-4 0-5.9-.3-2.5-.3-5-.1-7.5 0-.6.1-1.2.1-1.7 0-.8-.2-.9-1.4-.9-.1.8-.2 1.7-.2 2.6 0 3 .2 6-.1 9-.1 1.6.1 3.2.1 4.8.1 1.5.1 2.9.1 4.4"></path>
                                <path id="adFill-25" class="adst0" d="M15.4 21.9c.4 0 .8.1 1.1.1.5-.7.2-1.3.2-1.9V2.2c0-.4-.1-.9-.2-1.3 0-.1-.3-.2-.5-.2s-.4.1-.5.3c-.1.3-.1.6-.1.9 0 1.7 0 3.3-.1 5-.1 2.6-.2 5.2-.2 7.8V21c.1.2.2.6.3.9"></path>
                                <path id="adFill-27" class="adst0" d="M6.5 20c0 .6.1 1.1.2 1.7 0 .2.1.4.2.5l.3-.2c.1-.2.2-.4.2-.6.1-1.5.3-3.1.3-4.6 0-.5-.1-1-.1-1.5-.2-2.7-.5-5.4-.6-8 0-1.9.3-3.8.3-5.6 0-.9-.3-1.1-1.5-.6 0 1.1-.1 2.2-.1 3.4.3 5.1.5 10.3.8 15.5"></path>
                                <path id="adFill-29" class="adst0" d="M21 22c.3-.2.6-.3.7-.5.5-1.4.8-2.8.6-4.3-.3-2.4-.3-4.8 0-7.3.1-1.2.4-2.4.4-3.6s-.2-2.4-.4-3.6c-.1-.5-.2-1-.9-.9-.1 2.3-.3 4.6-.4 6.9-.1 1-.2 1.9-.2 2.9 0 2.9.1 5.8.2 8.7V22"></path>
                                <path id="adFill-31" class="adst0" d="M13.6 22.1h.9c0-2.2-.1-4.2-.1-6.3 0-4.3.1-8.6.2-12.9V.8c-.6-.1-1-.1-1.1.5-.1.4-.1.8-.1 1.2V20c-.1.6-.2 1.3.2 2.1"></path>
                                <path id="adFill-33" class="adst0" d="M11.4 18.1c.1 1.2 0 2.3.1 3.5 0 .2.2.3.5.8.1-.7.1-1.1.1-1.5.1-3.7.1-7.4.2-11.2 0-.9.2-1.9.2-2.8 0-1.2-.1-2.4-.2-3.6 0-.8-.1-1.5-.1-2.7-.6.4-.9.5-1 .7-.1.3-.1.6-.1.9 0 1.5 0 3.1-.1 4.6 0 .4-.1.8 0 1.2.4 3.3.1 6.7.4 10.1"></path>
                                <path id="adFill-35" class="adst0" d="M17.6 21.7c.1-.1.2-.2.2-.3.2-2.2.5-4.3.7-6.5.1-.8 0-1.7 0-2.5-.1-1.2-.2-2.4-.2-3.6 0-2 .1-4 .1-6 0-.6.2-1.3-.4-1.8-.1 0-.1 0-.2.1-.7 3.9-.2 7.9-.5 11.9-.2 2.8 0 5.6.1 8.5 0 0 .2.1.2.2"></path>
                                <path id="adFill-39" class="adst0" d="M19.1 22c.4.1.6-.3.6-1.3 0-3.3.2-6.6.4-9.8.6-5.9-.4-5.9 0-8.7.1-.4.2-.9-.6-1.3-.1.4-.1.6-.2.9L19 6c0 1.4 0 2.8.3 4.2.3 1.3.3 2.7-.1 4-.1.4-.2.9-.2 1.3.2 1.7-.2 3.4-.4 5.1.1.5-.2 1.1.5 1.4"></path></g></g></g></symbol>
                          </use>
                        </svg>
                      </a>

                        <a class="block rounded-full bg-slate-100 text-slate-500 hover:text-slate-600" th:href="|@{/bookings/}${room.id}|">
                            <span class="sr-only">Back</span>
                            <svg width="32" height="32" viewBox="0 0 32 32">
                                <path class="fill-current" d="M15.95 14.536l4.242-4.243a1 1 0 111.415 1.414l-4.243 4.243 4.243 4.242a1 1 0 11-1.415 1.415l-4.242-4.243-4.243 4.243a1 1 0 01-1.414-1.415l4.243-4.242-4.243-4.243a1 1 0 011.414-1.414l4.243 4.243z" />
                            </svg>
                        </a>

                    </div>
                </div>
            </header>


            <main>

                <div class="relative pt-8">
                    <div class="absolute inset-0 bg-slate-800 overflow-hidden" aria-hidden="true">
                        <img class="object-cover h-full w-full filter blur opacity-10" th:src="|@{/image/roomTypes/}${room.getImagePath()}|" width="460" height="180" alt="Room" />
                    </div>
                    <div class="relative px-4 sm:px-6 lg:px-8 max-w-lg mx-auto">
                        <img class="rounded-t shadow-lg" th:src="|@{/image/roomTypes/}${room.getImagePath()}|" width="460" height="180" alt="Room" />
                    </div>
                </div>

                <div class="relative px-4 sm:px-6 lg:px-8 pb-8 max-w-lg mx-auto" x-data="{ card: true }">
                    <div class="bg-white px-8 pb-6 rounded-b shadow-lg">

                        <!-- Card header -->
                        <div class="text-center mb-6">
                            <h1 class="text-xl leading-snug text-slate-800 font-semibold mb-2" style="padding-top: 1em" th:text="${room.getRoomTypeNameDto().getRuName()}">Room</h1>
                        </div>
                        <!-- Card form -->
                      <div x-show="card">
                        <div x-show="open" x-data="{ open: true }" th:if="${errors}">
                          <div class="px-4 py-2 rounded-sm text-sm bg-rose-500 text-white">
                            <div class="flex w-full justify-between items-start">
                              <div class="flex">
                                <svg class="w-4 h-4 shrink-0 fill-current opacity-80 mt-[3px] mr-3" viewBox="0 0 16 16">
                                  <path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zm3.5 10.1l-1.4 1.4L8 9.4l-2.1 2.1-1.4-1.4L6.6 8 4.5 5.9l1.4-1.4L8 6.6l2.1-2.1 1.4 1.4L9.4 8l2.1 2.1z"></path>
                                </svg>
                                <div class="font-medium">Неверные данные</div>
                              </div>
                              <button class="opacity-70 hover:opacity-80 ml-3 mt-[3px]" @click="open = false">
                                <div class="sr-only">Close</div>
                                <svg class="w-4 h-4 fill-current">
                                  <path d="M7.95 6.536l4.242-4.243a1 1 0 111.415 1.414L9.364 7.95l4.243 4.242a1 1 0 11-1.415 1.415L7.95 9.364l-4.243 4.243a1 1 0 01-1.414-1.415L6.536 7.95 2.293 3.707a1 1 0 011.414-1.414L7.95 6.536z"></path>
                                </svg>
                              </button>
                            </div>
                          </div>
                        </div>

                        <div x-show="card">
                              <form th:action="@{/rooms/payprocess/{id}(id = ${booking.getId()})}" method="post">
                                <div class="space-y-4">
                                  <!-- Card Number -->
                                  <div>
                                    <div>
                                      <label class="block text-sm font-medium mb-1" for="cardNumber">Номер карты <span class="text-rose-500">*</span>
                                        <input id="cardNumber" name="cardNumber" class="form-input w-full" type="text" placeholder="1234 1234 1234 1234"
                                        data-inputmask="'mask': '9999 9999 9999 9999'" required
                                        /></label>
                                    </div>
                                    <!-- Expiry and CVC -->
                                    <div class="flex space-x-4">
                                      <div class="flex-1">
                                        <label class="block text-sm font-medium mb-1" for="expiryDate">Срок действия <span class="text-rose-500">*</span>
                                          <input id="expiryDate" name="expiryDate" class="form-input w-full" type="text" placeholder="ММ/ГГ" required/></label>
                                      </div>
                                      <div class="flex-1">
                                        <label class="block text-sm font-medium mb-1" for="cardCvc">CVC <span class="text-rose-500">*</span>
                                          <input id="cardCvc" name="cardCvc" class="form-input w-full" minlength="3" maxlength="3" type="text" placeholder="CVC" required/></label>
                                      </div>
                                    </div>
                                    <!-- Name on Card -->
                                    <div>
                                      <label class="block text-sm font-medium mb-1" for="cardHolderName">Имя на карте <span class="text-rose-500">*</span>
                                        <input id="cardHolderName" name="cardHolderName" class="form-input w-full" type="text" placeholder="Иван Иванов" required/>
                                      </label>
                                    </div>
                                    <!-- Email -->
                                    <div>
                                      <label class="block text-sm font-medium mb-1" for="email">Почта <span class="text-rose-500">*</span>
                                        <input id="email" name="email" class="form-input w-full" type="email" placeholder="john@company.com" required/>
                                      </label>
                                    </div>
                                  </div>
                                </div>
                                <!-- Form footer -->
                                <div class="mt-6">
                                  <div class="mb-4">
                                    <button type="submit" class="btn w-full bg-indigo-500 hover:bg-indigo-600 text-white"
                                    th:text="|Оплатить - ${booking.getTotalPrice()} руб.|">
                                      Оплатить
                                    </button>
                                  </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </main>

        </div>

    </div>

    <script th:src="@{/app/js/vendors/alpinejs.min.js}" defer></script>

    <script th:src="@{'https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js'}" type="text/javascript"></script>

    <script th:src="@{'https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js'}" type="text/javascript"></script>

<script>
  $(function () {
    jQuery("#cardNumber").inputmask({"mask": "9999 9999 9999 9999"});
    jQuery("#expiryDate").inputmask({"mask": "99/99"});
  });
</script>

</body>

</html>
