<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Профиль</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link th:href="@{/app/css/vendors/flatpickr.min.css}" rel="stylesheet">
    <link th:href="@{/app/style.css}" rel="stylesheet">
  <link type="image/x-icon" th:href="@{/images/favicon.ico}" rel="shortcut icon">
</head>

<body
    class="font-inter antialiased bg-slate-100 text-slate-600"
    :class="{ 'sidebar-expanded': sidebarExpanded }"
    x-data="{ sidebarOpen: false, sidebarExpanded: localStorage.getItem('sidebar-expanded') == 'true' }"
    x-init="$watch('sidebarExpanded', value => localStorage.setItem('sidebar-expanded', value))"
>

    <script>
        if (localStorage.getItem('sidebar-expanded') == 'true') {
            document.querySelector('body').classList.add('sidebar-expanded');
        } else {
            document.querySelector('body').classList.remove('sidebar-expanded');
        }
    </script>

    <!-- Page wrapper -->
    <div class="flex h-screen overflow-hidden">

      <!-- Sidebar -->
      <div th:insert="~{/app/_fragments.html :: sidebar}">

      </div>

        <!-- Content area -->
        <div class="relative flex flex-col flex-1 overflow-y-auto overflow-x-hidden">

          <!-- Header -->
          <header class="sticky top-0 bg-white border-b border-slate-200 z-30" th:insert="~{/app/_fragments.html :: header}">

          </header>

            <main>
                <div class="px-4 sm:px-6 lg:px-8 py-8 w-full max-w-9xl mx-auto">

                    <!-- Page header -->
                    <div class="mb-8">

                        <!-- Title -->
                        <h1 class="text-2xl md:text-3xl text-slate-800 font-bold">Профиль гостя ✨</h1>

                    </div>

                    <div class="bg-white shadow-lg rounded-sm mb-8">
                        <div class="flex flex-col md:flex-row md:-mr-px">

                            <!-- Sidebar -->
                            <div class="flex flex-nowrap overflow-x-scroll no-scrollbar md:block md:overflow-auto px-3 py-6 border-b md:border-b-0 md:border-r border-slate-200 min-w-60 md:space-y-3">
                                <!-- Group 1 -->
                                <div>
                                    <div class="text-xs font-semibold text-slate-400 uppercase mb-3">Настройки</div>
                                    <ul class="flex flex-nowrap md:block mr-3 md:mr-0">
                                        <li class="mr-0.5 md:mr-0 md:mb-0.5">
                                            <a class="flex items-center px-2.5 py-2 rounded whitespace-nowrap bg-indigo-50"  th:href="@{/profile}">
                                                <svg class="w-4 h-4 shrink-0 fill-current text-indigo-400 mr-2" viewBox="0 0 16 16">
                                                    <path d="M12.311 9.527c-1.161-.393-1.85-.825-2.143-1.175A3.991 3.991 0 0012 5V4c0-2.206-1.794-4-4-4S4 1.794 4 4v1c0 1.406.732 2.639 1.832 3.352-.292.35-.981.782-2.142 1.175A3.942 3.942 0 001 13.26V16h14v-2.74c0-1.69-1.081-3.19-2.689-3.733zM6 4c0-1.103.897-2 2-2s2 .897 2 2v1c0 1.103-.897 2-2 2s-2-.897-2-2V4zm7 10H3v-.74c0-.831.534-1.569 1.33-1.838 1.845-.624 3-1.436 3.452-2.422h.436c.452.986 1.607 1.798 3.453 2.422A1.943 1.943 0 0113 13.26V14z" />
                                                </svg>
                                                <span class="text-sm font-medium text-indigo-500">Мой аккаунт</span>
                                            </a>
                                        </li>
                                        <li class="mr-0.5 md:mr-0 md:mb-0.5">
                                            <a class="flex items-center px-2.5 py-2 rounded whitespace-nowrap" th:href="@{/loyalty}">
                                                <svg class="w-4 h-4 shrink-0 fill-current text-slate-400 mr-2" viewBox="0 0 16 16">
                                                    <path d="M14.3.3c.4-.4 1-.4 1.4 0 .4.4.4 1 0 1.4l-8 8c-.2.2-.4.3-.7.3-.3 0-.5-.1-.7-.3-.4-.4-.4-1 0-1.4l8-8zM15 7c.6 0 1 .4 1 1 0 4.4-3.6 8-8 8s-8-3.6-8-8 3.6-8 8-8c.6 0 1 .4 1 1s-.4 1-1 1C4.7 2 2 4.7 2 8s2.7 6 6 6 6-2.7 6-6c0-.6.4-1 1-1z" />
                                                </svg>
                                                <span class="text-sm font-medium text-slate-600 hover:text-slate-700">Программа лояльности</span>
                                            </a>
                                        </li>
                                      <li class="mr-0.5 md:mr-0 md:mb-0.5" th:if="${currentUser.getRole().getAuthority().equals('ADMIN')}">
                                        <a class="flex items-center px-2.5 py-2 rounded whitespace-nowrap" th:href="@{/adminpanel}">
                                          <svg class="w-4 h-4 shrink-0 fill-current text-slate-400 mr-2" viewBox="0 0 16 16">
                                            <path d="M5 9h11v2H5V9zM0 9h3v2H0V9zm5 4h6v2H5v-2zm-5 0h3v2H0v-2zm5-8h7v2H5V5zM0 5h3v2H0V5zm5-4h11v2H5V1zM0 1h3v2H0V1z"></path>
                                          </svg>
                                          <span class="text-sm font-medium text-slate-600 hover:text-slate-700">Админская панель</span>
                                        </a>
                                      </li>
                                    </ul>
                                </div>

                            </div>

                            <!-- Panel -->
                            <div class="grow">

                                <!-- Panel body -->
                                <div class="p-6 space-y-6">
                                    <h2 class="text-2xl text-slate-800 font-bold mb-5">Мой аккаунт</h2>

                                    <!-- Business Profile -->
                                  <section>
                                    <form th:action="@{/updateUser}" th:object="${currentUser}" method="post">
                                        <h3 class="text-xl leading-snug text-slate-800 font-bold mb-1">Изменить данные</h3>
                                        <div class="sm:flex space-y-4 sm:space-y-0 sm:space-x-4 mt-5">
                                            <div class="sm:w-1/3">
                                                <label class="block text-sm font-medium mb-1" for="firstname">Имя</label>
                                              <input id="firstname" th:if='${errors.get("firstname") == "incorrect"}' class="form-input w-full border-rose-300" type="text" name="firstname" th:value="*{firstname}"/>
                                              <input id="firstname" th:if='${errors.get("firstname") == "correct"}' class="form-input w-full border-emerald-300" type="text" name="firstname" th:value="*{firstname}"/>
                                              <input id="firstname" th:if='${!errors.containsKey("firstname")}' class="form-input w-full" type="text" name="firstname" th:value="*{firstname}"/>
                                              <div class="text-xs mt-1 text-rose-500"
                                                   th:if='${errors.get("firstname") == "incorrect"}'>Имя должно иметь не менее 2 букв</div>
                                            </div>
                                            <div class="sm:w-1/3">
                                              <label class="block text-sm font-medium mb-1" for="lastname">Фамилия</label>
                                              <input id="lastname" th:if='${errors.get("lastname") == "incorrect"}' class="form-input w-full border-rose-300" type="text" name="lastname" th:value="*{lastname}"/>
                                              <input id="lastname" th:if='${errors.get("lastname") == "correct"}' class="form-input w-full border-emerald-300" type="text" name="lastname" th:value="*{lastname}"/>
                                              <input id="lastname" th:if='${!errors.containsKey("lastname")}' class="form-input w-full" type="text" name="lastname" th:value="*{lastname}"/>
                                              <div class="text-xs mt-1 text-rose-500"
                                                   th:if='${errors.get("lastname") == "incorrect"}'>Фамилия должно иметь не менее 2 букв</div>
                                            </div>
                                            <div class="sm:w-1/3">
                                              <label class="block text-sm font-medium mb-1" for="phoneNumber">Номер телефона</label>
                                              <input id="phoneNumber" th:if='${errors.get("phoneNumber") == "incorrect"}' class="form-input w-full border-rose-300" type="text" name="phoneNumber" th:value="*{phoneNumber}" pattern="[0-9+-]+"/>
                                              <input id="phoneNumber" th:if='${errors.get("phoneNumber") == "correct"}' class="form-input w-full border-emerald-300" type="text" name="phoneNumber" th:value="*{phoneNumber}" pattern="[0-9+-]+"/>
                                              <input id="phoneNumber" th:if='${!errors.containsKey("phoneNumber")}' class="form-input w-full" type="text" name="phoneNumber" th:value="*{phoneNumber}" pattern="[0-9+-]+"/>
                                              <div class="text-xs mt-1 text-rose-500"
                                                   th:if='${errors.get("phoneNumber") == "incorrect"}'>Неверный номер телефона</div>
                                            </div>
                                          <div class="sm:w-1/3">
                                            <label class="block text-sm font-medium mb-1" for="birthDate">Дата рождения</label>
                                            <input id="birthDate" th:if='${errors.get("birthDate") == "incorrect"}' class="form-input w-full border-rose-300" type="date" name="birthDate" th:value="*{birthDate}"/>
                                            <input id="birthDate" th:if='${errors.get("birthDate") == "correct"}' class="form-input w-full border-emerald-300" type="date" name="birthDate" th:value="*{birthDate}"/>
                                            <input id="birthDate" th:if='${!errors.containsKey("birthDate")}' class="form-input w-full" type="date" name="birthDate" th:value="*{birthDate}"/>
                                            <div class="text-xs mt-1 text-rose-500"
                                                 th:if='${errors.get("birthDate") == "incorrect"}'>Неверная дата рождения</div>
                                          </div>
                                        </div>
                                      <div class="flex flex-col px-6 py-5">
                                        <div class="flex self-end">
                                          <button type="submit" class="btn bg-indigo-500 hover:bg-indigo-600 text-white ml-3">Сохранить изменения</button>
                                        </div>
                                      </div>
                                    </form>
                                  </section>
                                  <!-- Password -->
                                  <section>
                                    <h3 class="text-xl leading-snug text-slate-800 font-bold mb-1">Пароль</h3>
                                    <div class="mt-5">
                                      <!-- Newsletter -->
                                      <div class="m-1.5">
                                        <!-- Start -->
                                        <div x-data="{ modalOpen: true }" th:if='${errors.get("password") == "incorrect"}'>
                                          <button
                                            class="btn border-slate-200 shadow-sm text-indigo-500"
                                            @click.prevent="modalOpen = true"
                                            aria-controls="newsletter-modal"
                                          >Изменить пароль</button>
                                          <!-- Modal backdrop -->
                                          <div
                                            class="fixed inset-0 bg-slate-900 bg-opacity-30 z-50 transition-opacity"
                                            x-show="modalOpen"
                                            x-transition:enter="transition ease-out duration-200"
                                            x-transition:enter-start="opacity-0"
                                            x-transition:enter-end="opacity-100"
                                            x-transition:leave="transition ease-out duration-100"
                                            x-transition:leave-start="opacity-100"
                                            x-transition:leave-end="opacity-0"
                                            aria-hidden="true"
                                            x-cloak
                                          ></div>
                                          <!-- Modal dialog -->
                                          <div
                                            id="newsletter-modal"
                                            class="fixed inset-0 z-50 overflow-hidden flex items-center my-4 justify-center sm:px-6"
                                            role="dialog"
                                            aria-modal="true"
                                            x-show="modalOpen"
                                            x-transition:enter="transition ease-in-out duration-200"
                                            x-transition:enter-start="opacity-0 translate-y-4"
                                            x-transition:enter-end="opacity-100 translate-y-0"
                                            x-transition:leave="transition ease-in-out duration-200"
                                            x-transition:leave-start="opacity-100 translate-y-0"
                                            x-transition:leave-end="opacity-0 translate-y-4"
                                            x-cloak
                                          >
                                            <div class="bg-white rounded shadow-lg overflow-auto max-w-lg w-full max-h-full" @click.outside="modalOpen = false" @keydown.escape.window="modalOpen = false">
                                              <div class="p-6">
                                                <div class="relative">
                                                  <!-- Close button -->
                                                  <button class="absolute top-0 right-0 text-slate-400 hover:text-slate-500" @click="modalOpen = false">
                                                    <div class="sr-only">Close</div>
                                                    <svg class="w-4 h-4 fill-current">
                                                      <path d="M7.95 6.536l4.242-4.243a1 1 0 111.415 1.414L9.364 7.95l4.243 4.242a1 1 0 11-1.415 1.415L7.95 9.364l-4.243 4.243a1 1 0 01-1.414-1.415L6.536 7.95 2.293 3.707a1 1 0 011.414-1.414L7.95 6.536z" />
                                                    </svg>
                                                  </button>
                                                  <!-- Modal header -->
                                                  <div class="mb-2 text-center">
                                                    <!-- Icon -->
                                                    <div class="mb-3">
                                                      <svg class="inline-flex w-12 h-12 rounded-full shrink-0 fill-current" viewBox="0 0 48 48">
                                                        <rect class="text-indigo-100" width="48" height="48" rx="24" />
                                                        <path class="text-indigo-300" d="M19 16h7a8 8 0 110 16h-7V16z" />
                                                        <path class="text-indigo-500" d="M26 24l-7-6v5h-8v2h8v5z" />
                                                      </svg>
                                                    </div>
                                                    <div class="text-lg font-semibold text-slate-800">Введите новый пароль</div>
                                                  </div>
                                                  <!-- Modal content -->
                                                  <div class="text-center">
                                                    <!-- Submit form -->
                                                    <form th:action="@{/changePassword}" class="flex max-w-sm m-auto" method="post">
                                                      <div class="grow mr-2">
                                                        <label for="password" class="sr-only"></label>
                                                        <input id="password" th:if='${errors.get("password") == "incorrect"}' class="form-input w-full border-rose-300" type="password" name="password"/>
                                                        <input id="password" th:if='${errors.get("password") == "correct"}' class="form-input w-full border-emerald-300" type="password" name="password"/>
                                                        <input id="password" th:if='${!errors.containsKey("password")}' class="form-input w-full" type="password" name="password"/>
                                                        <div class="text-xs mt-1 text-rose-500"
                                                             th:if='${errors.get("password") == "incorrect"}'>Пароль должен иметь не менее 6 символов</div>
                                                      </div>
                                                      <button type="submit" class="btn-sm bg-indigo-500 hover:bg-indigo-600 text-white whitespace-nowrap"
                                                      style="height: 2.356rem">Изменить</button>
                                                    </form>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>

                                        <div x-data="{ modalOpen: false }" th:unless='${errors.get("password") == "incorrect"}'>
                                          <button
                                            class="btn border-slate-200 shadow-sm text-indigo-500"
                                            @click.prevent="modalOpen = true"
                                            aria-controls="newsletter-modal"
                                          >Изменить пароль</button>
                                          <!-- Modal backdrop -->
                                          <div
                                            class="fixed inset-0 bg-slate-900 bg-opacity-30 z-50 transition-opacity"
                                            x-show="modalOpen"
                                            x-transition:enter="transition ease-out duration-200"
                                            x-transition:enter-start="opacity-0"
                                            x-transition:enter-end="opacity-100"
                                            x-transition:leave="transition ease-out duration-100"
                                            x-transition:leave-start="opacity-100"
                                            x-transition:leave-end="opacity-0"
                                            aria-hidden="true"
                                            x-cloak
                                          ></div>
                                          <!-- Modal dialog -->
                                          <div
                                            id="newsletter-modal"
                                            class="fixed inset-0 z-50 overflow-hidden flex items-center my-4 justify-center sm:px-6"
                                            role="dialog"
                                            aria-modal="true"
                                            x-show="modalOpen"
                                            x-transition:enter="transition ease-in-out duration-200"
                                            x-transition:enter-start="opacity-0 translate-y-4"
                                            x-transition:enter-end="opacity-100 translate-y-0"
                                            x-transition:leave="transition ease-in-out duration-200"
                                            x-transition:leave-start="opacity-100 translate-y-0"
                                            x-transition:leave-end="opacity-0 translate-y-4"
                                            x-cloak
                                          >
                                            <div class="bg-white rounded shadow-lg overflow-auto max-w-lg w-full max-h-full" @click.outside="modalOpen = false" @keydown.escape.window="modalOpen = false">
                                              <div class="p-6">
                                                <div class="relative">
                                                  <!-- Close button -->
                                                  <button class="absolute top-0 right-0 text-slate-400 hover:text-slate-500" @click="modalOpen = false">
                                                    <div class="sr-only">Close</div>
                                                    <svg class="w-4 h-4 fill-current">
                                                      <path d="M7.95 6.536l4.242-4.243a1 1 0 111.415 1.414L9.364 7.95l4.243 4.242a1 1 0 11-1.415 1.415L7.95 9.364l-4.243 4.243a1 1 0 01-1.414-1.415L6.536 7.95 2.293 3.707a1 1 0 011.414-1.414L7.95 6.536z" />
                                                    </svg>
                                                  </button>
                                                  <!-- Modal header -->
                                                  <div class="mb-2 text-center">
                                                    <!-- Icon -->
                                                    <div class="mb-3">
                                                      <svg class="inline-flex w-12 h-12 rounded-full shrink-0 fill-current" viewBox="0 0 48 48">
                                                        <rect class="text-indigo-100" width="48" height="48" rx="24" />
                                                        <path class="text-indigo-300" d="M19 16h7a8 8 0 110 16h-7V16z" />
                                                        <path class="text-indigo-500" d="M26 24l-7-6v5h-8v2h8v5z" />
                                                      </svg>
                                                    </div>
                                                    <div class="text-lg font-semibold text-slate-800">Введите новый пароль</div>
                                                  </div>
                                                  <!-- Modal content -->
                                                  <div class="text-center">
                                                    <!-- Submit form -->
                                                    <form th:action="@{/changePassword}" class="flex max-w-sm m-auto" method="post">
                                                      <div class="grow mr-2 mt-auto">
                                                        <label for="password" class="sr-only"></label>
                                                        <input id="password" th:if='${errors.get("password") == "incorrect"}' class="form-input w-full border-rose-300" type="password" name="password"/>
                                                        <input id="password" th:if='${errors.get("password") == "correct"}' class="form-input w-full border-emerald-300" type="password" name="password"/>
                                                        <input id="password" th:if='${!errors.containsKey("password")}' class="form-input w-full" type="password" name="password"/>
                                                        <div class="text-xs mt-1 text-rose-500"
                                                             th:if='${errors.get("password") == "incorrect"}'>Пароль должен иметь не менее 6 символов</div>
                                                      </div>
                                                      <button type="submit" class="btn-sm bg-indigo-500 hover:bg-indigo-600 text-white whitespace-nowrap"
                                                              style="height: 2.356rem">Изменить</button>
                                                    </form>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <!-- End -->

                                      </div>
                                    </div>
                                  </section>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </main>

        </div>

    </div>

    <script th:src="@{/app/js/vendors/alpinejs.min.js}" defer></script>

</body>

</html>
