<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Номера</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link th:href="@{/app/css/vendors/flatpickr.min.css}" rel="stylesheet">
    <link th:href="@{/app/style.css}" rel="stylesheet">
  <link type="image/x-icon" th:href="@{/images/favicon.ico}" rel="shortcut icon">
</head>

<body
    class="font-inter antialiased bg-slate-100 text-slate-600"
    :class="{ 'sidebar-expanded': sidebarExpanded }"
    x-data="{ sidebarOpen: false, sidebarExpanded: localStorage.getItem('sidebar-expanded') == 'true' }"
    x-init="$watch('sidebarExpanded', value => localStorage.setItem('sidebar-expanded', value))"
>

    <script>
        if (localStorage.getItem('sidebar-expanded') == 'true') {
            document.querySelector('body').classList.add('sidebar-expanded');
        } else {
            document.querySelector('body').classList.remove('sidebar-expanded');
        }
    </script>

    <!-- Page wrapper -->
    <div class="flex h-screen overflow-hidden">

        <!-- Sidebar -->
         <div th:insert="~{/app/_fragments.html :: sidebar}">

        </div>
        <!-- Content area -->
        <div class="relative flex flex-col flex-1 overflow-y-auto overflow-x-hidden">

            <header class="sticky top-0 bg-white border-b border-slate-200 z-30" th:insert="~{/app/_fragments.html :: header}">

            </header>

            <main>
                <div class="px-4 sm:px-6 lg:px-8 py-8 w-full max-w-9xl mx-auto">

                    <!-- Page header -->
                    <div class="mb-5">

                        <!-- Title -->
                        <h1 class="text-2xl md:text-3xl text-slate-800 font-bold">Роскошные номера ✨</h1>

                    </div>

                  <!--Оповещение об успешном создании номеров-->
                  <div x-data="{ modalOpen: true }" th:if="${createdCleaning}">
                    <!-- Modal backdrop -->
                    <div class="fixed inset-0 bg-slate-900 bg-opacity-30 z-50 transition-opacity" x-show="modalOpen" x-transition:enter="transition ease-out duration-200" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="transition ease-out duration-100" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" aria-hidden="true" style="display: none;"></div>
                    <!-- Modal dialog -->
                    <div id="success-modal" class="fixed inset-0 z-50 overflow-hidden flex items-center my-4 justify-center" role="dialog" aria-modal="true" x-show="modalOpen" x-transition:enter="transition ease-in-out duration-200" x-transition:enter-start="opacity-0 translate-y-4" x-transition:enter-end="opacity-100 translate-y-0" x-transition:leave="transition ease-in-out duration-200" x-transition:leave-start="opacity-100 translate-y-0" x-transition:leave-end="opacity-0 translate-y-4" style="display: none;">
                      <div class="bg-white rounded shadow-lg overflow-auto max-w-lg w-full max-h-full" @click.outside="modalOpen = false" @keydown.escape.window="modalOpen = false">
                        <div class="p-5 flex space-x-4">
                          <!-- Icon -->
                          <div class="w-10 h-10 rounded-full flex items-center justify-center shrink-0 bg-emerald-100">
                            <svg class="w-4 h-4 shrink-0 fill-current text-emerald-500" viewBox="0 0 16 16">
                              <path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zM7 11.4L3.6 8 5 6.6l2 2 4-4L12.4 6 7 11.4z"></path>
                            </svg>
                          </div>
                          <!-- Content -->
                          <div>
                            <!-- Modal header -->
                            <div class="mb-2">
                              <div class="text-lg font-semibold text-slate-800">Успешное создание</div>
                            </div>
                            <!-- Modal content -->
                            <div class="text-sm mb-10">
                              <div class="space-y-2">
                                <p th:text="|Вы создали запрос на уборку в ${createdCleaning.getRoom()} номер|">Описание процесса</p>
                              </div>
                            </div>
                            <!-- Modal footer -->
                            <div class="flex flex-wrap justify-end space-x-2">
                              <button class="btn-sm border-slate-200 hover:border-slate-300 text-slate-600" @click="modalOpen = false">Закрыть</button></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                    <!-- Page content -->
                    <div class="flex flex-col space-y-10 sm:flex-row sm:space-x-6 sm:space-y-0 md:flex-col md:space-x-0 md:space-y-10 xl:flex-row xl:space-x-6 xl:space-y-0 mt-9">

                        <!-- Content -->
                        <div>

                            <div class="text-sm text-slate-500 italic mb-4" th:text="|${rooms.size()} типов номеров|"></div>
                            <!-- Cards 1 (Video Courses) -->
                            <div>
                                <div class="grid grid-cols-12 gap-6">
                                    <!-- Card 1 -->
                                    <div class="col-span-full md:col-span-6 xl:col-span-4 bg-white shadow-lg rounded-sm border border-slate-200 overflow-hidden" th:each="room : ${rooms}">
                                      <a th:href="|@{/rooms/}${room.getId()}|">
                                        <div class="flex flex-col h-full">
                                          <!-- Image -->
                                          <div class="relative">
                                            <img class="w-full" th:src="|@{/image/roomTypes/}*{room.imagePath}|" width="301" height="226" alt="Application 21" />
                                            <!-- Special Offer label -->
                                            <div class="absolute bottom-0 right-0 mb-4 mr-4" th:if="${currentUser.getLoyalty().getSale() != 0}">
                                              <div class="inline-flex items-center text-xs font-medium text-slate-100 bg-slate-900 bg-opacity-60 rounded-full text-center px-2 py-0.5">
                                                <svg class="w-3 h-3 shrink-0 fill-current text-amber-500 mr-1" viewBox="0 0 12 12">
                                                  <path d="M11.953 4.29a.5.5 0 00-.454-.292H6.14L6.984.62A.5.5 0 006.12.173l-6 7a.5.5 0 00.379.825h5.359l-.844 3.38a.5.5 0 00.864.445l6-7a.5.5 0 00.075-.534z" />
                                                </svg>
                                                <span th:text="|С учётом персональной скидки - ${currentUser.getLoyalty().getSale()}%|"></span>
                                              </div>
                                            </div>
                                          </div>
                                          <!-- Card Content -->
                                          <div class="grow flex flex-col p-5">
                                            <!-- Card body -->
                                            <div class="grow">
                                              <header class="mb-2">
                                                <a th:href="|@{/rooms/}${room.getId()}|">
                                                  <h3 class="text-lg text-slate-800 font-semibold mb-1" th:text="${room.roomTypeNameDto.getRuName()}">Form Builder CP</h3>
                                                </a>
                                                <div class="text-sm" th:text="${room.roomTypeDescriptionDto.getRuName()}">Lorem ipsum dolor sit amet adipiscing elit, sed do eiusmod.</div>
                                              </header>
                                            </div>
                                            <!-- Price -->
                                            <div class="flex flex-wrap justify-between items-center">
                                              <div class="flex items-center text-sm font-medium">
                                                <form th:action="|@{/rooms/}${room.getId()}|" type="get">
                                                  <button class="btn bg-indigo-500 hover:bg-indigo-600 text-white">
                                                    <svg class="w-6 h-4 fill-current opacity-50 shrink-0" viewBox="0 0 16 16">
                                                      <path d="M15 7H9V1c0-.6-.4-1-1-1S7 .4 7 1v6H1c-.6 0-1 .4-1 1s.4 1 1 1h6v6c0 .6.4 1 1 1s1-.4 1-1V9h6c.6 0 1-.4 1-1s-.4-1-1-1z"></path>
                                                    </svg>
                                                    <span class="hidden xs:block ml-1">Забронировать</span>
                                                  </button>
                                                </form>
                                              </div>
                                              <div class="inline-flex text-sm font-medium bg-emerald-100 text-emerald-600 rounded-full text-center px-2 py-0.5"
                                                   th:if="${currentUser.getLoyalty().getSale() == 0}"
                                                   th:text="|${room.price} руб.|">??? руб.</div>
                                              <div class="inline-flex text-sm font-medium bg-emerald-100 text-emerald-600 rounded-full text-center px-2 py-0.5"
                                                   th:unless="${currentUser.getLoyalty().getSale() == 0}"
                                                   th:text="|${room.price - room.price / 100 * currentUser.getLoyalty().getSale()} руб.|">??? руб.</div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      </a>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </main>
        </div>
    </div>
</div>


    <script th:src="@{/app/js/vendors/alpinejs.min.js}" defer></script>

  </body>

</html>
