<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Номер</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link th:href="@{/app/css/vendors/flatpickr.min.css}" rel="stylesheet">
    <link th:href="@{/app/style.css}" rel="stylesheet">
    <link
      rel="stylesheet"
      th:href="@{/app/fancybox.css}"
    />
  <link type="image/x-icon" th:href="@{/images/favicon.ico}" rel="shortcut icon">
</head>

<body
    class="font-inter antialiased bg-slate-100 text-slate-600"
    :class="{ 'sidebar-expanded': sidebarExpanded }"
    x-data="{ sidebarOpen: false, sidebarExpanded: localStorage.getItem('sidebar-expanded') == 'true' }"
    x-init="$watch('sidebarExpanded', value => localStorage.setItem('sidebar-expanded', value))"
>

    <script>
        if (localStorage.getItem('sidebar-expanded') == 'true') {
            document.querySelector('body').classList.add('sidebar-expanded');
        } else {
            document.querySelector('body').classList.remove('sidebar-expanded');
        }
    </script>

    <!-- Page wrapper -->
    <div class="flex h-screen overflow-hidden">

      <!-- Sidebar -->
      <div th:insert="~{/app/_fragments.html :: sidebar}">

      </div>

      <!-- Content area -->
      <div class="relative flex flex-col flex-1 overflow-y-auto overflow-x-hidden">

        <!-- Header -->
        <header class="sticky top-0 bg-white border-b border-slate-200 z-30" th:insert="~{/app/_fragments.html :: header}">

        </header>

            <main>
                <div class="px-4 sm:px-6 lg:px-8 py-8 w-full">

                    <!-- Page content -->
                    <div class="max-w-5xl mx-auto flex flex-col lg:flex-row lg:space-x-8 xl:space-x-16">

                        <!-- Content -->
                        <div>
                            <div class="mb-6">
                                <a class="btn-sm px-3 bg-white border-slate-200 hover:border-slate-300 text-slate-600" th:href="@{/rooms}">
                                    <svg class="fill-current text-slate-400 mr-2" width="7" height="12" viewBox="0 0 7 12">
                                        <path d="M5.4.6 6.8 2l-4 4 4 4-1.4 1.4L0 6z" />
                                    </svg>
                                    <span>Список номеров</span>
                                </a>
                            </div>
                          <header class="mb-4">
                            <!-- Title -->
                            <h1 class="text-2xl md:text-3xl text-slate-800 font-bold mb-2" th:text="${room.getRoomTypeNameDto().getRuName()}">text</h1>
                          </header>
                            <!-- Image -->
                            <a data-fancybox="" th:href="|@{/image/roomTypes/}${room.getImagePath()}|" class="mb-6">
                                <img class="w-full rounded-sm" th:src="|@{/image/roomTypes/}${room.getImagePath()}|" width="640" height="360" alt="Номер" />
                            </a>

                            <!-- Post content -->
                            <div>
                                <h2 class="text-xl leading-snug text-slate-800 font-bold mb-2 mt-2">Описание</h2>
                                <p class="mb-6" th:text="${room.getRoomTypeDescriptionDto().getRuName()}">Text</p>
                            </div>

                            <hr class="my-6 border-t border-slate-200" />

                            <!-- Photos -->
                            <div>
                                <h2 class="text-xl leading-snug text-slate-800 font-bold mb-2">Фото</h2>
                              <div class="grid grid-cols-3 gap-4 my-6">
                                <a class="block" th:href="|@{/image/roomTypes/}1${room.getImagePath()}|" data-fancybox="gallery">
                                  <img alt="Transformation picture #1" th:src="|@{/image/roomTypes/}1${room.getImagePath()}|">
                                </a>
                                <a class="block" th:href="|@{/image/roomTypes/}2${room.getImagePath()}|" data-fancybox="gallery">
                                  <img alt="Transformation picture #2" th:src="|@{/image/roomTypes/}2${room.getImagePath()}|">
                                </a>
                                <a class="block" th:href="|@{/image/roomTypes/}3${room.getImagePath()}|" data-fancybox="gallery">
                                  <img alt="Transformation picture #3" th:src="|@{/image/roomTypes/}3${room.getImagePath()}|">
                                </a>
                              </div>
<!--                                <div class="grid grid-cols-3 gap-4 my-6">-->
<!--                                    <a class="block" href="#0">-->
<!--                                        <img class="w-full rounded-sm" th:src="|@{/image/roomTypes/}1${room.getImagePath()}|" width="203" height="152" alt="Meetup photo 01"/>-->
<!--                                    </a>-->
<!--                                    <a class="block" href="#0">-->
<!--                                        <img class="w-full rounded-sm" th:src="|@{/image/roomTypes/}2${room.getImagePath()}|" width="203" height="152" alt="Meetup photo 02"/>-->
<!--                                    </a>-->
<!--                                    <a class="block" href="#0">-->
<!--                                        <img class="w-full rounded-sm" th:src="|@{/image/roomTypes/}3${room.getImagePath()}|" width="203" height="152" alt="Meetup photo 03"/>-->
<!--                                    </a>-->
<!--                                </div>-->
                            </div>

                            <hr class="my-6 border-t border-slate-200" />

                        </div>

                        <!-- Sidebar -->
                        <div class="space-y-4">

                            <!-- 1st block -->
                            <div class="bg-white p-5 shadow-lg rounded-sm border border-slate-200 lg:w-72 xl:w-80">
                                <div class="space-y-2">
                                  <h1 th:text="|Стоимость: ${room.price} руб.|"
                                      th:if="${currentUser.getLoyalty().getSale() == 0}"
                                      style="text-align: center; font-weight: 700;
                                      color: rgb(30 41 59 / var(--tw-text-opacity))">Цена</h1>
                                  <h1 th:text="|Стоимость: ${room.price - room.price / 100 * currentUser.getLoyalty().getSale()} руб.|"
                                      th:unless="${currentUser.getLoyalty().getSale() == 0}"
                                      style="text-align: center; font-weight: 700;
                                      color: rgb(30 41 59 / var(--tw-text-opacity))">Цена</h1>
                                  <form th:action="@{/rooms/availableroom/{id}(id=${room.getId()})}" method="get">
                                    <button class="btn w-full bg-indigo-500 hover:bg-indigo-600 text-white">
                                      <svg class="w-4 h-4 fill-current shrink-0" viewBox="0 0 16 16">
                                        <path d="m2.457 8.516.969-.99 2.516 2.481 5.324-5.304.985.989-6.309 6.284z" />
                                      </svg>
                                      <span class="ml-1">Проверить доступность</span>
                                    </button>
                                  </form>
                                </div>
                            </div>

                            <!-- 2nd block -->
                            <div class="bg-white p-5 shadow-lg rounded-sm border border-slate-200 lg:w-72 xl:w-80">
                                <div class="flex justify-between space-x-1 mb-5">
                                    <div class="text-sm text-slate-800 font-semibold" style="font-weight: 700; font-size: medium">
                                        Удобства:
                                    </div>
                                </div>
                              <ul class="space-y-3">
                                <li th:each="conv : ${conveniencies}">
                                  <div class="flex justify-between">
                                    <div class="grow flex items-center">
                                      <div class="relative mr-3">
<!--                                        <img class="w-8 h-8 rounded-full" th:src="|@{/image/conveniencies/}${conv.getSvg_link()}.svg|" alt="User 08" width="32" height="32">-->
                                        <object class="w-8 h-8 rounded-full" type="image/svg+xml" th:data="|@{/image/conveniencies/}${conv.getSvg_link()}.svg|" width="32" height="32" >
                                          Your browser does not support SVG
                                        </object>
                                      </div>
                                      <div class="truncate">
                                        <span class="text-sm font-medium text-slate-800" th:text="${conv.getConveniencyDescriptionDto().getRuName()}">Удобство</span>
                                      </div>
                                    </div>
                                  </div>
                                </li>
                              </ul>
                            </div>

                        </div>

                    </div>

                </div>
            </main>

        </div>

    </div>

    <script th:src="@{/app/js/vendors/alpinejs.min.js}" defer></script>

    <script th:src="@{/app/fancybox.umd.js}"></script>

    <script>
      Fancybox.bind('[data-fancybox]', {
        Toolbar: {
          display: {
            left: ["infobar"],
            middle: [
              "zoomIn",
              "zoomOut",
              "toggle1to1",
              "rotateCCW",
              "rotateCW",
              "flipX",
              "flipY",
            ],
            right: ["slideshow", "thumbs", "close"],
          },
        },
      });
    </script>

    <script>
      Fancybox.bind('[data-fancybox="gallery"]', {
        Toolbar: {
          display: {
            left: ["infobar"],
            middle: [
              "zoomIn",
              "zoomOut",
              "toggle1to1",
              "rotateCCW",
              "rotateCW",
              "flipX",
              "flipY",
            ],
            right: ["slideshow", "thumbs", "close"],
          },
        },
      });
    </script>

</body>

</html>
