<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Услуги</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  <link th:href="@{/app/css/vendors/flatpickr.min.css}" rel="stylesheet">
  <link th:href="@{/app/style.css}" rel="stylesheet">
  <link
    rel="stylesheet"
    th:href="@{/app/fancybox.css}"
  />
  <link type="image/x-icon" th:href="@{/images/favicon.ico}" rel="shortcut icon">
</head>

<body
    class="font-inter antialiased bg-slate-100 text-slate-600"
    :class="{ 'sidebar-expanded': sidebarExpanded }"
    x-data="{ sidebarOpen: false, sidebarExpanded: localStorage.getItem('sidebar-expanded') == 'true' }"
    x-init="$watch('sidebarExpanded', value => localStorage.setItem('sidebar-expanded', value))"
>

    <script>
        if (localStorage.getItem('sidebar-expanded') == 'true') {
            document.querySelector('body').classList.add('sidebar-expanded');
        } else {
            document.querySelector('body').classList.remove('sidebar-expanded');
        }
    </script>

    <!-- Page wrapper -->
    <div class="flex h-screen overflow-hidden">

      <!-- Sidebar -->
      <div th:insert="~{/app/_fragments.html :: sidebar}">

      </div>

        <!-- Content area -->
        <div class="relative flex flex-col flex-1 overflow-y-auto overflow-x-hidden">

          <!-- Header -->
          <header class="sticky top-0 bg-white border-b border-slate-200 z-30" th:insert="~{/app/_fragments.html :: header}">

          </header>

            <main>
                <div class="px-4 sm:px-6 lg:px-8 py-8 w-full max-w-9xl mx-auto">

                    <!-- Page header -->
                    <div class="mb-5">

                        <!-- Title -->
                        <h1 class="text-2xl md:text-3xl text-slate-800 font-bold">Различные услуги специально для вас ✨</h1>

                    </div>

                  <!--Оповещение об успешном создании номеров-->
                  <div x-data="{ modalOpen: true }" th:if="${createdOrder}">
                    <!-- Modal backdrop -->
                    <div class="fixed inset-0 bg-slate-900 bg-opacity-30 z-50 transition-opacity" x-show="modalOpen" x-transition:enter="transition ease-out duration-200" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="transition ease-out duration-100" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" aria-hidden="true" style="display: none;"></div>
                    <!-- Modal dialog -->
                    <div id="success-modal" class="fixed inset-0 z-50 overflow-hidden flex items-center my-4 justify-center" role="dialog" aria-modal="true" x-show="modalOpen" x-transition:enter="transition ease-in-out duration-200" x-transition:enter-start="opacity-0 translate-y-4" x-transition:enter-end="opacity-100 translate-y-0" x-transition:leave="transition ease-in-out duration-200" x-transition:leave-start="opacity-100 translate-y-0" x-transition:leave-end="opacity-0 translate-y-4" style="display: none;">
                      <div class="bg-white rounded shadow-lg overflow-auto max-w-lg w-full max-h-full" @click.outside="modalOpen = false" @keydown.escape.window="modalOpen = false">
                        <div class="p-5 flex space-x-4">
                          <!-- Icon -->
                          <div class="w-10 h-10 rounded-full flex items-center justify-center shrink-0 bg-emerald-100">
                            <svg class="w-4 h-4 shrink-0 fill-current text-emerald-500" viewBox="0 0 16 16">
                              <path d="M8 0C3.6 0 0 3.6 0 8s3.6 8 8 8 8-3.6 8-8-3.6-8-8-8zM7 11.4L3.6 8 5 6.6l2 2 4-4L12.4 6 7 11.4z"></path>
                            </svg>
                          </div>
                          <!-- Content -->
                          <div>
                            <!-- Modal header -->
                            <div class="mb-2">
                              <div class="text-lg font-semibold text-slate-800">Успешная оплата</div>
                            </div>
                            <!-- Modal content -->
                            <div class="text-sm mb-10">
                              <div class="space-y-2">
                                <p th:text="|Вы оплатили услуги|">Описание процесса</p>
                              </div>
                            </div>
                            <!-- Modal footer -->
                            <div class="flex flex-wrap justify-end space-x-2">
                              <button class="btn-sm border-slate-200 hover:border-slate-300 text-slate-600" @click="modalOpen = false">Закрыть</button></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                    <!-- Filters -->
                    <div class="mb-4 border-b border-slate-200">
                        <ul class="text-sm font-medium flex flex-nowrap -mx-4 sm:-mx-6 lg:-mx-8 overflow-x-scroll no-scrollbar">
                            <li class="pb-3 mr-6 last:mr-0 first:pl-4 sm:first:pl-6 lg:first:pl-8 last:pr-4 sm:last:pr-6 lg:last:pr-8">
                                <a class="text-slate-500 hover:text-slate-600 whitespace-nowrap" th:href="|@{/services}|"
                                th:if="${currentServiceType}">Показать все
                                </a>

                              <a class="text-indigo-500 whitespace-nowrap" th:href="|@{/services}|"
                                 th:unless="${currentServiceType}">Показать все
                              </a>
                            </li>
                            <li class="pb-3 mr-6 last:mr-0 first:pl-4 sm:first:pl-6 lg:first:pl-8 last:pr-4 sm:last:pr-6 lg:last:pr-8" th:each="serviceType : ${serviceTypes}">
                                <a class="text-indigo-500 whitespace-nowrap" th:href="|@{/services/{type}(type=${serviceType.getEnName().toLowerCase()})}|"
                                   th:text="${serviceType.getRuName()}" th:if="${currentServiceType == serviceType.getEnName().toLowerCase()}">Type
                                </a>
                                <a class="text-slate-500 hover:text-slate-600 whitespace-nowrap" th:href="|@{/services/{type}(type=${serviceType.getEnName().toLowerCase()})}|"
                                   th:text="${serviceType.getRuName()}" th:unless="${currentServiceType == serviceType.getEnName().toLowerCase()}">Type
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!-- Page content -->
                    <div>

                        <!-- Cards 1 (Video Courses) -->
                        <div class="mt-8">
                            <div class="grid grid-cols-12 gap-6">
                                <!-- Card 1 -->
                                <div class="col-span-full sm:col-span-6 xl:col-span-3 bg-white shadow-lg rounded-sm border border-slate-200 overflow-hidden" th:each="services : ${service}">
                                    <div class="flex flex-col h-full">
                                        <!-- Image -->
                                        <a data-fancybox="" th:href="|@{/image/services/}${services.getImageLink}|" class="mb-6">
                                          <img class="w-full"  width="286" height="160" th:src="|@{/image/services/}${services.getImageLink}|" alt="Услуга" />
                                        </a>
                                        <!-- Card Content -->
                                        <div class="grow flex flex-col p-5">
                                            <!-- Card body -->
                                            <div class="grow">
                                                <!-- Header -->
                                                <header class="mb-3">
                                                    <h3 class="text-lg text-slate-800 font-semibold" th:text="${services.getServiceName().getRuName()}">Service name</h3>
                                                </header>
                                                <div class="text-sm" th:text="${services.getServiceDescription().getRuName()}">Description</div>

                                            </div>
                                            <!-- Card footer -->
                                            <div>
                                              <div class="flex flex-wrap justify-between items-center" style="padding-top: 1em">
                                                <!-- Button -->
                                                <form th:action="@{/services/add/{id}(id=${services.id})}" method="post">
                                                  <div class="flex items-center space-x-2 mr-2">
                                                    <button class="inline-flex items-center justify-center text-sm font-medium leading-5 rounded-full px-3 py-1 border border-transparent shadow-sm bg-indigo-500 text-white duration-150 ease-in-out">В корзину</button>
                                                  </div>
                                                </form>
                                                <!-- Price -->
                                                <div>
                                                  <div class="inline-flex text-sm font-medium bg-emerald-100 text-emerald-600 rounded-full text-center px-2 py-0.5" th:text="|${services.getPrice()} руб.|">Price</div>
                                                </div>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </main>

        </div>

    </div>

    <script th:src="@{/app/js/vendors/alpinejs.min.js}" defer></script>

    <script th:src="@{/app/fancybox.umd.js}"></script>

    <script>
      Fancybox.bind('[data-fancybox]', {
        Toolbar: {
          display: {
            left: ["infobar"],
            middle: [
              "zoomIn",
              "zoomOut",
              "toggle1to1",
              "rotateCCW",
              "rotateCW",
              "flipX",
              "flipY",
            ],
            right: ["slideshow", "thumbs", "close"],
          },
        },
      });
    </script>
</body>

</html>
