<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Вход</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link th:href="@{/app/css/vendors/flatpickr.min.css}" rel="stylesheet">
    <link th:href="@{/app/style.css}" rel="stylesheet">

  <link type="image/x-icon" th:href="@{/images/favicon.ico}" rel="shortcut icon">

</head>

<body class="font-inter antialiased bg-slate-100 text-slate-600">

    <script>
        if (localStorage.getItem('sidebar-expanded') == 'true') {
            document.querySelector('body').classList.add('sidebar-expanded');
        } else {
            document.querySelector('body').classList.remove('sidebar-expanded');
        }
    </script>

    <main class="bg-white">

        <div class="relative flex">

            <!-- Content -->
            <div class="w-full md:w-1/2">

                <div class="min-h-screen h-full flex flex-col after:flex-1">

                    <!-- Header -->
                    <div class="flex-1">
                        <div class="flex items-center justify-between h-16 px-4 sm:px-6 lg:px-8">
                            <!-- Logo -->
                            <a class="block" th:href="@{/rooms}">
                              <svg width="64" height="64" viewBox="0 0 42 32">
                                <use xlink:href="#colored__logosq-white">
                                  <symbol id="colored__logosq-white" viewBox="0 0 50 50" xml:space="preserve" xmlns="http://www.w3.org/2000/svg">
                                          <style>.adst0{fill-rule:evenodd;clip-rule:evenodd;fill:black}</style>
                                    <g id="adAbout"><g id="adLogo"><g transform="translate(27.193 27.633)">
                                            <path id="adFill-3" class="adst0" d="M21.8 8.5c-7 .2-14 .3-20.9.5-.1.1-.2.3-.3.5v3.7c1.7 0 3.2 0 4.8.1 2.5.1 4.9.1 7.3.5 3.1.5 6.1.1 9.4-.1-.2-1.9.2-3.6-.3-5.2"></path>
                                            <path id="adFill-5" class="adst0" d="M5.5 5.7c2.2-.3 4.5-.6 6.7-.7 2.8-.1 5.7 0 8.6-.1.4 0 .9-.1 1.4-.2 0-1.3.1-2.5-.5-3.8H9.4C8.2.9 7.1 1 6 .3 5.4 0 4.5-.2 3.9.3c-.8.5-1.6.6-2.5.7-.4.1-.7.3-1 .4v4c1.8.5 3.4.6 5.1.3">
                                            </path><g id="adGroup-9" transform="translate(0 15.672)"><path id="adFill-7" class="adst0" d="M21.8 2.1c-.1 0-.3-.1-.4-.1-.3 0-.5 0-.8.1-2.7.5-5.4.1-8.1-.5C8.6.6 4.7.9.6 1 .6 2.5.5 3.7.5 5c0 .5.5 1 1.1 1.1.5.1.9.1 1.4 0 2-.2 3.9-.5 5.9-.7.4 0 1-.2 1.4.1.7.5 1.4.4 2.1.3.9-.1 1.9-.1 2.8-.3 1.3-.2 2.6-.2 3.8.3 1.1.4 2.1.2 3.1-.1.3-2 .3-2-.3-3.6"></path>
                                          </g></g><g transform="translate(.893 27.622)">
                                            <path id="adFill-1" class="adst0" d="M21.5 12.7c.1-2.2.2-4.3.1-6.5 0-1.6-.4-3.2-.2-4.8 0-.3-.2-.7-.3-.9-.3-.1-.4-.1-.5-.1C16.7.5 12.9.2 9 .4 8.2.4 7.3.4 6.5.2 4.4-.3 2.4.2.2 1v5.9c0 1 0 2.1.2 3.1.2 1.4-.2 2.8-.2 4.1 0 1.5.3 2.9 0 4.4 0 .2-.1.4-.1.6v2c.7.2 1.2.3 1.8.4 1.9.1 3.8.1 5.7-.1.6-.1 1.2-.1 1.7.1 1.8.8 3.6.1 5.4.4 1 .1 2.1 0 3.1 0 1.3 0 2.7.1 4.1-.2-.1-1.6 0-3.1-.2-4.6-.3-1.6-.2-3-.2-4.4"></path>
                                          </g><g transform="translate(27.608 .892)">
                                            <path id="adFill-10" class="adst0" d="M14.8 5.1c-.7 1.4-1.9 2.4-3.3 3.2-1.3.8-2.6 1.8-3.6 2.9-2.2 2.3-4.4 4.6-6.5 6.9-.4.4-.8.8-1 1.2-.5.8-.2 1.7.7 2.1 1 .4 1.6.3 2.5-.7 4-4.7 8.3-9.2 12.7-13.7 1.5-1.5 3-3.1 4.6-4.6.7-.7.9-1.3.3-2.2-.8-.1-1.2.2-1.6.6-1.3 1.2-2.4 2.8-4.2 3.4-.3.4-.4.7-.6.9"></path>
                                      <path id="adFill-12" class="adst0" d="M.4 16.1h.4c4.8-4.9 9.6-9.9 14.4-14.8.2-.2.4-.5.7-.9-1.6-.7-3.2-.1-4.7-.3C7.7 3.4 4.3 6.8.9 10.2c-.2.2-.5.5-.5.8-.2 1.6-.6 3.2-.3 4.8 0 .1.2.2.3.3"></path>
                                      <path id="adFill-14" class="adst0" d="M20.4 10.4C16.7 13.5 13.3 17 10 20.6c-.2.2-.2.4-.3.8h4.5c2.2-2.3 4.5-4.7 6.8-7.1.3-.3.6-.7.6-1 .1-1.2.2-2.4.3-3.8-.6.3-1.1.6-1.5.9"></path>
                                      <path id="adFill-20" class="adst0" d="M20.2 6c-2.3 2.5-4.6 4.9-7.5 6.8-.4.3-.8.7-1.1 1.1-1.8 2.2-3.7 4.3-5.5 6.5-.3.3-.6.7-.9 1.1 1.4.2 1.4.2 1.8-.2.3-.2.5-.5.7-.7C12 16 16.3 11.4 21 7.2c.8-.7.9-1.6.8-2.6-.8.3-1.1 1-1.6 1.4"></path>
                                      <path id="adFill-37" class="adst0" d="M.4 7.9C2 6.7 7.9 1.1 8.6.1 7.3 0 6.1-.2 5.2.8 3.7 2.6 2.2 4.3.7 6 .3 6.5.2 7.1.4 7.9"></path>
                                      <path id="adFill-41" class="adst0" d="M21.6 16.5c-1.9 1.5-3.4 3.1-5.2 4.9 1.5.6 2.3.3 3.1-.6.5-.6 1.1-1.2 1.7-1.7.7-.8.8-1.5.4-2.6"></path>
                                      <path id="adFill-43" class="adst0" d="M2.5 1.6c.3-.4.6-.8 1-1.4C1.8.3 1 1.5 0 2.2v2.4c1.2-.8 2-1.5 2.9-2.3-.1-.3-.2-.5-.4-.7"></path>
                                          </g><g transform="translate(0 .322)"><g id="adGroup-24"><path id="adFill-22" class="adst0" d="M2 22c.4-.7.2-1.4.2-2 0-4.3-.4-8.6.2-12.9.1-.6.1-1.2 0-1.7-.1-1.2 0-2.3.3-3.5.1-.3-.1-.7-.1-1.2-.6.2-1 .3-1.6.4C1 2 .9 2.8.9 3.6c0 1 .2 1.9.1 2.9 0 4.4-.1 8.9-.2 13.3v2c.5.1.9.1 1.2.2"></path></g>
                                      <path id="adFill-16" class="adst0" d="M3.8 22.1c.4 0 .9-.1 1.3-.1.1-.3.3-.5.3-.8 0-1.2.1-2.4 0-3.7-.2-3.1-.7-6.1-.5-9.2 0-.5-.1-1-.2-1.5-.3-1.4-.4-2.8 0-4.2.1-.5.1-1 .1-1.5 0-.2-.3-.4-.5-.4s-.5.3-.6.5c-.1.4-.1.9-.1 1.3-.1 4.9-.2 9.8-.3 14.6 0 1.5.1 3 .2 4.4l.3.6"></path>
                                      <path id="adFill-18" class="adst0" d="M8.6 21.5c0 .2.1.3.2.5.2 0 .4.1.6.1.2 0 .4-.1.7-.1v-5.3c0-2 .2-4 0-5.9-.3-2.5-.3-5-.1-7.5 0-.6.1-1.2.1-1.7 0-.8-.2-.9-1.4-.9-.1.8-.2 1.7-.2 2.6 0 3 .2 6-.1 9-.1 1.6.1 3.2.1 4.8.1 1.5.1 2.9.1 4.4"></path>
                                      <path id="adFill-25" class="adst0" d="M15.4 21.9c.4 0 .8.1 1.1.1.5-.7.2-1.3.2-1.9V2.2c0-.4-.1-.9-.2-1.3 0-.1-.3-.2-.5-.2s-.4.1-.5.3c-.1.3-.1.6-.1.9 0 1.7 0 3.3-.1 5-.1 2.6-.2 5.2-.2 7.8V21c.1.2.2.6.3.9"></path>
                                      <path id="adFill-27" class="adst0" d="M6.5 20c0 .6.1 1.1.2 1.7 0 .2.1.4.2.5l.3-.2c.1-.2.2-.4.2-.6.1-1.5.3-3.1.3-4.6 0-.5-.1-1-.1-1.5-.2-2.7-.5-5.4-.6-8 0-1.9.3-3.8.3-5.6 0-.9-.3-1.1-1.5-.6 0 1.1-.1 2.2-.1 3.4.3 5.1.5 10.3.8 15.5"></path>
                                      <path id="adFill-29" class="adst0" d="M21 22c.3-.2.6-.3.7-.5.5-1.4.8-2.8.6-4.3-.3-2.4-.3-4.8 0-7.3.1-1.2.4-2.4.4-3.6s-.2-2.4-.4-3.6c-.1-.5-.2-1-.9-.9-.1 2.3-.3 4.6-.4 6.9-.1 1-.2 1.9-.2 2.9 0 2.9.1 5.8.2 8.7V22"></path>
                                      <path id="adFill-31" class="adst0" d="M13.6 22.1h.9c0-2.2-.1-4.2-.1-6.3 0-4.3.1-8.6.2-12.9V.8c-.6-.1-1-.1-1.1.5-.1.4-.1.8-.1 1.2V20c-.1.6-.2 1.3.2 2.1"></path>
                                      <path id="adFill-33" class="adst0" d="M11.4 18.1c.1 1.2 0 2.3.1 3.5 0 .2.2.3.5.8.1-.7.1-1.1.1-1.5.1-3.7.1-7.4.2-11.2 0-.9.2-1.9.2-2.8 0-1.2-.1-2.4-.2-3.6 0-.8-.1-1.5-.1-2.7-.6.4-.9.5-1 .7-.1.3-.1.6-.1.9 0 1.5 0 3.1-.1 4.6 0 .4-.1.8 0 1.2.4 3.3.1 6.7.4 10.1"></path>
                                      <path id="adFill-35" class="adst0" d="M17.6 21.7c.1-.1.2-.2.2-.3.2-2.2.5-4.3.7-6.5.1-.8 0-1.7 0-2.5-.1-1.2-.2-2.4-.2-3.6 0-2 .1-4 .1-6 0-.6.2-1.3-.4-1.8-.1 0-.1 0-.2.1-.7 3.9-.2 7.9-.5 11.9-.2 2.8 0 5.6.1 8.5 0 0 .2.1.2.2"></path>
                                      <path id="adFill-39" class="adst0" d="M19.1 22c.4.1.6-.3.6-1.3 0-3.3.2-6.6.4-9.8.6-5.9-.4-5.9 0-8.7.1-.4.2-.9-.6-1.3-.1.4-.1.6-.2.9L19 6c0 1.4 0 2.8.3 4.2.3 1.3.3 2.7-.1 4-.1.4-.2.9-.2 1.3.2 1.7-.2 3.4-.4 5.1.1.5-.2 1.1.5 1.4"></path></g></g></g></symbol>
                                </use>
                              </svg>
                            </a>
                        </div>
                    </div>

                    <div class="max-w-sm mx-auto px-4 py-8">
                        <h1 class="text-3xl text-slate-800 font-bold mb-6">Добро пожаловать! ✨</h1>
                        <!-- Form -->
                        <form th:action="@{/process_login}" method="post">
                            <div class="space-y-4">
                                <div>
                                    <label class="block text-sm font-medium mb-1" for="username">Почта</label>
                                      <input id="username" th:if='${errors.equals("true")}' class="form-input w-full border-rose-300" type="email" name="username" />
                                      <input id="username" th:unless='${errors.equals("true")}' class="form-input w-full" type="email" name="username" />
                                  <div class="text-xs mt-1 text-rose-500"
                                       th:if='${errors.equals("true")}'>Неверный email адрес или пароль</div>
                                </div>
                                <div>
                                    <label class="block text-sm font-medium mb-1" for="password">Пароль</label>
                                      <input id="password" th:if='${errors.equals("true")}' class="form-input w-full border-rose-300" type="password" name="password" />
                                      <input id="password" th:unless='${errors.equals("true")}' class="form-input w-full" type="password" name="password" />
                                </div>
                            </div>
                            <div class="flex items-center justify-between mt-2 mb-2">
                                <div class="mr-1">
                                    <a class="text-sm underline hover:no-underline" href="reset-password.html">Забыли пароль?</a>
                                </div>
                            </div>
                          <button class="btn bg-indigo-500 hover:bg-indigo-600 text-white ml-3" type="submit">Войти</button>
                        </form>
                        <!-- Footer -->
                        <div class="pt-5 mt-6 border-t border-slate-200">
                            <div class="text-sm">
                                Отсутствует аккаунт? <a class="font-medium text-indigo-500 hover:text-indigo-600" th:href="@{/registration}">Зарегистрироваться</a>
                            </div>
                            <!-- Warning -->

                        </div>

                    </div>

                </div>

            </div>
            <!-- Image -->
            <div class="hidden md:block absolute top-0 bottom-0 right-0 md:w-1/2" aria-hidden="true">
                <img class="object-cover object-center w-full h-full" th:src="@{/image/auth-image.jpg}" width="760" height="1024" alt="Authentication image" />
<!--                <img class="absolute top-1/4 left-0 -translate-x-1/2 ml-8 hidden lg:block"-->
<!--                     style="border-radius: 4px; border: 2px solid black; margin:auto"-->
<!--                     th:src="@{/images/auth-decoration.png}" width="218" height="224" alt="Authentication decoration" />-->
            </div>
        </div>
    </main>
    <script th:src="@{/app/js/vendors/alpinejs.min.js}" defer></script>
</body>
</html>
